+56-normalizaciónteléfonos-cb6pgEw9epCavDkx.json
{"id":"cb6pgEw9epCavDkx","createdAt":"2024-12-03T20:43:00.878Z","updatedAt":"2024-12-10T19:51:18.615Z","name":"+56 NormalizaciónTeléfonos","active":true,"nodes":[{"parameters":{"path":"edb39e00-59a9-47f1-8973-ee6bf3bcbc224962","options":{}},"id":"200dc4f2-7505-48fb-901d-9c4570eac987","name":"Webhook","type":"n8n-nodes-base.webhook","position":[260,180],"webhookId":"cfbd8577-f3e4-4fb7-952c-9c28aa571527","typeVersion":1},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"numero_telefono","value":"={{ $json.query.phone }}"},{"name":"email","value":"={{ $json.query.email }}"},{}]},"options":{}},"id":"1129b414-43c4-47e4-8d31-448bb1ac47c6","name":"Parsear","type":"n8n-nodes-base.set","position":[540,180],"typeVersion":2},{"parameters":{"authentication":"appToken","email":"={{ $json.email }}","additionalFields":{"phoneNumber":"={{ $json.phone }}"},"options":{"resolveData":false}},"id":"fbf1ef56-ef76-499d-8532-36812c02a35d","name":"HubSpot2","type":"n8n-nodes-base.hubspot","typeVersion":2,"position":[1000,180],"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}},{"parameters":{"jsCode":"const documentoTributario = $input.first().json.numero_telefono;\nconst hsObjectId = $input.first().json.email;\n\n// Limpieza inicial del número\nconst numeroLimpio = documentoTributario\n  .replace(/\\./g, '')\n  .replace(/-/g, '')\n  .replace(/\\(/g, '')\n  .replace(/\\)/g, '')\n  .replace(/ /g, '');\n\n// Normalización: si el número tiene 9 dígitos o más, toma los últimos 9; de lo contrario, asigna \"0\".\nconst numero = numeroLimpio.length >= 9 \n  ? numeroLimpio.slice(-9)  // Toma los últimos 9 caracteres\n  : \"0\";\n\n// Agregar el prefijo +56 al número\nconst numeroConCodigoPais = numero !== \"0\" \n  ? `+56${numero}` \n  : \"0\";\n\n// Imprime el número con el código del país\nconsole.log(numeroConCodigoPais);\n\n// Retorna el objeto con los datos procesados\nreturn {\n  \"phone\": numeroConCodigoPais,\n  \"email\": hsObjectId\n};"},"id":"fbf8746e-2b56-4985-9524-f98340edaf28","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[760,180]}],"connections":{"Parsear":{"main":[[{"node":"Code","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Parsear","type":"main","index":0}]]},"Code":{"main":[[{"node":"HubSpot2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"pinData":{},"versionId":"92b089f0-7ac9-4602-8b3f-f0242dc277fe","triggerCount":1,"tags":[]}