569-teléfonos-test-cb6pgEw9epCavDkx.json
{"id":"cb6pgEw9epCavDkx","createdAt":"2024-12-03T20:43:00.878Z","updatedAt":"2024-12-03T20:59:57.819Z","name":"569 Teléfonos TEST","active":false,"nodes":[{"parameters":{"path":"edb39e00-59a9-47f1-8973-ee6bf3bcbc224962","options":{}},"id":"200dc4f2-7505-48fb-901d-9c4570eac987","name":"Webhook","type":"n8n-nodes-base.webhook","position":[260,180],"webhookId":"cfbd8577-f3e4-4fb7-952c-9c28aa571527","typeVersion":1},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"numero_telefono","value":"={{ $json.query.phone }}"},{"name":"email","value":"={{ $json.query.email }}"},{}]},"options":{}},"id":"1129b414-43c4-47e4-8d31-448bb1ac47c6","name":"Parsear","type":"n8n-nodes-base.set","position":[540,180],"typeVersion":2},{"parameters":{"authentication":"appToken","email":"={{ $json.email }}","additionalFields":{"phoneNumber":"={{ $json.phone }}"},"options":{"resolveData":false}},"id":"fbf1ef56-ef76-499d-8532-36812c02a35d","name":"HubSpot2","type":"n8n-nodes-base.hubspot","typeVersion":2,"position":[1000,180],"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}},{"parameters":{"language":"python","pythonCode":"# Extracción de datos desde el nodo anterior (formato esperado en n8n)\ndocumento_tributario = $json[\"query\"][\"numero_telefono\"]\nhs_object_id = $json[\"query\"][\"email\"]\n\n# Limpieza inicial del número\nnumero_limpio = (documento_tributario\n                 .replace(\".\", \"\")\n                 .replace(\"-\", \"\")\n                 .replace(\"(\", \"\")\n                 .replace(\")\", \"\")\n                 .replace(\" \", \"\"))\n\n# Normalización: si el número tiene 9 dígitos o más, toma los últimos 9; de lo contrario, asigna \"0\".\nnumero = numero_limpio[-9:] if len(numero_limpio) >= 9 else \"0\"\n\n# Retorna el objeto con los datos procesados\nreturn {\n    \"json\": {\n        \"phone\": numero,\n        \"email\": hs_object_id\n    }\n}"},"id":"fbf8746e-2b56-4985-9524-f98340edaf28","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[760,180]}],"connections":{"Parsear":{"main":[[{"node":"Code","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Parsear","type":"main","index":0}]]},"Code":{"main":[[{"node":"HubSpot2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"pinData":{},"versionId":"2d55fc25-3301-4030-a6a4-91f8b02f3109","triggerCount":1,"tags":[]}