[backup]-hs-companies-v60dOY77STnKFmLZ.json
{"id":"v60dOY77STnKFmLZ","createdAt":"2023-07-13T03:35:15.228Z","updatedAt":"2023-08-17T17:09:08.807Z","name":"[backup] HS Companies","active":false,"nodes":[{"parameters":{},"id":"73cd5875-d581-4a52-b165-a12df5fd4b04","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","position":[-1560,340],"typeVersion":1},{"parameters":{"url":"https://api.hubapi.com/crm/v3/objects/companies","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendQuery":true,"queryParameters":{"parameters":[{"name":"after","value":"={{ $json.hubspot_request_after }}"},{"name":"limit","value":"100"},{"name":"properties","value":"estado_empresa,hubspot_owner_id,rut_empresa,estado_validado, name"}]},"options":{}},"id":"807853e1-f072-41d4-bfc5-a9345c2de8cc","name":"Hubspot request","type":"n8n-nodes-base.httpRequest","position":[-780,340],"executeOnce":true,"retryOnFail":true,"typeVersion":3,"credentials":{"hubspotAppToken":{"id":"v4ZAdSTpYIW5xJU8","name":"HubSpot App Token Cumplo"}},"notes":"request facturas"},{"parameters":{"amount":"0.3","unit":"seconds"},"id":"ffa89fe2-0730-480e-874b-685006fdb553","name":"Wait","type":"n8n-nodes-base.wait","position":[-80,760],"webhookId":"1093fb4c-86ca-4707-9385-70cb763b804c","typeVersion":1},{"parameters":{"fieldToSplitOut":"results","options":{}},"id":"3c4f409a-2520-4a75-8dc3-23fe9663b3fe","name":"Split results","type":"n8n-nodes-base.itemLists","position":[-520,340],"typeVersion":2},{"parameters":{"table":{"__rl":true,"mode":"list","value":"companies","cachedResultName":"companies"},"options":{}},"id":"c03876f6-1f0f-4d14-b9a9-9f3abaf13798","name":"Insert","type":"n8n-nodes-base.mySql","position":[-20,340],"typeVersion":2.1,"credentials":{"mySql":{"id":"g3Y8IAk1e9fcXuJN","name":"DW Production - Hubspot"}}},{"parameters":{"operation":"deleteTable","table":{"__rl":true,"mode":"list","value":"companies","cachedResultName":"companies"},"options":{}},"id":"39f8d2d8-09ed-4531-afec-a900c6a861dc","name":"Truncate","type":"n8n-nodes-base.mySql","position":[-1320,340],"typeVersion":2.1,"credentials":{"mySql":{"id":"g3Y8IAk1e9fcXuJN","name":"DW Production - Hubspot"}}},{"parameters":{"values":{"number":[{"name":"hubspot_request_after","value":1}]},"options":{}},"id":"35249711-bab0-4360-9799-763ddb827efb","name":"Initialize after","type":"n8n-nodes-base.set","position":[-1060,340],"typeVersion":1},{"parameters":{"values":{"number":[{"name":"hubspot_request_after","value":"={{ $node[\"Hubspot request\"].json.paging.next.after }}"}]},"options":{}},"id":"795c4b1f-68a6-44a7-885f-3716ea8c7d1f","name":"Set after loop","type":"n8n-nodes-base.set","position":[80,560],"typeVersion":1},{"parameters":{"keepOnlySet":true,"values":{"number":[{"name":"id","value":"={{ $json.id }}"},{"name":"owner_id","value":"={{ $json.properties.hubspot_owner_id }}"}],"string":[{"name":"estado_empresa","value":"={{ $json.properties.estado_empresa }}"},{"name":"rut_proveedor","value":"={{ $json.properties.rut_empresa }}"},{"name":"company_name","value":"={{ $json.properties.name }}"}],"boolean":[{"name":"estado_validado","value":"={{ $json.properties.estado_validado }}"}]},"options":{}},"id":"612c2bcd-05a1-4bb3-83da-0511987ed54b","name":"Set variables","type":"n8n-nodes-base.set","position":[-300,340],"typeVersion":2},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $node['Hubspot request'].json.paging.next.after }}","value2":"={{ null }}"}]},"combineOperation":"any"},"id":"812ab32a-de0d-4aa9-8bbd-0ec9155677c4","name":"Is pagination finished","type":"n8n-nodes-base.if","position":[260,340],"executeOnce":true,"typeVersion":1}],"connections":{"Wait":{"main":[[{"node":"Hubspot request","type":"main","index":0}]]},"Insert":{"main":[[{"node":"Is pagination finished","type":"main","index":0}]]},"Truncate":{"main":[[{"node":"Initialize after","type":"main","index":0}]]},"Set variables":{"main":[[{"node":"Insert","type":"main","index":0}]]},"Split results":{"main":[[{"node":"Set variables","type":"main","index":0}]]},"Set after loop":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Hubspot request":{"main":[[{"node":"Split results","type":"main","index":0}]]},"Initialize after":{"main":[[{"node":"Hubspot request","type":"main","index":0}]]},"Is pagination finished":{"main":[[],[{"node":"Set after loop","type":"main","index":0}]]},"When clicking \"Execute Workflow\"":{"main":[[{"node":"Truncate","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"5ab0d073-e15a-4665-be5d-2245c259b1c8","triggerCount":0,"tags":[{"id":"iL2ywDmPqVO6K3AI","createdAt":"2023-08-17T17:06:40.880Z","updatedAt":"2023-08-17T17:06:40.880Z","name":"hubspot"},{"id":"v25eD48xihLAmSfO","createdAt":"2023-07-14T19:51:55.716Z","updatedAt":"2023-07-14T19:51:55.716Z","name":"bi"}]}