[cl]-campaña-always-on-J6D45NDtlePgISG1.json
{"id":"J6D45NDtlePgISG1","createdAt":"2023-07-13T03:35:15.280Z","updatedAt":"2023-09-20T13:59:04.817Z","name":"[CL] Campaña Always On","active":true,"nodes":[{"parameters":{"path":"edb39e00-59a9-47f1-8973-ee6bf3bcbc21","options":{}},"id":"227aef85-7b9e-4d87-9eae-090e94cf4496","name":"Webhook","type":"n8n-nodes-base.webhook","position":[300,740],"webhookId":"edb39e00-59a9-47f1-8973-ee6bf3bcbc21","typeVersion":1},{"parameters":{"method":"POST","url":"=https://api.hubapi.com/crm/v3/objects/companies/search/","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendBody":true,"specifyBody":"json","jsonBody":"={\"filterGroups\":[{\"filters\":[{\"value\":\"{{ $json.document_number }}\",\"propertyName\":\"rut_empresa\",\"operator\":\"EQ\"}]}],\"sorts\":[\"string\"],\"properties\":[\"rut\"],\"limit\":1,\"after\":0}  ","options":{}},"id":"9b0897c3-2490-4325-9446-4029c881494b","name":"Search Hubspot Company","type":"n8n-nodes-base.httpRequest","position":[900,460],"typeVersion":3,"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"documento_tributario","value":"={{ $json.query.rut_empresa }}"},{"name":"hs_object_id","value":"={{ $json.query.hs_object_id }}"}]},"options":{}},"id":"6f99fbb1-6931-43b9-bf87-7178d5843820","name":"Parsear","type":"n8n-nodes-base.set","position":[460,460],"typeVersion":2},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.total }}","operation":"equal"}]}},"id":"2f388d7a-2d0f-4767-a7d6-2f23d53d1c31","name":"IF","type":"n8n-nodes-base.if","position":[1080,760],"typeVersion":1},{"parameters":{"authentication":"appToken","resource":"company","name":"={{ $node.Code.json.document_number }}","additionalFields":{"customPropertiesUi":{"customPropertiesValues":[{"property":"documento_tributario","value":"={{ $node.Code.json.document_number }}"},{"property":"origen_de_cliente","value":"Always On"},{"property":"registro_always_on","value":"[CL] Always On"},{"property":"estado_empresa","value":"Disponible"},{"property":"domain","value":"={{ $node.Code.json.document_number }}.com"}]}}},"id":"68938d9e-3ee9-4e47-b71e-9ad8e98317c8","name":"HubSpot","type":"n8n-nodes-base.hubspot","position":[1280,500],"typeVersion":1,"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"CompanyId","value":"={{ $json.companyId }}"}]},"options":{}},"id":"fc742bd2-125e-4d1b-9d1d-e8b6537310a6","name":"SetCompanyId","type":"n8n-nodes-base.set","position":[1520,500],"typeVersion":2},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"CompanyId","value":"={{ $json.results[0].id }}"}]},"options":{}},"id":"581b340f-e61f-4188-8411-230e52420b25","name":"Set","type":"n8n-nodes-base.set","position":[1320,900],"typeVersion":2},{"parameters":{"jsCode":"const documentoTributario = $input.first().json.documento_tributario;\nconst hsObjectId = $input.first().json.hs_object_id;\n\nconst rut = documentoTributario.replace(/\\./g, '').replace(/-/g, '');\n\nconsole.log(rut);\nreturn {\n  \"document_number\": rut,\n  \"hs_object_id\": hsObjectId\n};\n"},"id":"43b860d1-0b81-4b1b-8fbf-6c1e1a85b2aa","name":"Code","type":"n8n-nodes-base.code","position":[640,460],"typeVersion":1},{"parameters":{"method":"PUT","url":"=https://api.hubapi.com/crm/v3/objects/contact/{{ $node.Parsear.json.hs_object_id }}/associations/company/{{ $node.SetCompanyId.json.CompanyId}}/contact_to_company  ","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","options":{"response":{"response":{}}}},"id":"3efc36ba-b3a3-482d-83c3-e4630b1b8e88","name":"Link contact to company","type":"n8n-nodes-base.httpRequest","position":[1760,500],"typeVersion":3,"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}},{"parameters":{"method":"PUT","url":"=https://api.hubapi.com/crm/v3/objects/contact/{{ $node.Parsear.json.hs_object_id }}/associations/company/{{ $node.IF.json.results[0].id }}/contact_to_company  ","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","options":{"response":{"response":{}}}},"id":"7d76ee20-84f3-4b8e-8228-f1bb99fc3ae0","name":"Link contact to company1","type":"n8n-nodes-base.httpRequest","position":[1540,900],"typeVersion":3,"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}},{"parameters":{"authentication":"appToken","resource":"company","operation":"update","companyId":{"__rl":true,"mode":"id","value":"={{ $node.Set.json.CompanyId }}"},"updateFields":{"customPropertiesUi":{"customPropertiesValues":[{"property":"registro_always_on","value":"[CL] Always On"}]}}},"id":"5574501f-287d-4fb2-87f2-7abe137ee95d","name":"HubSpot1","type":"n8n-nodes-base.hubspot","position":[1760,900],"typeVersion":2,"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}}],"connections":{"IF":{"main":[[{"node":"HubSpot","type":"main","index":0}],[{"node":"Set","type":"main","index":0}]]},"Set":{"main":[[{"node":"Link contact to company1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Search Hubspot Company","type":"main","index":0}]]},"HubSpot":{"main":[[{"node":"SetCompanyId","type":"main","index":0}]]},"Parsear":{"main":[[{"node":"Code","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Parsear","type":"main","index":0}]]},"SetCompanyId":{"main":[[{"node":"Link contact to company","type":"main","index":0}]]},"Search Hubspot Company":{"main":[[{"node":"IF","type":"main","index":0}]]},"Link contact to company1":{"main":[[{"node":"HubSpot1","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"d5397af4-0dec-46e8-8e82-457202d16cd2","triggerCount":1,"tags":[]}