[oscar]updateestadoenrolamientofapro-qdnnMX02PYBHbh6t.json
{"id":"qdnnMX02PYBHbh6t","createdAt":"2023-07-13T15:40:19.310Z","updatedAt":"2024-01-20T00:00:00.044Z","name":"[Oscar]UpdateEstadoEnrolamientoFapro","active":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":4}]}},"id":"3b8eb647-9418-4866-846e-59261c78ac2d","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-1920,1140],"typeVersion":1},{"parameters":{"method":"POST","url":"=https://api.hubapi.com/crm/v3/objects/companies/search/","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendBody":true,"specifyBody":"json","jsonBody":"={\"filterGroups\":[{\"filters\":[{\"value\":\"{{ $node['Split In Batches'].json.identificador }}\",\"propertyName\":\"rut_empresa\",\"operator\":\"EQ\"}]}],\"sorts\":[\"string\"],\"properties\":[\"rut\"],\"limit\":1,\"after\":0}   ","options":{}},"id":"ff334789-6fed-4c8b-ae76-7bc6993324f8","name":"Search Hubspot Company","type":"n8n-nodes-base.httpRequest","position":[-100,480],"typeVersion":3,"credentials":{"hubspotAppToken":{"id":"e8QkvMGzjnAa7Q0k","name":"TokenHubspot(n8n_test)"}}},{"parameters":{"batchSize":1,"options":{}},"id":"8dca4dad-c97a-4330-ab79-144c4e6d2117","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","position":[-640,500],"typeVersion":2},{"parameters":{"authentication":"appToken","resource":"company","operation":"get","companyId":"={{ $json.results[0].id }}","additionalFields":{}},"id":"a321070c-87ea-4fae-92c9-bbccd7f4b964","name":"GetCompanyHubspot","type":"n8n-nodes-base.hubspot","position":[460,320],"typeVersion":1,"credentials":{"hubspotAppToken":{"id":"e8QkvMGzjnAa7Q0k","name":"TokenHubspot(n8n_test)"}}},{"parameters":{"authentication":"appToken","resource":"company","operation":"update","companyId":"={{ $json.companyId }}","updateFields":{"customPropertiesUi":{"customPropertiesValues":[{"property":"estado_enroladmiento_fapro","value":"Activo"}]}}},"id":"610b2569-8316-4a41-82a3-8ea69bccef4f","name":"HubSpot","type":"n8n-nodes-base.hubspot","position":[760,320],"typeVersion":1,"credentials":{"hubspotAppToken":{"id":"e8QkvMGzjnAa7Q0k","name":"TokenHubspot(n8n_test)"}}},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.total }}","operation":"notEqual"}]}},"id":"bd1232fc-53f9-48a2-a3c6-09da2a6a3e57","name":"IF3","type":"n8n-nodes-base.if","position":[220,480],"typeVersion":1},{"parameters":{"keepOnlySet":true,"values":{"number":[{"name":"Rut","value":"={{ $node.GetCompanyProfile.json.data.company.rut }}"}],"string":[{"name":"BusinessName","value":"={{ $node.GetCompanyProfile.json.data.company.business_name }}"},{"name":"status","value":"={{ $node.GetCompanyProfile.json.data.company.connected }}"}]},"options":{}},"id":"c073da34-ce1c-48cf-afc9-5d1aa1fa0294","name":"Set3","type":"n8n-nodes-base.set","position":[780,840],"typeVersion":2},{"parameters":{"keepOnlySet":true,"options":{}},"id":"ee3a6387-1507-437a-b3a8-52f9a5c07143","name":"Set4","type":"n8n-nodes-base.set","position":[1140,580],"executeOnce":true,"typeVersion":2},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"empresas","mode":"list","cachedResultName":"empresas"},"returnAll":true,"where":{"values":[{"column":"activo","value":"true"},{"column":"credenciales_vigentes","value":"true"}]},"options":{}},"id":"c552e7d8-c84a-41e5-9183-df421aaa0f5c","name":"Postgres","type":"n8n-nodes-base.postgres","typeVersion":2.2,"position":[-1560,980],"credentials":{"postgres":{"id":"lfpZXUz0qzLZHTuC","name":"ada-extractor-prod"}}}],"connections":{"IF3":{"main":[[{"node":"GetCompanyHubspot","type":"main","index":0}],[{"node":"Set3","type":"main","index":0}]]},"Set3":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Set4":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"HubSpot":{"main":[[{"node":"Set4","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Postgres","type":"main","index":0}]]},"Split In Batches":{"main":[[{"node":"Search Hubspot Company","type":"main","index":0}]]},"GetCompanyHubspot":{"main":[[{"node":"HubSpot","type":"main","index":0}]]},"Search Hubspot Company":{"main":[[{"node":"IF3","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[21]}},"pinData":{},"versionId":"3762c864-c17a-4b1e-bac9-fbd205e94e21","triggerCount":1,"tags":[]}