[oscar]-desconectarclientes-BToNtcAzPvNuccCD.json
{"id":"BToNtcAzPvNuccCD","createdAt":"2023-07-13T14:38:29.672Z","updatedAt":"2023-11-10T19:07:27.329Z","name":"[Oscar] DesconectarClientes","active":true,"nodes":[{"parameters":{"method":"POST","url":"https://cumplo.fapro.app/api/v1.0/login","sendQuery":true,"queryParameters":{"parameters":[{"name":"email","value":"api@cumplo.com"},{"name":"password","value":"TKB6Thdmt2WacP3B8z9h"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Accept","value":"application/json"}]},"options":{}},"id":"13bdd7dc-062f-49c2-a80a-0407349e1d5f","name":"LogginFapro","type":"n8n-nodes-base.httpRequest","position":[840,480],"typeVersion":3},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"rut_proveedor","value":"={{ $json.query.rut_proveedor.substring(0,$json.query.rut_proveedor.length -1)}}"},{"name":"dealId","value":"={{ $json.query.hs_object_id }}"}]},"options":{}},"id":"3e0bc722-d331-4bf0-92ec-a25b020c549d","name":"Set1","type":"n8n-nodes-base.set","position":[660,480],"typeVersion":1},{"parameters":{"method":"POST","url":"https://cumplo.fapro.app/api/v1.0/company/disable","sendQuery":true,"queryParameters":{"parameters":[{"name":"rut","value":"={{$node[\"Set1\"].json[\"rut_proveedor\"] }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node[\"LogginFapro\"].json[\"data\"][\"accessToken\"] }}"}]},"options":{}},"id":"21804a98-7351-4c63-aafb-0297ea2fb38d","name":"HTTP Request2","type":"n8n-nodes-base.httpRequest","position":[1020,480],"typeVersion":3,"alwaysOutputData":true,"continueOnFail":true},{"parameters":{"path":"91ff5b5c-efbd-44fa-83b5-ab386b93df2f","options":{}},"id":"e466c125-786c-4aa1-9e84-f90ec511c0c0","name":"Webhook","type":"n8n-nodes-base.webhook","position":[460,460],"webhookId":"91ff5b5c-efbd-44fa-83b5-ab386b93df2f","typeVersion":1}],"connections":{"Set1":{"main":[[{"node":"LogginFapro","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Set1","type":"main","index":0}]]},"LogginFapro":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request2":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"pinData":{},"versionId":"68d46f09-cb12-49c4-a2af-a92a648178a1","triggerCount":1,"tags":[]}