actualizar-asignaciones-de-operaciones-en-financing-y-loans-9nPV5N7gBy45wzDO.json
{"id":"9nPV5N7gBy45wzDO","createdAt":"2023-07-13T03:35:15.071Z","updatedAt":"2023-12-07T00:23:33.064Z","name":"Actualizar asignaciones de operaciones en financing y loans","active":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"40 * * * *"}]}},"id":"dd927bde-0e05-4790-b1ee-634f07c391df","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[500,340],"typeVersion":1,"alwaysOutputData":true,"disabled":true},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"mode":"list","value":"12-DYz4hra812PE0NvF9Mi6-C6Gkc1KJdP7Vo8vyukPE","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12-DYz4hra812PE0NvF9Mi6-C6Gkc1KJdP7Vo8vyukPE/edit?usp=drivesdk","cachedResultName":"Asignaciones Prontopago"},"sheetName":{"__rl":true,"mode":"list","value":353930098,"cachedResultUrl":"https://docs.google.com/spreadsheets/d/12-DYz4hra812PE0NvF9Mi6-C6Gkc1KJdP7Vo8vyukPE/edit#gid=353930098","cachedResultName":"Hoja 1"},"options":{}},"id":"7ca60b8d-1fe5-4136-887d-5ef2762fb44d","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","position":[720,340],"typeVersion":3,"credentials":{"googleApi":{"id":"W6zGdJ4A2Pv7SxQl","name":"GSheets Cumplo"}},"disabled":true},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"rut","value":"={{ String($json.enterprise_document_number) }}"},{"name":"ejecutivo","value":"={{ String($json['propietario hs']) }}"}]},"options":{}},"id":"f9008ad6-93d2-418f-8f94-a3429108b1d3","name":"Set","type":"n8n-nodes-base.set","position":[940,340],"typeVersion":2,"disabled":true},{"parameters":{"operation":"removeDuplicates"},"id":"5db3d37a-8553-44e1-a2f8-9217ecafb88b","name":"Item Lists","type":"n8n-nodes-base.itemLists","position":[1160,340],"typeVersion":2.1,"disabled":true},{"parameters":{"operation":"executeQuery","query":"update api_financing_common.internal_requests_internalrequest ir set ir.representative_id = (select id from api_registry_common.core_user where email = $1)where ir.requester_id = (select id from api_financing_common.core_enterprise where document_number = $2) and ir.created_at between  DATE_ADD(DATE_SUB(LAST_DAY(CURDATE()), INTERVAL 2 MONTH ), INTERVAL 1 DAY) and LAST_DAY(CURDATE());","options":{"queryReplacement":"={{ $json.ejecutivo }}, {{ $json.rut }}"}},"id":"46fefa21-544e-40a4-b56e-9bbc991e0505","name":"MySQL1","type":"n8n-nodes-base.mySql","position":[1400,340],"typeVersion":2.1,"credentials":{"mySql":{"id":"L0Gh5YPv7Tqaz9ur","name":"Kimchi Write MySQL account"}},"disabled":true},{"parameters":{"operation":"executeQuery","query":"select distinct upper(c.rut_proveedor), o.email from hubspot.companies c left join hubspot.owners o on c.owner_id = o.id\nwhere rut_proveedor is not null;","options":{}},"id":"7d1d8101-e569-4307-8419-d46231951111","name":"MySQL","type":"n8n-nodes-base.mySql","position":[740,580],"typeVersion":2.1,"credentials":{"mySql":{"id":"cY4StP9H8b1X2KwG","name":"Conexión dw Cumplo"}},"disabled":true},{"parameters":{"mode":"combine","mergeByFields":{"values":[{"field1":"id_2","field2":"id_1"}]},"joinMode":"keepNonMatches","options":{}},"id":"f52640b6-46bd-46ee-92e1-31a135008292","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1500,1000],"disabled":true},{"parameters":{"mode":"combine","mergeByFields":{"values":[{"field1":"id_1","field2":"id_3"}]},"joinMode":"keepNonMatches","options":{}},"id":"9f68e50b-c2cb-4f18-bae7-6ca784344409","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1500,1220],"disabled":true},{"parameters":{"operation":"executeQuery","query":"select core_user.id as id_1,\n       core_user.email as email_1,\n       core_profile.document_number as document_number_1,\n       core_profile.last_name as last_name_1,\n       core_profile.first_name as first_name_1\n\nfrom api_registry_common.core_user\n         inner join api_registry_common.core_profile\n                    on core_user.id = core_profile.user_id","options":{}},"id":"a6be8517-5d29-419b-936e-6138725f8406","name":"api_registry_common","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[1140,1120],"credentials":{"mySql":{"id":"5j2ZltD8we7h9i1F","name":"Kimchi Read MySQL account"}},"disabled":true},{"parameters":{"operation":"executeQuery","query":"select id as id_2, document_number as document_number_2, name as name_2,\nhas_bank_account from api_financing_common.core_user","options":{}},"id":"16fc3505-e658-4cf0-9bb5-638bd5bb13dc","name":"api_financing_common","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[1140,940],"credentials":{"mySql":{"id":"5j2ZltD8we7h9i1F","name":"Kimchi Read MySQL account"}},"disabled":true},{"parameters":{"operation":"executeQuery","query":"select id as id_3, document_number as document_number_3, name as name_3,email as email_3\n from api_loan_common.core_user","options":{}},"id":"6cd263fb-56e2-415f-925f-fdb3d7c8b196","name":"api_loan_common","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[1140,1320],"credentials":{"mySql":{"id":"5j2ZltD8we7h9i1F","name":"Kimchi Read MySQL account"}},"disabled":true},{"parameters":{"operation":"executeQuery","query":"select core_user.id,\n       #core_user.email,\n       core_profile.document_number,\n       concat(COALESCE(first_name, ''), ' ', COALESCE(last_name, '')) as name,\n       0                                                              as has_bank_account\n\nfrom api_registry_common.core_user\n         inner join api_registry_common.core_profile\n                    on core_user.id = core_profile.user_id;","options":{}},"id":"11dc7642-961d-47a3-aeca-1e3326abbbec","name":"api_registry_common1","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[340,840],"credentials":{"mySql":{"id":"5j2ZltD8we7h9i1F","name":"Kimchi Read MySQL account"}}},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"core_user","mode":"list","cachedResultName":"core_user"},"columnToMatchOn":"id","options":{}},"id":"47869dc7-ca64-4d2b-bd05-cf918509c8e6","name":"MySQL2","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[560,840],"credentials":{"mySql":{"id":"ZOk8Jv4CnQ8P1wLe","name":"Kimchi production financing"}},"disabled":true},{"parameters":{"operation":"executeQuery","query":"select core_user.id,\n       core_profile.document_number,\n       concat(COALESCE(first_name, ''), ' ', COALESCE(last_name, '')) as name,\n       core_user.email\n\nfrom api_registry_common.core_user\n         inner join api_registry_common.core_profile\n                    on core_user.id = core_profile.user_id","options":{}},"id":"0e3f7e6a-fe03-415e-a436-744871b00d1f","name":"api_registry_common2","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[340,1080],"credentials":{"mySql":{"id":"5j2ZltD8we7h9i1F","name":"Kimchi Read MySQL account"}},"disabled":true},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"core_user","mode":"list","cachedResultName":"core_user"},"columnToMatchOn":"id","options":{}},"id":"52a127d9-2bfb-4ac8-a0f6-21ce4628bf22","name":"MySQL3","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[560,1080],"credentials":{"mySql":{"id":"UiW1IbcrksB9QCYW","name":"Kimchi production loans"}},"disabled":true},{"parameters":{"operation":"executeQuery","query":"select distinct upper(c.rut_proveedor) as enterprise_document_number, o.email as representative_email from hubspot.companies c left join hubspot.owners o on c.owner_id = o.id\nwhere rut_proveedor is not null\n#and rut_proveedor in (\n#'77760001K')\n#limit 0,3000\n;","options":{}},"id":"16272b42-c056-4a5d-bb8d-8f93aa31838a","name":"asignaciones en HS","type":"n8n-nodes-base.mySql","position":[2800,1080],"typeVersion":2.1,"credentials":{"mySql":{"id":"cY4StP9H8b1X2KwG","name":"Conexión dw Cumplo"}}},{"parameters":{"mode":"combine","mergeByFields":{"values":[{"field1":"representative_email","field2":"representative_email"}]},"options":{}},"id":"dc7c255f-ea60-4070-a561-854f5c0f9494","name":"empresas con ejecutivos válidos","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[3100,980]},{"parameters":{"operation":"executeQuery","query":"select core_user.id as representative_id,\n       core_user.email as representative_email\n\nfrom api_registry_common.core_user\n         inner join api_registry_common.core_profile\n                    on core_user.id = core_profile.user_id","options":{}},"id":"a31d02f7-79da-49c2-ae17-6e103d6aabe1","name":"ejecutivos en registry","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[2800,880],"credentials":{"mySql":{"id":"5j2ZltD8we7h9i1F","name":"Kimchi Read MySQL account"}}},{"parameters":{"operation":"executeQuery","query":"select distinct upper(document_number) as enterprise_document_number,\n                ce.id                  as enterprise_id\nfrom core_enterprise ce\n         inner join loans_loan l on ce.id = l.requester_id\n         inner join loan_requests_loanrequest lr on l.loan_request_id = lr.id\n    and l.state != 'canceled'\n#and lr.requester_id=1498\n    and\nlr.created_at >= '2023-11-01' and lr.created_at < '2023-12-01';\n#                                                    lr.created_at between DATE_ADD(\n#                                                            DATE_SUB(LAST_DAY(CURDATE()), INTERVAL 1 MONTH), INTERVAL 1\n#                                                            DAY) and LAST_DAY(CURDATE());","options":{}},"id":"52027706-59b9-410f-bf29-299e735c2f5f","name":"empresas con operaciones en loans","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[3100,1240],"credentials":{"mySql":{"id":"UiW1IbcrksB9QCYW","name":"Kimchi production loans"}}},{"parameters":{"mode":"combine","mergeByFields":{"values":[{"field1":"enterprise_document_number","field2":"enterprise_document_number"}]},"options":{}},"id":"19ef442d-f700-4d9f-a4dd-d7afb6f9c378","name":"asignaciones válidas","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[3400,1100]},{"parameters":{"operation":"executeQuery","query":"update internal_requests_internalrequest ir \nset ir.representative_id = $1 \nwhere ir.requester_id = $2 \nand ir.created_at >= '2023-11-01' and ir.created_at < '2023-12-01'\n","options":{"queryReplacement":"={{ $json.representative_id }}, {{ $json.enterprise_id }}"}},"id":"668f4d8f-dfa8-4669-bfbb-bb59fee359ef","name":"update en financing","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[3880,980],"credentials":{"mySql":{"id":"ZOk8Jv4CnQ8P1wLe","name":"Kimchi production financing"}}},{"parameters":{"operation":"executeQuery","query":"update loan_requests_loanrequest lr\nset lr.representative_id = $1\nwhere lr.requester_id = $2\n  and lr.created_at >= '2023-11-01' and lr.created_at < '2023-12-01'\n","options":{"queryReplacement":"={{ $json.representative_id }}, {{ $json.enterprise_id }}"}},"id":"39699a4e-cafb-42cb-b6ea-e870c2393e51","name":"update en loans","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[3880,1220],"credentials":{"mySql":{"id":"UiW1IbcrksB9QCYW","name":"Kimchi production loans"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":23,"triggerAtMinute":10}]}},"id":"b9c132eb-d56a-4f33-92fe-9b1406250631","name":"Schedule Trigger1","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[2460,980]},{"parameters":{"keepOnlySet":true,"options":{}},"id":"f3bdfcd9-9bc4-42de-9bf6-a8b301d17eb1","name":"Set1","type":"n8n-nodes-base.set","typeVersion":2,"position":[820,980],"executeOnce":true,"disabled":true},{"parameters":{"operation":"executeQuery","query":"select distinct upper(c.rut_proveedor) as enterprise_document_number, o.email as representative_email from hubspot.companies c left join hubspot.owners o on c.owner_id = o.id\nwhere rut_proveedor is not null\n#and rut_proveedor in (\n#'77760001K')\n#limit 0,3000\n;","options":{}},"id":"a4a65f5c-98b4-41e3-b396-58cc7c6f0292","name":"asignaciones en HS1","type":"n8n-nodes-base.mySql","position":[2720,1700],"typeVersion":2.1,"credentials":{"mySql":{"id":"cY4StP9H8b1X2KwG","name":"Conexión dw Cumplo"}},"disabled":true},{"parameters":{"mode":"combine","mergeByFields":{"values":[{"field1":"representative_email","field2":"representative_email"}]},"options":{}},"id":"fd291051-5714-4566-acfd-fb37bd6a2b54","name":"empresas con ejecutivos válidos1","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[3020,1600],"disabled":true},{"parameters":{"operation":"executeQuery","query":"select core_user.id as representative_id,\n       core_user.email as representative_email\n\nfrom api_registry_common.core_user\n         inner join api_registry_common.core_profile\n                    on core_user.id = core_profile.user_id","options":{}},"id":"d5f9b98d-07d5-4cb5-98b6-06bace1f80fd","name":"ejecutivos en registry1","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[2720,1500],"credentials":{"mySql":{"id":"5j2ZltD8we7h9i1F","name":"Kimchi Read MySQL account"}},"disabled":true},{"parameters":{"operation":"executeQuery","query":"select distinct upper(document_number) as enterprise_document_number,\n                ce.id                  as enterprise_id\nfrom core_enterprise ce\n         inner join loans_loan l on ce.id = l.requester_id\n         inner join loan_requests_loanrequest lr on l.loan_request_id = lr.id\n    and l.state != 'canceled'\n#and lr.requester_id=1498\n    and\n                                                    lr.created_at between DATE_ADD(DATE_SUB(LAST_DAY(CURDATE()), INTERVAL 2 MONTH), INTERVAL 1 DAY) and LAST_DAY(CURDATE());","options":{}},"id":"1f02f817-1356-43fd-930c-c5aa04c199ca","name":"empresas con operaciones en loans1","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[3020,1860],"credentials":{"mySql":{"id":"UiW1IbcrksB9QCYW","name":"Kimchi production loans"}},"disabled":true},{"parameters":{"mode":"combine","mergeByFields":{"values":[{"field1":"enterprise_document_number","field2":"enterprise_document_number"}]},"options":{}},"id":"ee2c3a48-1c9e-4cd5-b2c4-5c26dff9caa7","name":"asignaciones válidas1","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[3320,1720],"disabled":true},{"parameters":{"operation":"executeQuery","query":"update internal_requests_internalrequest ir \nset ir.representative_id = $1 \nwhere ir.requester_id = $2 \nand ir.created_at between  DATE_ADD(DATE_SUB(LAST_DAY(CURDATE()), INTERVAL 2 MONTH ), INTERVAL 1 DAY) and LAST_DAY(CURDATE());","options":{"queryReplacement":"={{ $json.representative_id }}, {{ $json.enterprise_id }}"}},"id":"0e9a9471-48f9-4915-a586-2f3f3e8797a8","name":"update en financing1","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[3800,1600],"credentials":{"mySql":{"id":"ZOk8Jv4CnQ8P1wLe","name":"Kimchi production financing"}},"disabled":true},{"parameters":{"operation":"executeQuery","query":"update loan_requests_loanrequest lr\nset lr.representative_id = $1\nwhere lr.requester_id = $2\n  and convert_tz(lr.created_at, \"UTC\", \"America/Santiago\") between DATE_ADD(DATE_SUB(LAST_DAY(CURDATE()), INTERVAL 2 MONTH), INTERVAL 1 DAY) and LAST_DAY(CURDATE());\n","options":{"queryReplacement":"={{ $json.representative_id }}, {{ $json.enterprise_id }}"}},"id":"f98e1293-5eb4-4f14-aa48-99f566b12e66","name":"update en loans1","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[3800,1840],"credentials":{"mySql":{"id":"UiW1IbcrksB9QCYW","name":"Kimchi production loans"}},"disabled":true},{"parameters":{"rule":{"interval":[{"triggerAtMinute":10}]}},"id":"e60b57c7-b7d5-4239-9dac-990a6de3caea","name":"Schedule Trigger2","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[2380,1600],"disabled":true},{"parameters":{"mode":"combine","mergeByFields":{"values":[{"field1":"representative_email","field2":"representative_email"}]},"options":{}},"id":"147aaeea-e3cf-48a1-a166-c21edb6d40cd","name":"empresas con ejecutivos válidos2","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[3000,0],"disabled":true},{"parameters":{"operation":"executeQuery","query":"select core_user.id as representative_id,\n       core_user.email as representative_email\n\nfrom api_registry_common.core_user\n         inner join api_registry_common.core_profile\n                    on core_user.id = core_profile.user_id","options":{}},"id":"b58689c9-42dc-4ab4-9e18-92059ef327c9","name":"ejecutivos en registry2","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[2700,-100],"credentials":{"mySql":{"id":"5j2ZltD8we7h9i1F","name":"Kimchi Read MySQL account"}},"disabled":true},{"parameters":{"operation":"executeQuery","query":"select distinct upper(document_number) as enterprise_document_number,\n                ce.id                  as enterprise_id\nfrom core_enterprise ce\n         inner join loans_loan l on ce.id = l.requester_id\n         inner join loan_requests_loanrequest lr on l.loan_request_id = lr.id\n    and l.state != 'canceled'\n#and lr.requester_id=1498\n    and\nlr.created_at >= '2023-11-01' and lr.created_at < '2023-12-01';\n#                                                    lr.created_at between DATE_ADD(\n#                                                            DATE_SUB(LAST_DAY(CURDATE()), INTERVAL 1 MONTH), INTERVAL 1\n#                                                            DAY) and LAST_DAY(CURDATE());","options":{}},"id":"d143911d-f02e-467f-83fb-23e1b6851f46","name":"empresas con operaciones en loans2","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[3000,260],"credentials":{"mySql":{"id":"UiW1IbcrksB9QCYW","name":"Kimchi production loans"}},"disabled":true},{"parameters":{"mode":"combine","mergeByFields":{"values":[{"field1":"enterprise_document_number","field2":"enterprise_document_number"}]},"options":{}},"id":"4e97ccfb-e081-40b0-87a3-c1ddeb3d2df1","name":"asignaciones válidas2","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[3300,120],"disabled":true},{"parameters":{"operation":"executeQuery","query":"update internal_requests_internalrequest ir \nset ir.representative_id = $1 \nwhere ir.requester_id = $2 \nand ir.created_at >= '2023-11-01' and ir.created_at < '2023-12-01'\n","options":{"queryReplacement":"={{ $json.representative_id }}, {{ $json.enterprise_id }}"}},"id":"e0d89596-f2b3-4b20-ad4a-c442c67abc62","name":"update en financing2","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[3780,0],"credentials":{"mySql":{"id":"ZOk8Jv4CnQ8P1wLe","name":"Kimchi production financing"}},"disabled":true},{"parameters":{"operation":"executeQuery","query":"update loan_requests_loanrequest lr\nset lr.representative_id = $1\nwhere lr.requester_id = $2\n  and lr.created_at >= '2023-11-01' and lr.created_at < '2023-12-01'\n","options":{"queryReplacement":"={{ $json.representative_id }}, {{ $json.enterprise_id }}"}},"id":"ebeea920-01d1-4d53-90cf-e75183f3e745","name":"update en loans2","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[3780,240],"credentials":{"mySql":{"id":"UiW1IbcrksB9QCYW","name":"Kimchi production loans"}},"disabled":true},{"parameters":{"rule":{"interval":[{"triggerAtHour":23,"triggerAtMinute":10}]}},"id":"6c6829a5-b49d-4d92-b82a-642ba7cdfcd5","name":"Schedule Trigger3","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[2360,0],"disabled":true},{"parameters":{"content":"Dani Miranda","height":753.7096648648651,"width":1711.4160432432434},"id":"8b24f1d6-70d9-442c-bf49-716101dedc88","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2300,-280]},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"10NztD0lAFDsjEPxFm2YjDjqZwtKkmdGthsfHq7nxcFU","mode":"list","cachedResultName":"empresas Dani Miranda","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10NztD0lAFDsjEPxFm2YjDjqZwtKkmdGthsfHq7nxcFU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10NztD0lAFDsjEPxFm2YjDjqZwtKkmdGthsfHq7nxcFU/edit#gid=0"},"options":{}},"id":"29fb9776-94d3-460c-90c9-b7728d529b56","name":"Empresas Dani Miranda","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[2700,120],"credentials":{"googleApi":{"id":"W6zGdJ4A2Pv7SxQl","name":"GSheets Cumplo"}},"disabled":true}],"connections":{"Schedule Trigger":{"main":[[{"node":"Google Sheets","type":"main","index":0},{"node":"MySQL","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Set","type":"main","index":0}]]},"Set":{"main":[[{"node":"Item Lists","type":"main","index":0}]]},"Item Lists":{"main":[[{"node":"MySQL1","type":"main","index":0}]]},"MySQL":{"main":[[{"node":"Set","type":"main","index":0}]]},"api_financing_common":{"main":[[{"node":"Merge","type":"main","index":0}]]},"api_registry_common":{"main":[[{"node":"Merge","type":"main","index":1},{"node":"Merge1","type":"main","index":0}]]},"api_loan_common":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"api_registry_common1":{"main":[[{"node":"MySQL2","type":"main","index":0}]]},"api_registry_common2":{"main":[[{"node":"MySQL3","type":"main","index":0}]]},"asignaciones en HS":{"main":[[{"node":"empresas con ejecutivos válidos","type":"main","index":1}]]},"empresas con ejecutivos válidos":{"main":[[{"node":"asignaciones válidas","type":"main","index":0}]]},"ejecutivos en registry":{"main":[[{"node":"empresas con ejecutivos válidos","type":"main","index":0}]]},"empresas con operaciones en loans":{"main":[[{"node":"asignaciones válidas","type":"main","index":1}]]},"asignaciones válidas":{"main":[[{"node":"update en loans","type":"main","index":0},{"node":"update en financing","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"ejecutivos en registry","type":"main","index":0},{"node":"asignaciones en HS","type":"main","index":0}]]},"MySQL2":{"main":[[{"node":"Set1","type":"main","index":0}]]},"MySQL3":{"main":[[{"node":"Set1","type":"main","index":0}]]},"asignaciones en HS1":{"main":[[{"node":"empresas con ejecutivos válidos1","type":"main","index":1}]]},"empresas con ejecutivos válidos1":{"main":[[{"node":"asignaciones válidas1","type":"main","index":0}]]},"ejecutivos en registry1":{"main":[[{"node":"empresas con ejecutivos válidos1","type":"main","index":0}]]},"empresas con operaciones en loans1":{"main":[[{"node":"asignaciones válidas1","type":"main","index":1}]]},"asignaciones válidas1":{"main":[[{"node":"update en loans1","type":"main","index":0},{"node":"update en financing1","type":"main","index":0}]]},"Schedule Trigger2":{"main":[[{"node":"ejecutivos en registry1","type":"main","index":0},{"node":"asignaciones en HS1","type":"main","index":0}]]},"empresas con ejecutivos válidos2":{"main":[[{"node":"asignaciones válidas2","type":"main","index":0}]]},"ejecutivos en registry2":{"main":[[{"node":"empresas con ejecutivos válidos2","type":"main","index":0}]]},"empresas con operaciones en loans2":{"main":[[{"node":"asignaciones válidas2","type":"main","index":1}]]},"asignaciones válidas2":{"main":[[{"node":"update en loans2","type":"main","index":0},{"node":"update en financing2","type":"main","index":0}]]},"Schedule Trigger3":{"main":[[{"node":"ejecutivos en registry2","type":"main","index":0},{"node":"Empresas Dani Miranda","type":"main","index":0}]]},"Empresas Dani Miranda":{"main":[[{"node":"empresas con ejecutivos válidos2","type":"main","index":1}]]}},"settings":{"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","executionOrder":"v0"},"staticData":{"node:Schedule Trigger1":{"recurrencyRules":[]},"node:Schedule Trigger2":{"recurrencyRules":[]}},"pinData":{},"versionId":"6399c1e8-ee44-448a-ab2b-a9366beb4f9f","triggerCount":1,"tags":[{"id":"aDpcKzUzGLCXMKzG","createdAt":"2023-07-14T19:51:58.772Z","updatedAt":"2023-07-14T19:51:58.772Z","name":"kimchi"},{"id":"v25eD48xihLAmSfO","createdAt":"2023-07-14T19:51:55.716Z","updatedAt":"2023-07-14T19:51:55.716Z","name":"bi"}]}