actualizar-valor-diario-cumplo-token-sin-colchón-75%-s0si3Y0svlxS4Fnt.json
{"id":"s0si3Y0svlxS4Fnt","createdAt":"2024-12-10T02:29:13.138Z","updatedAt":"2025-01-09T14:59:38.809Z","name":"Actualizar valor diario Cumplo token sin colchón 75%","active":true,"nodes":[{"parameters":{"operation":"deleteTable","table":{"__rl":true,"value":"valor_diario_cumplo_token_interno","mode":"list","cachedResultName":"valor_diario_cumplo_token_interno"},"options":{}},"id":"279fd9fd-70ab-4d2c-adf1-667bbeb9168b","name":"limpiar tabla1","type":"n8n-nodes-base.mySql","position":[1400,580],"typeVersion":2.1,"credentials":{"mySql":{"id":"rOY57aKCUVDSH1Zl","name":"new dw"}}},{"parameters":{"table":{"__rl":true,"value":"valor_diario_cumplo_token_interno","mode":"list","cachedResultName":"valor_diario_cumplo_token_interno"},"options":{}},"id":"861fe376-341d-4b3a-b162-70f742f40615","name":"MySQL","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[2060,580],"credentials":{"mySql":{"id":"rOY57aKCUVDSH1Zl","name":"new dw"}}},{"parameters":{"rule":{"interval":[{"triggerAtMinute":13}]}},"id":"13eb0cbc-a74d-49e1-a489-ea0ba764a3de","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[1140,580]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"fecha","value":"={{ $json.fecha }}"}],"number":[{"name":"valor","value":"={{ $json.valor }}"}]},"options":{}},"id":"4968ae54-7cf2-4dac-9435-8347f739856e","name":"quitar row number","type":"n8n-nodes-base.set","typeVersion":2,"position":[1840,580]},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1Jn3Qr60O-JS_Kwb2R2HKBrgziEM-SV3m6QOuqV_BBYI","mode":"list","cachedResultName":"valor diario Cumplo token sin colchón 75%","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Jn3Qr60O-JS_Kwb2R2HKBrgziEM-SV3m6QOuqV_BBYI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Jn3Qr60O-JS_Kwb2R2HKBrgziEM-SV3m6QOuqV_BBYI/edit#gid=0"},"options":{}},"id":"9d86d4df-4150-464a-9ce4-eeead2569496","name":"leer precios","type":"n8n-nodes-base.googleSheets","position":[1620,580],"typeVersion":3,"credentials":{"googleApi":{"id":"W6zGdJ4A2Pv7SxQl","name":"GSheets Cumplo"}}}],"connections":{"limpiar tabla1":{"main":[[{"node":"leer precios","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"limpiar tabla1","type":"main","index":0}]]},"quitar row number":{"main":[[{"node":"MySQL","type":"main","index":0}]]},"leer precios":{"main":[[{"node":"quitar row number","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]}},"pinData":{},"versionId":"3e09219f-122d-497c-9149-3b5391884927","triggerCount":1,"tags":[]}