actualizar-productos-nuevos-de-global-trello-vwl46dNv7QAjI0HE.json
{"id":"vwl46dNv7QAjI0HE","createdAt":"2024-07-30T21:19:06.882Z","updatedAt":"2024-07-30T23:08:48.774Z","name":"actualizar productos nuevos de Global Trello","active":true,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"custom","cronExpression":"40 * * * * *"}]},"documentId":{"__rl":true,"value":"12WxCrd3D95904te-q0gehNzNiHRYDrl32EGLYgIR5aw","mode":"list","cachedResultName":"Copia de GLOBAL DATOS TRELLO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12WxCrd3D95904te-q0gehNzNiHRYDrl32EGLYgIR5aw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1321417708,"mode":"list","cachedResultName":"Zapier prueba","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11neeM4T6YlQpwqU7JJ-yUcsQAxTCC2VFBQQi6uXI8b4/edit#gid=1321417708"},"options":{"columnsToWatch":["ID","TIPO PRODUCTO"]}},"id":"78339d80-af3d-49ca-8711-f0395246c9bb","name":"Google Sheets Trigger","type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[160,400],"credentials":{"googleSheetsTriggerOAuth2Api":{"id":"7o9R8yQSLItaOBJ2","name":"Google Sheets Trigger account test"}}},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"nuevos_productos","mode":"list","cachedResultName":"nuevos_productos"},"columnToMatchOn":"id_operacion","options":{}},"id":"33f2d079-6557-4482-8530-58d9b81d0082","name":"MySQL","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[1180,300],"credentials":{"mySql":{"id":"rOY57aKCUVDSH1Zl","name":"new dw"}}},{"parameters":{"keepOnlySet":true,"values":{"number":[{"name":"id_operacion","value":"={{ $json.ID }}"}],"string":[{"name":"nuevo_producto","value":"={{ $json['TIPO PRODUCTO'] }}"}]},"options":{}},"id":"1f5643c4-803c-4545-bb4c-8aae46b28f77","name":"Set","type":"n8n-nodes-base.set","typeVersion":2,"position":[420,400]},{"parameters":{"operation":"removeDuplicates"},"id":"9bba6ce8-6235-4a66-aef0-158ad2ec6272","name":"Item Lists","type":"n8n-nodes-base.itemLists","typeVersion":2.2,"position":[640,400]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.nuevo_producto }}","value2":"Crédito Factura Futura"},{"value1":"{{ $json.nuevo_producto }}","value2":"Crédito Orden de Compra"},{"value1":"={{ $json.nuevo_producto }}","value2":"Crédito One Shot"},{"value1":"={{ $json.nuevo_producto }}","value2":"Crédito Contrato"},{"value1":"={{ $json.nuevo_producto }}","value2":"Crédito OC Mercado Público"}]},"combineConditions":"OR"},"id":"80ff848c-d35b-426b-a71a-294502a19553","name":"Filter","type":"n8n-nodes-base.filter","typeVersion":1,"position":[860,400]},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"nuevos_productos","mode":"list","cachedResultName":"nuevos_productos"},"columnToMatchOn":"id_operacion","options":{}},"id":"162fad6a-c58b-44bb-8cfd-301dbcd8bd5e","name":"MySQL1","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[1180,500],"credentials":{"mySql":{"id":"V4bG9Qr3y7I0v2Rf","name":"Datawarehouse"}}}],"connections":{"Google Sheets Trigger":{"main":[[{"node":"Set","type":"main","index":0}]]},"Set":{"main":[[{"node":"Item Lists","type":"main","index":0}]]},"Item Lists":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"MySQL1","type":"main","index":0},{"node":"MySQL","type":"main","index":0}]]},"MySQL1":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Sheets Trigger":{"documentId":"12WxCrd3D95904te-q0gehNzNiHRYDrl32EGLYgIR5aw","sheetId":1321417708,"lastRevision":24,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=12WxCrd3D95904te-q0gehNzNiHRYDrl32EGLYgIR5aw&revision=24&exportFormat=xlsx"}},"pinData":{},"versionId":"f2b77cf0-0d68-4eaf-9f01-e8fb9d5c310b","triggerCount":1,"tags":[]}