base-postconfirmado-a-dw-V2dF38OgkFVJ7DID.json
{"id":"V2dF38OgkFVJ7DID","createdAt":"2023-08-07T22:48:45.082Z","updatedAt":"2024-01-18T18:11:49.608Z","name":"Base Postconfirmado a DW","active":true,"nodes":[{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst uniqueItems = [];\nconst seenValues = {};\n\nfor (let i = $input.all().length - 1; i >= 0; i--) {\n  const item = $input.all()[i];\n  const rut = item.json['Rut pagador '].toString().replace('k', 'K').replace(/[-.\\n]/g, '');\n  \n  if (!seenValues[rut]) {\n    uniqueItems.unshift(item);\n    seenValues[rut] = true;\n  }\n}\n\nreturn uniqueItems;"},"id":"af65581a-f223-4097-b192-0c513de037e3","name":"Code3","type":"n8n-nodes-base.code","position":[360,560],"typeVersion":1},{"parameters":{"pollTimes":{"item":[{"hour":10}]},"documentId":{"__rl":true,"mode":"list","value":"1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E/edit?usp=drivesdk","cachedResultName":"CL Panel de Riesgo"},"sheetName":{"__rl":true,"mode":"list","value":394331852,"cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E/edit#gid=394331852","cachedResultName":"Post-confirmado"},"options":{}},"id":"e0d1c51b-2d50-4315-86cc-3e3ded2dbcc2","name":"Llamar Post-confirmado","type":"n8n-nodes-base.googleSheetsTrigger","position":[20,560],"typeVersion":1,"credentials":{"googleSheetsTriggerOAuth2Api":{"id":"7Mv6pfy8h3RGubYK","name":"Google Sheets Trigger account Natán"}}},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"observation","value":"={{ $json['Protocolo u observación '] }}"},{"name":"document_number","value":"={{ $json['Rut pagador '] }}"}]},"options":{}},"id":"49b30e62-6f04-4b6c-bcc8-90b5d6b97e26","name":"Set3","type":"n8n-nodes-base.set","position":[540,560],"typeVersion":2},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.document_number }}","operation":"notEqual","value2":"={{ '' }}"}]}},"id":"754836e0-5782-4a2f-9abe-dbd1c08751ab","name":"Filter3","type":"n8n-nodes-base.filter","position":[720,560],"typeVersion":1},{"parameters":{"operation":"executeQuery","query":"=insert into post_confirmations (document_number, observation)\nvalues ('{{ $json[\"document_number\"] }}','{{ $json[\"observation\"] }}')\non duplicate key update observation = '{{ $json[\"observation\"] }}'","options":{}},"id":"669ede6c-79ed-4790-870b-6f2d84385650","name":"MySQL3","type":"n8n-nodes-base.mySql","position":[1080,560],"typeVersion":2.1,"credentials":{"mySql":{"id":"V4bG9Qr3y7I0v2Rf","name":"Datawarehouse"}}}],"connections":{"Set3":{"main":[[{"node":"Filter3","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Set3","type":"main","index":0}]]},"Filter3":{"main":[[{"node":"MySQL3","type":"main","index":0}]]},"Llamar Post-confirmado":{"main":[[{"node":"Code3","type":"main","index":0}]]}},"settings":{},"staticData":{"node:Llamar Post-confirmado":{"documentId":"1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E","sheetId":394331852,"lastRevision":10187,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E&revision=10187&exportFormat=xlsx"},"node:Llamar Lista Link":{"documentId":"1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E","sheetId":1713282289,"lastRevision":5706,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E&revision=5706&exportFormat=xlsx"},"node:Llamar Grupos económicos":{"documentId":"1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E","sheetId":924453781,"lastRevision":5706,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E&revision=5706&exportFormat=xlsx"},"node:Llamar Bloqueados":{"documentId":"1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E","sheetId":940588543,"lastRevision":5707,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E&revision=5707&exportFormat=xlsx"},"node:Llamar Comité":{"documentId":"1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E","sheetId":1052543507,"lastRevision":5278,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E&revision=5278&exportFormat=xlsx"},"node:Llamar Lista Pagadores":{"documentId":"1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E","sheetId":924696945,"lastRevision":5275,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E&revision=5275&exportFormat=xlsx"}},"pinData":{},"versionId":"f92ec38e-f1ad-49bb-bf2f-323e1a6b312c","triggerCount":1,"tags":[]}