base-nuevos-pagadores-a-dw-bD6jP2FyA2sEgSIi.json
{"id":"bD6jP2FyA2sEgSIi","createdAt":"2023-08-07T22:47:13.202Z","updatedAt":"2024-01-08T20:30:32.899Z","name":"Base Nuevos Pagadores a DW","active":true,"nodes":[{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst uniqueItems = [];\nconst seenValues = {};\n\nfor (let i = $input.all().length - 1; i >= 0; i--) {\n  const item = $input.all()[i];\n  const rut = item.json['Rut'].toString().replace('k', 'K').replace(/[-.\\n]/g, '');\n  \n  if (!seenValues[rut]) {\n    uniqueItems.unshift(item);\n    seenValues[rut] = true;\n  }\n}\n\nreturn uniqueItems;"},"id":"50a9cfd8-f5a4-43de-a9cd-9231efb91edf","name":"Code2","type":"n8n-nodes-base.code","position":[360,380],"typeVersion":1},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"document_number","value":"={{ $json.Rut }}"},{"name":"classification","value":"={{ $json['Clasificación como pagador'] }}"},{"name":"max_credit_line","value":"={{ $json['Línea máxima global como pagador $'] }}"},{"name":"economic_sector","value":"={{ $json['Sector económico'] }}"},{"name":"comments","value":"={{ $json['Comentarios de pagador'] }}"}]},"options":{}},"id":"fdb310e5-7f88-4016-ad16-3246fa801800","name":"Set2","type":"n8n-nodes-base.set","position":[540,380],"typeVersion":2},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.document_number }}","operation":"notEqual","value2":"={{ '' }}"}]}},"id":"d26bebb0-3d16-4752-92f4-d2833ef3345a","name":"Filter2","type":"n8n-nodes-base.filter","position":[720,380],"typeVersion":1},{"parameters":{"operation":"executeQuery","query":"=insert into payers (document_number, classification, comments, economic_sector, max_credit_line)\nvalues ('{{ $json[\"document_number\"] }}','{{ $json[\"classification\"] }}','{{ $json[\"comments\"] }}', '{{ $json[\"economic_sector\"] }}','{{ $json[\"max_credit_line\"] }}')\non duplicate key update classification = '{{ $json[\"classification\"] }}', comments = '{{ $json[\"comments\"] }}', economic_sector = '{{ $json[\"economic_sector\"] }}', max_credit_line = '{{ $json[\"max_credit_line\"] }}'","options":{}},"id":"2f423ecc-fd7f-4f68-a6a6-81a77955e2af","name":"MySQL4","type":"n8n-nodes-base.mySql","position":[1080,380],"typeVersion":2.1,"credentials":{"mySql":{"id":"V4bG9Qr3y7I0v2Rf","name":"Datawarehouse"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyHour","minute":30}]},"documentId":{"__rl":true,"mode":"list","value":"1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E/edit?usp=drivesdk","cachedResultName":"CL Panel de Riesgo"},"sheetName":{"__rl":true,"mode":"list","value":924696945,"cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E/edit#gid=924696945","cachedResultName":"Lista Pagadores Cumplo"},"options":{}},"id":"663831b1-7319-4f63-8f62-0f13b38ebcca","name":"Llamar Lista Pagadores","type":"n8n-nodes-base.googleSheetsTrigger","position":[20,380],"typeVersion":1,"credentials":{"googleSheetsTriggerOAuth2Api":{"id":"7Mv6pfy8h3RGubYK","name":"Google Sheets Trigger account Natán"}}}],"connections":{"Set2":{"main":[[{"node":"Filter2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Set2","type":"main","index":0}]]},"Filter2":{"main":[[{"node":"MySQL4","type":"main","index":0}]]},"Llamar Lista Pagadores":{"main":[[{"node":"Code2","type":"main","index":0}]]}},"settings":{},"staticData":{"node:Llamar Post-confirmado":{"documentId":"1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E","sheetId":394331852,"lastRevision":5704,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E&revision=5704&exportFormat=xlsx"},"node:Llamar Lista Link":{"documentId":"1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E","sheetId":1713282289,"lastRevision":5706,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E&revision=5706&exportFormat=xlsx"},"node:Llamar Grupos económicos":{"documentId":"1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E","sheetId":924453781,"lastRevision":5706,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E&revision=5706&exportFormat=xlsx"},"node:Llamar Bloqueados":{"documentId":"1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E","sheetId":940588543,"lastRevision":5707,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E&revision=5707&exportFormat=xlsx"},"node:Llamar Comité":{"documentId":"1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E","sheetId":1052543507,"lastRevision":5278,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E&revision=5278&exportFormat=xlsx"},"node:Llamar Lista Pagadores":{"documentId":"1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E","sheetId":924696945,"lastRevision":10093,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E&revision=10093&exportFormat=xlsx"}},"pinData":{},"versionId":"1ced3038-1602-4379-8633-461152c99375","triggerCount":1,"tags":[]}