bd-estatales-iLTIfiIcawVqxWVd.json
{"id":"iLTIfiIcawVqxWVd","createdAt":"2024-01-10T19:02:38.270Z","updatedAt":"2024-01-10T19:43:47.130Z","name":"BD estatales","active":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"=insert into banned_enterprises (document_number, comments, pais, condicion)\nvalues ('{{ $json[\"document_number\"] }}','{{ $json[\"comments\"] }}','{{ $json[\"pais\"] }}','{{ $json[\"condicion\"] }}' )\non duplicate key update comments = '{{ $json[\"comments\"] }}', condicion = '{{ $json[\"condicion\"] }}', pais = '{{ $json[\"pais\"] }}';","options":{}},"id":"6aa97179-e7f3-434d-8bd1-fc989a274a5a","name":"MySQL","type":"n8n-nodes-base.mySql","position":[940,-160],"typeVersion":2.1,"credentials":{"mySql":{"id":"V4bG9Qr3y7I0v2Rf","name":"Datawarehouse"}}},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"n_prorroga","value":"={{ $json['N° Prorroga'] }}"},{"name":"operation_id","value":"={{ $json['ID Cumplo'] }}"},{"name":"tipo_producto","value":"={{ $json['Tipo de producto'] }}"},{"name":"codigo_proyecto","value":"={{ $json['Codigo del proyecto / Nº de bono'] }}"},{"name":"nombre_proyecto","value":"={{ $json[' Nombre del proyecto'] }}"},{"name":"porcentaje_avance","value":"={{ $json['% avance / N° EP'] }}"},{"name":"nombre_subsidio","value":"={{ $json.DS }}"},{"name":"monto_proyecto","value":"={{ $json['Monto del bono / Monto proyecto (serviu)'] }}"},{"name":"valor_moneda","value":"={{ $json.UF/Pesos }}"},{"name":"fecha_expiracion_bono","value":"={{ $json['Fecha expiración contrato o bono'] }}"},{"value":"={{ $json['Fecha expiración BG'] }}"},{"name":"fecha_respuesta","value":"={{ $json['Fecha de respuesta (Mandato)'] }}"},{"name":"comentario_seguimiento","value":"={{ $json['Comentarios de seguimiento'] }}"},{"name":"fecha_envio","value":"={{ $json['Fecha de envio (mandato)'] }}"},{"name":"observacion","value":"={{ $json['Observación'] }}"}],"number":[{"name":"country_id","value":"={{ $json['id pais'] }}"},{"name":"id_original_prorroga","value":"={{ $json['ID original prorroga'] }}"}]},"options":{}},"id":"8c0be986-145d-4595-97ee-d7477117e0ee","name":"Set","type":"n8n-nodes-base.set","position":[400,-160],"typeVersion":2},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.operation_id }}","operation":"isNotEmpty"}]}},"id":"4a9f2e4d-549f-4dbf-b67e-248a76c5f279","name":"Filter","type":"n8n-nodes-base.filter","position":[580,-160],"typeVersion":1},{"parameters":{"pollTimes":{"item":[{"hour":10}]},"documentId":{"__rl":true,"value":"16MPbiBYY0u898vjX42KcYERjCC802jeA7JNUL6qVfSw","mode":"list","cachedResultName":"BD estatales","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16MPbiBYY0u898vjX42KcYERjCC802jeA7JNUL6qVfSw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ingreso de datos OP","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16MPbiBYY0u898vjX42KcYERjCC802jeA7JNUL6qVfSw/edit#gid=0"},"options":{}},"id":"3dbf1be5-4009-4c5c-91c7-c06f14b78fd5","name":"Llamar Bloqueados","type":"n8n-nodes-base.googleSheetsTrigger","position":[-120,-160],"typeVersion":1,"credentials":{"googleSheetsTriggerOAuth2Api":{"id":"7Mv6pfy8h3RGubYK","name":"Google Sheets Trigger account Natán"}}}],"connections":{"Set":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"MySQL","type":"main","index":0}]]},"Llamar Bloqueados":{"main":[[{"node":"Set","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"pinData":{},"versionId":"3f1add78-2e61-416b-8927-21fa90297f2b","triggerCount":0,"tags":[]}