bd-estatales-a-dw-iLTIfiIcawVqxWVd.json
{"id":"iLTIfiIcawVqxWVd","createdAt":"2024-01-10T19:02:38.270Z","updatedAt":"2024-01-26T20:15:48.276Z","name":"BD Estatales a DW","active":true,"nodes":[{"parameters":{"operation":"executeQuery","query":"=insert into bonos_estatales (country_id, id_original_prorroga, n_prorroga, operation_id, tipo_producto, codigo_proyecto, nombre_proyecto, porcentaje_avance, nombre_subsidio, monto_proyecto, valor_moneda, fecha_envio, fecha_expiracion_contrato, fecha_expiracion_bg, fecha_respuesta, observacion, comentarios_cobranza, comentarios_seguimiento)\nvalues ('{{ $json[\"country_id\"] }}','{{ $json[\"id_original_prorroga\"] }}','{{ $json[\"n_prorroga\"] }}','{{ $json[\"operation_id\"] }}','{{ $json[\"tipo_producto\"] }}', '{{ $json[\"codigo_proyecto\"] }}','{{ $json[\"nombre_proyecto\"] }}','{{ $json[\"porcentaje_avance\"] }}','{{ $json[\"nombre_subsidio\"] }}','{{ $json[\"monto_proyecto\"] }}','{{ $json[\"valor_moneda\"] }}','{{ $json[\"fecha_envio\"] }}','{{ $json[\"fecha_expiracion_contrato\"] }}','{{ $json[\"fecha_expiracion_bg\"] }}','{{ $json[\"fecha_respuesta\"] }}','{{ $json[\"observacion\"] }}','{{ $json[\"comentarios_cobranza\"] }}', '{{ $json[\"comentarios_seguimiento\"] }}'  )","options":{}},"id":"6aa97179-e7f3-434d-8bd1-fc989a274a5a","name":"MySQL","type":"n8n-nodes-base.mySql","position":[940,-160],"typeVersion":2.1,"credentials":{"mySql":{"id":"fwH661hK3gICeGQs","name":"dw Riesgo"}}},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"n_prorroga","value":"={{ $json['N° Prorroga'] }}"},{"name":"operation_id","value":"={{ $json['ID Cumplo'] }}"},{"name":"tipo_producto","value":"={{ $json['Tipo de producto'] }}"},{"name":"codigo_proyecto","value":"={{ $json['Codigo del proyecto / Nº de bono'] }}"},{"name":"nombre_proyecto","value":"={{ $json[' Nombre del proyecto'] }}"},{"name":"porcentaje_avance","value":"={{ $json['% avance / N° EP'] }}"},{"name":"nombre_subsidio","value":"={{ $json.DS }}"},{"name":"monto_proyecto","value":"={{ $json['Monto del bono / Monto proyecto (serviu)'] }}"},{"name":"valor_moneda","value":"={{ $json.UF/Pesos }}"},{"name":"fecha_expiracion_bono","value":"={{ $json['Fecha expiración contrato o bono'] }}"},{"name":"fecha_expiracion_bg","value":"={{ $json['Fecha expiración BG'] }}"},{"name":"fecha_respuesta","value":"={{ $json['Fecha de respuesta (Mandato)'] }}"},{"name":"comentarios_seguimiento","value":"={{ $json['Comentarios de seguimiento'] }}"},{"name":"fecha_envio","value":"={{ $json['Fecha de envio (mandato)'] }}"},{"name":"observacion","value":"={{ $json['Observación'] }}"},{"name":"comentarios_cobranza","value":"={{ $json['Comentarios Cobranza '] }}"}],"number":[{"name":"country_id","value":"={{ $json['id pais'] }}"},{"name":"id_original_prorroga","value":"={{ $json['ID original prorroga'] }}"}]},"options":{}},"id":"8c0be986-145d-4595-97ee-d7477117e0ee","name":"Set","type":"n8n-nodes-base.set","position":[400,-160],"typeVersion":2},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.operation_id }}","operation":"isNotEmpty"}]}},"id":"4a9f2e4d-549f-4dbf-b67e-248a76c5f279","name":"Filter","type":"n8n-nodes-base.filter","position":[580,-160],"typeVersion":1},{"parameters":{"pollTimes":{"item":[{"mode":"everyHour","minute":15}]},"documentId":{"__rl":true,"value":"16MPbiBYY0u898vjX42KcYERjCC802jeA7JNUL6qVfSw","mode":"list","cachedResultName":"BD estatales","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16MPbiBYY0u898vjX42KcYERjCC802jeA7JNUL6qVfSw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ingreso de datos OP","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16MPbiBYY0u898vjX42KcYERjCC802jeA7JNUL6qVfSw/edit#gid=0"},"options":{}},"id":"3dbf1be5-4009-4c5c-91c7-c06f14b78fd5","name":"Llamar Bloqueados","type":"n8n-nodes-base.googleSheetsTrigger","position":[-120,-160],"typeVersion":1,"credentials":{"googleSheetsTriggerOAuth2Api":{"id":"7Mv6pfy8h3RGubYK","name":"Google Sheets Trigger account Natán"}}}],"connections":{"Set":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"MySQL","type":"main","index":0}]]},"Llamar Bloqueados":{"main":[[{"node":"Set","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Llamar Bloqueados":{"documentId":"16MPbiBYY0u898vjX42KcYERjCC802jeA7JNUL6qVfSw","sheetId":"0","lastRevision":9976,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=16MPbiBYY0u898vjX42KcYERjCC802jeA7JNUL6qVfSw&revision=9976&exportFormat=xlsx"}},"pinData":{},"versionId":"aa691793-389c-4bea-aeca-3347ed59f5ca","triggerCount":1,"tags":[]}