bo-moneda-respaldos-AhEmCUNEbVClJTaK.json
{"id":"AhEmCUNEbVClJTaK","createdAt":"2023-10-30T15:49:21.045Z","updatedAt":"2023-11-15T14:51:36.925Z","name":"BO moneda respaldos","active":false,"nodes":[{"parameters":{},"id":"95d5a1e6-27e3-4991-b9e8-b64deac75767","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[520,540]},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"srm_invoices","mode":"list","cachedResultName":"srm_invoices"},"columnToMatchOn":"folio","options":{}},"id":"444dca6f-0903-4791-8a2f-fff61706d2a3","name":"Upsert srm_invoices","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[1400,540],"credentials":{"mySql":{"id":"iO0TJHhdOEyQJN7H","name":"Admin CL Write"}}},{"parameters":{"operation":"upsert","table":{"__rl":true,"mode":"list","value":""}},"id":"ee312d7a-b872-4455-9b1c-293f1d0d40bd","name":"upsert srm_payers","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[1180,540]},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"id":"757a9ace-90b6-4ea3-bbba-eb518e4e35a3","name":"Pagadores y Facturas","type":"n8n-nodes-base.code","typeVersion":2,"position":[960,540]},{"parameters":{"operation":"executeQuery","query":"select 'MCC' as fondo,\nop.id as operation_id,\nr.fecha_pago as fecha_pago_real,\nr.monto_respaldo as amount , \nr.monto_respaldo as face_amount,\nr.monto_respaldo as cession_amount,\nproveedor.razon_social as proveedor,\nproveedor.numero_identificador as rut,\nsubstr(proveedor.numero_identificador, 1, length(proveedor.numero_identificador) - 1) as rutsdv,\nsubstr(proveedor.numero_identificador, length(proveedor.numero_identificador) , 1) as dv, \nrc.fecha  as fechacesion,\npagador.razon_social  as pagador, \npagador.numero_identificador as rutpagador, \nsubstr(pagador.numero_identificador, 1, length(pagador.numero_identificador) - 1) as rutpagadorsdv,\nsubstr(pagador.numero_identificador, length(pagador.numero_identificador) , 1) as dvpagador, \n'' as group,\n'' as subindustry,\n'' as risk,\npagador.linea  as line,\nr.folio  as folio,\nop.fecha_curse  as fecha_compra,\nr.fecha_emision as fecha_emision,\n'' as tasa,\n'' as fecha_pago,\nr.id as srm_id,\n'Pronto pago' as tipo_producto\nfrom operaciones op\ninner join operaciones_producto_links opl on op.id=opl.operacion_id \ninner join productos p on opl.producto_id =p.id\ninner join operacion_inversiones_operacion_links oinv on op.id=oinv.operacion_id \ninner join operacion_inversiones_inversionista_links oi on oinv.operacion_inversion_id  = oi.operacion_inversion_id \ninner join empresas e on oi.empresa_id =e.id\ninner join operaciones_respaldos_links orl on orl.operacion_id =op.id\ninner join respaldos r on orl.respaldo_id = r.id\ninner join empresas proveedor on r.numero_documento_emisor =proveedor.numero_identificador\ninner join empresas pagador on r.numero_documento_pagador  =pagador.numero_identificador\ninner join respaldo_cesiones_respaldo_links rcrl on r.id=rcrl.respaldo_id \ninner join respaldo_cesiones rc on rcrl.respaldo_cesion_id =rc.id\nwhere p.codigo ='PRONTO_PAGO' and e.codigo ='MCC'","options":{}},"id":"666e3c3a-cc10-4e2d-a05a-36be0a106a27","name":"Data from BOG","type":"n8n-nodes-base.postgres","typeVersion":2.2,"position":[740,540],"credentials":{"postgres":{"id":"EuKzTu5Fa6d8LUFg","name":"Backoffice Staging"}}}],"connections":{"When clicking \"Execute Workflow\"":{"main":[[{"node":"Data from BOG","type":"main","index":0}]]},"upsert srm_payers":{"main":[[{"node":"Upsert srm_invoices","type":"main","index":0}]]},"Pagadores y Facturas":{"main":[[{"node":"upsert srm_payers","type":"main","index":0}]]},"Data from BOG":{"main":[[{"node":"Pagadores y Facturas","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"pinData":{},"versionId":"da7ee4f9-8c56-45a3-bf96-9668b81fa3bd","triggerCount":0,"tags":[]}