corrección-producto-reporte-link-JDwFReuzfOGluOKy.json
{"id":"JDwFReuzfOGluOKy","createdAt":"2024-07-09T22:11:59.907Z","updatedAt":"2024-07-10T20:04:19.928Z","name":"Corrección producto reporte link","active":true,"nodes":[{"parameters":{"operation":"deleteTable","table":{"__rl":true,"value":"correccion_producto_reporte_link","mode":"list","cachedResultName":"correccion_producto_reporte_link"},"options":{}},"id":"330d10ec-8505-422a-a946-fc0be8e06884","name":"MySQL","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[840,420],"credentials":{"mySql":{"id":"wXOCrMqAAXcRwpQq","name":"Admin CL Write cumplo_db_app"}}},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1lLwOry-YjspvLNn9SuBLYNaGPHgVDfF-u8NYe_6pOF4","mode":"list","cachedResultName":"Corrección Producto Reporte Link","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lLwOry-YjspvLNn9SuBLYNaGPHgVDfF-u8NYe_6pOF4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Pronto Pago ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lLwOry-YjspvLNn9SuBLYNaGPHgVDfF-u8NYe_6pOF4/edit#gid=0"},"options":{}},"id":"6b92154a-4cd6-4d54-9373-60253dcd1587","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1080,420],"credentials":{"googleApi":{"id":"W6zGdJ4A2Pv7SxQl","name":"GSheets Cumplo"}}},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1lLwOry-YjspvLNn9SuBLYNaGPHgVDfF-u8NYe_6pOF4","mode":"list","cachedResultName":"Corrección Producto Reporte Link","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lLwOry-YjspvLNn9SuBLYNaGPHgVDfF-u8NYe_6pOF4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1964916177,"mode":"list","cachedResultName":"Gran Pagador Bono de Riego","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lLwOry-YjspvLNn9SuBLYNaGPHgVDfF-u8NYe_6pOF4/edit#gid=1964916177"},"options":{}},"id":"85dd06be-e598-468e-a630-22c711d08b9c","name":"Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1800,420],"credentials":{"googleApi":{"id":"W6zGdJ4A2Pv7SxQl","name":"GSheets Cumplo"}}},{"parameters":{"table":{"__rl":true,"value":"correccion_producto_reporte_link","mode":"list","cachedResultName":"correccion_producto_reporte_link"},"options":{}},"id":"53d59fbe-471b-447f-8e2b-0de521306e73","name":"MySQL1","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[1580,420],"credentials":{"mySql":{"id":"wXOCrMqAAXcRwpQq","name":"Admin CL Write cumplo_db_app"}}},{"parameters":{"table":{"__rl":true,"value":"correccion_producto_reporte_link","mode":"list","cachedResultName":"correccion_producto_reporte_link"},"options":{}},"id":"42e76088-c89e-43f0-9f1f-3ee89dff65e2","name":"MySQL2","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[2280,420],"credentials":{"mySql":{"id":"wXOCrMqAAXcRwpQq","name":"Admin CL Write cumplo_db_app"}}},{"parameters":{"keepOnlySet":true,"values":{"number":[{"name":"id_operacion","value":"={{ $json['Número operación'] }}"}],"string":[{"name":"producto","value":"={{ $json['Tipo crédito'] }}"}]},"options":{}},"id":"477e9c5d-a3cc-4d90-92ae-4a53ad1a4199","name":"Set","type":"n8n-nodes-base.set","typeVersion":2,"position":[1300,420]},{"parameters":{"keepOnlySet":true,"values":{"number":[{"name":"id_operacion","value":"={{ $json['Número operación'] }}"}],"string":[{"name":"producto","value":"={{ $json['Tipo crédito'] }}"}]},"options":{}},"id":"420d8d53-a44a-4628-9525-873d8e3325a0","name":"Set1","type":"n8n-nodes-base.set","typeVersion":2,"position":[2000,420]},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"*/12 8-18 * * 1-5"}]}},"id":"e9432786-d3c1-4556-852e-a7efd447f0d7","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[620,420]}],"connections":{"MySQL":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Set","type":"main","index":0}]]},"MySQL1":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Set1","type":"main","index":0}]]},"Set":{"main":[[{"node":"MySQL1","type":"main","index":0}]]},"Set1":{"main":[[{"node":"MySQL2","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"MySQL","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]}},"pinData":{},"versionId":"fb0b0ac1-34ae-49b6-b561-9f80cf943a33","triggerCount":1,"tags":[]}