corrección-ejecutivo-kimchi-3MavkobARtYx4qIv.json
{"id":"3MavkobARtYx4qIv","createdAt":"2024-01-08T22:11:48.245Z","updatedAt":"2024-01-10T16:56:16.233Z","name":"Corrección ejecutivo kimchi","active":true,"nodes":[{"parameters":{"operation":"executeQuery","query":"select distinct upper(c.rut_proveedor) as enterprise_document_number, o.email as representative_email from hubspot.companies c left join hubspot.owners o on c.owner_id = o.id\nwhere rut_proveedor is not null\n#and rut_proveedor in (\n#'77760001K')\n#limit 0,3000\n;","options":{}},"id":"3bcebff3-abd4-4103-ba77-4ed6c93aa2e8","name":"asignaciones en HS","type":"n8n-nodes-base.mySql","position":[700,540],"typeVersion":2.1,"credentials":{"mySql":{"id":"cY4StP9H8b1X2KwG","name":"Conexión dw Cumplo"}}},{"parameters":{"mode":"combine","mergeByFields":{"values":[{"field1":"representative_email","field2":"representative_email"}]},"options":{}},"id":"10588e77-65a4-4475-8dbc-65673e3bd729","name":"empresas con ejecutivos válidos","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1000,440]},{"parameters":{"operation":"executeQuery","query":"select core_user.id as representative_id,\n       core_user.email as representative_email\n\nfrom api_registry_common.core_user\n         inner join api_registry_common.core_profile\n                    on core_user.id = core_profile.user_id","options":{}},"id":"ddc8f4e3-eac2-43f1-83a4-3ba36fce6d3d","name":"ejecutivos en registry","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[700,340],"credentials":{"mySql":{"id":"5j2ZltD8we7h9i1F","name":"Kimchi Read MySQL account"}}},{"parameters":{"operation":"executeQuery","query":"select distinct upper(document_number) as enterprise_document_number,\n                ce.id                  as enterprise_id\nfrom core_enterprise ce\n         inner join loans_loan l on ce.id = l.requester_id\n         inner join loan_requests_loanrequest lr on l.loan_request_id = lr.id\n    and l.state != 'canceled'\n    and DATE(convert_tz(lr.created_at, \"UTC\", \"America/Santiago\")) = DATE(convert_tz(NOW(), \"UTC\", \"America/Santiago\"))","options":{}},"id":"9790f1ca-ab72-4e55-8c03-a1ee214e5586","name":"empresas con operaciones en loans","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[1000,700],"credentials":{"mySql":{"id":"UiW1IbcrksB9QCYW","name":"Kimchi production loans"}}},{"parameters":{"mode":"combine","mergeByFields":{"values":[{"field1":"enterprise_document_number","field2":"enterprise_document_number"}]},"options":{}},"id":"13bff227-b5de-4d36-9ad8-3d7c9d9fdd86","name":"asignaciones válidas","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1300,560]},{"parameters":{"operation":"executeQuery","query":"update internal_requests_internalrequest ir\nset ir.representative_id = $1\nwhere ir.requester_id = $2\nand DATE(convert_tz(ir.created_at, \"UTC\", \"America/Santiago\")) = DATE(convert_tz(NOW(), \"UTC\", \"America/Santiago\"));\n","options":{"queryReplacement":"={{ $json.representative_id }}, {{ $json.enterprise_id }}"}},"id":"b0afe12c-3f00-4dec-b373-5d6f60fb7a02","name":"update en financing","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[1780,440],"credentials":{"mySql":{"id":"ZOk8Jv4CnQ8P1wLe","name":"Kimchi production financing"}}},{"parameters":{"operation":"executeQuery","query":"update loan_requests_loanrequest lr\nset lr.representative_id = $1\nwhere lr.requester_id = $2\n  and DATE(convert_tz(lr.created_at, \"UTC\", \"America/Santiago\")) = convert_tz(NOW(), \"UTC\", \"America/Santiago\");\n","options":{"queryReplacement":"={{ $json.representative_id }}, {{ $json.enterprise_id }}"}},"id":"21217294-ec62-43c0-9330-1e50ea142cdf","name":"update en loans","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[1780,680],"credentials":{"mySql":{"id":"UiW1IbcrksB9QCYW","name":"Kimchi production loans"}}},{"parameters":{"rule":{"interval":[{"field":"hours","triggerAtMinute":35}]}},"id":"2a1f418e-1c83-458c-9df4-668e4767da58","name":"Schedule Trigger1","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[360,440]}],"connections":{"asignaciones en HS":{"main":[[{"node":"empresas con ejecutivos válidos","type":"main","index":1}]]},"empresas con ejecutivos válidos":{"main":[[{"node":"asignaciones válidas","type":"main","index":0}]]},"ejecutivos en registry":{"main":[[{"node":"empresas con ejecutivos válidos","type":"main","index":0}]]},"empresas con operaciones en loans":{"main":[[{"node":"asignaciones válidas","type":"main","index":1}]]},"asignaciones válidas":{"main":[[{"node":"update en loans","type":"main","index":0},{"node":"update en financing","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"ejecutivos en registry","type":"main","index":0},{"node":"asignaciones en HS","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger1":{"recurrencyRules":[]}},"pinData":{},"versionId":"c0054543-e0c3-40f0-8099-098da4a59189","triggerCount":1,"tags":[]}