corrección-asignaciones-cada-hora-3rk0mpYeKAX6x6Op.json
{"id":"3rk0mpYeKAX6x6Op","createdAt":"2023-12-07T00:06:19.693Z","updatedAt":"2023-12-07T00:35:11.427Z","name":"Corrección asignaciones cada hora","active":false,"nodes":[{"parameters":{"operation":"executeQuery","query":"select distinct upper(c.rut_proveedor) as enterprise_document_number, o.email as representative_email from hubspot.companies c left join hubspot.owners o on c.owner_id = o.id\nwhere rut_proveedor is not null\n#and rut_proveedor in (\n#'77760001K')\n#limit 0,3000\n;","options":{}},"id":"bd1a55de-00cd-4ba2-925e-4dfaee40232b","name":"asignaciones en HS","type":"n8n-nodes-base.mySql","position":[960,760],"typeVersion":2.1,"credentials":{"mySql":{"id":"cY4StP9H8b1X2KwG","name":"Conexión dw Cumplo"}}},{"parameters":{"mode":"combine","mergeByFields":{"values":[{"field1":"representative_email","field2":"representative_email"}]},"options":{}},"id":"7c48d54e-705b-40d7-9151-7cec8cb9d37a","name":"empresas con ejecutivos válidos","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1260,660]},{"parameters":{"operation":"executeQuery","query":"select core_user.id as representative_id,\n       core_user.email as representative_email\n\nfrom api_registry_common.core_user\n         inner join api_registry_common.core_profile\n                    on core_user.id = core_profile.user_id","options":{}},"id":"aab99496-c44a-4e46-93b2-347fe9b1723e","name":"ejecutivos en registry","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[960,560],"credentials":{"mySql":{"id":"5j2ZltD8we7h9i1F","name":"Kimchi Read MySQL account"}}},{"parameters":{"operation":"executeQuery","query":"select distinct upper(document_number) as enterprise_document_number,\n                ce.id                  as enterprise_id\nfrom core_enterprise ce\n         inner join loans_loan l on ce.id = l.requester_id\n         inner join loan_requests_loanrequest lr on l.loan_request_id = lr.id\n    and l.state != 'canceled' and DATE(convert_tz(l.created_at, \"UTC\", \"America/Santiago\")) = DATE(convert_tz(now(), \"UTC\", \"America/Santiago\"))","options":{}},"id":"b6f16fd3-6cfa-4e60-a8c4-782ec0f0256b","name":"empresas con operaciones en loans","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[1260,920],"credentials":{"mySql":{"id":"UiW1IbcrksB9QCYW","name":"Kimchi production loans"}}},{"parameters":{"mode":"combine","mergeByFields":{"values":[{"field1":"enterprise_document_number","field2":"enterprise_document_number"}]},"options":{}},"id":"29185821-c9f4-46fd-b669-6ca56b08673b","name":"asignaciones válidas","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1560,780]},{"parameters":{"operation":"executeQuery","query":"update internal_requests_internalrequest ir\nset ir.representative_id = $1\nwhere ir.requester_id = $2\n  and ir.id in (select l.operation_id\n                from api_loan_common.loans_loan l\n\n                where l.state != 'canceled'\n                  and DATE(convert_tz(l.created_at, \"UTC\", \"America/Santiago\")) =\n                      DATE(convert_tz(now(), \"UTC\", \"America/Santiago\")))","options":{"queryReplacement":"={{ $json.representative_id }}, {{ $json.enterprise_id }}"}},"id":"dec9999a-8eee-4f07-bc0a-c95216f60830","name":"update en financing","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[2040,660],"credentials":{"mySql":{"id":"ZOk8Jv4CnQ8P1wLe","name":"Kimchi production financing"}}},{"parameters":{"operation":"executeQuery","query":"update loan_requests_loanrequest lr\nset lr.representative_id = $1\nwhere lr.requester_id = $2\n  and lr.operation_id in (select l.operation_id\n                          from api_loan_common.loans_loan l\n\n                          where l.state != 'canceled'\n                            and DATE(convert_tz(l.created_at, \"UTC\", \"America/Santiago\")) =\n                                DATE(convert_tz(now(), \"UTC\", \"America/Santiago\")));","options":{"queryReplacement":"={{ $json.representative_id }}, {{ $json.enterprise_id }}"}},"id":"2679bd5c-682b-44c1-9ae3-e8acde1c2364","name":"update en loans","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[2040,900],"credentials":{"mySql":{"id":"UiW1IbcrksB9QCYW","name":"Kimchi production loans"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":23,"triggerAtMinute":10}]}},"id":"306fb0c6-5035-487e-926b-26b00805a3c4","name":"Schedule Trigger1","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[620,660]}],"connections":{"asignaciones en HS":{"main":[[{"node":"empresas con ejecutivos válidos","type":"main","index":1}]]},"empresas con ejecutivos válidos":{"main":[[{"node":"asignaciones válidas","type":"main","index":0}]]},"ejecutivos en registry":{"main":[[{"node":"empresas con ejecutivos válidos","type":"main","index":0}]]},"empresas con operaciones en loans":{"main":[[{"node":"asignaciones válidas","type":"main","index":1}]]},"asignaciones válidas":{"main":[[{"node":"update en loans","type":"main","index":0},{"node":"update en financing","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"ejecutivos en registry","type":"main","index":0},{"node":"asignaciones en HS","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger1":{"recurrencyRules":[]}},"pinData":{},"versionId":"426a9739-d697-4851-a9b6-37f8504198ca","triggerCount":1,"tags":[]}