creación-empresas---pipeline-operaciones-efofTVl2Wmd4wU2K.json
{"id":"efofTVl2Wmd4wU2K","createdAt":"2023-09-25T19:44:40.094Z","updatedAt":"2023-09-26T18:54:14.740Z","name":"Creación empresas - Pipeline Operaciones","active":true,"nodes":[{"parameters":{"path":"645c0c88-d48b-456d-9784-2f0b0a537f94","options":{}},"id":"de560803-03dd-48ad-b67d-4162cd8541f5","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[700,280],"webhookId":"645c0c88-d48b-456d-9784-2f0b0a537f94"},{"parameters":{"method":"POST","url":"https://api.hubapi.com/crm/v3/objects/companies/search/","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendBody":true,"specifyBody":"json","jsonBody":"={\"filterGroups\":[{\"filters\":[{\"value\":\"{{ $json.rut_empresa}}\",\"propertyName\":\"documento_tributario\",\"operator\":\"EQ\"}]}],\"sorts\":[\"string\"],\"properties\":[\"rut\", \"hubspot_owner_id\"],\"limit\":1,\"after\":0}  ","options":{}},"id":"dc298917-090e-4b75-b1cc-f47c587de3ca","name":"Search Hs Company","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1160,280],"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.total }}","operation":"equal"}]}},"id":"430ca955-4438-47a3-9454-5291f6ea8ef7","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[1400,280]},{"parameters":{"authentication":"appToken","resource":"company","name":"={{ $node[\"Set_rut_empresa\"].json.rut_empresa }}","additionalFields":{"customPropertiesUi":{"customPropertiesValues":[{"property":"documento_tributario","value":"={{ $node[\"Set_rut_empresa\"].json.rut_empresa }}"},{"property":"estado_empresa","value":"Disponible"}]}}},"id":"7ebc762c-4c45-4add-b65c-29e115adb5ea","name":"HubSpot","type":"n8n-nodes-base.hubspot","typeVersion":2,"position":[1720,120],"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}},{"parameters":{"method":"PUT","url":"=https://api.hubapi.com/crm/v3/objects/deal/{{ $node.Set_rut_empresa.json.deal_id }}/associations/company/{{ $node.Set_company_id.json.Company_id}}/deal_to_company  ","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","options":{}},"id":"fe3819f3-3dc2-42ed-ba1f-59204bd7affb","name":"Associate deal to company","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2160,120],"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}},{"parameters":{"values":{"string":[{"name":"rut_empresa","value":"={{ $json.query.documento_tributario }}"}],"number":[{"name":"deal_id","value":"={{ $json.query.hs_object_id }}"}]},"options":{}},"id":"b01ef04b-dd91-4cef-b8a0-da01a4a2f760","name":"Set_rut_empresa","type":"n8n-nodes-base.set","typeVersion":2,"position":[920,280]},{"parameters":{"values":{"string":[{"name":"Company_id","value":"={{ $json.companyId }}"}]},"options":{}},"id":"2f69eaaa-cb69-40ca-a523-cc362c3341f4","name":"Set_company_id","type":"n8n-nodes-base.set","typeVersion":2,"position":[1940,120]},{"parameters":{"method":"PUT","url":"=https://api.hubapi.com/crm/v3/objects/deal/{{ $node.Set_rut_empresa.json.deal_id }}/associations/company/{{ $node.Set_company_id1.json.company_id}}/deal_to_company  ","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","options":{}},"id":"1773f961-bf9b-4335-a7af-cb480a915184","name":"Associate deal to company1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1980,480],"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}},{"parameters":{"values":{"number":[{"name":"company_id","value":"={{ $json.results[0].id }}"}],"string":[{"name":"propietario","value":"={{ $json.results[0].properties.hubspot_owner_id }}"}]},"options":{}},"id":"cc0675a3-65e7-4682-ab3d-4782881c8a7e","name":"Set_company_id1","type":"n8n-nodes-base.set","typeVersion":2,"position":[1720,480]},{"parameters":{"authentication":"appToken","resource":"deal","operation":"update","dealId":{"__rl":true,"value":"={{ $node.Set_rut_empresa.json.deal_id }}","mode":"id"},"updateFields":{"dealOwner":{"__rl":true,"value":"={{ $node.Set_company_id1.json.propietario }}","mode":"id"}}},"id":"82bea2e8-d53a-4db7-a00b-5671272326b2","name":"HubSpot1","type":"n8n-nodes-base.hubspot","typeVersion":2,"position":[2200,480],"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}}],"connections":{"Webhook":{"main":[[{"node":"Set_rut_empresa","type":"main","index":0}]]},"Search Hs Company":{"main":[[{"node":"IF","type":"main","index":0}]]},"IF":{"main":[[{"node":"HubSpot","type":"main","index":0}],[{"node":"Set_company_id1","type":"main","index":0}]]},"HubSpot":{"main":[[{"node":"Set_company_id","type":"main","index":0}]]},"Set_rut_empresa":{"main":[[{"node":"Search Hs Company","type":"main","index":0}]]},"Set_company_id":{"main":[[{"node":"Associate deal to company","type":"main","index":0}]]},"Set_company_id1":{"main":[[{"node":"Associate deal to company1","type":"main","index":0}]]},"Associate deal to company1":{"main":[[{"node":"HubSpot1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"pinData":{},"versionId":"bec46dfe-b8a8-468f-b7b3-77edfbe52dac","triggerCount":1,"tags":[]}