doble-marcaje-sTzl4baVG3Oy4tTM.json
{"id":"sTzl4baVG3Oy4tTM","createdAt":"2024-03-06T16:53:58.790Z","updatedAt":"2024-03-06T22:11:55.517Z","name":"Doble Marcaje","active":false,"nodes":[{"parameters":{"operation":"select","table":{"__rl":true,"value":"=srm_invoices","mode":"name"},"returnAll":true,"where":{"values":[{"column":"fecha_pago_real","condition":"IS NULL"}]},"options":{"outputColumns":["operation_id","fecha_pago_real"]}},"id":"a6b08934-f875-478e-8593-f80557167445","name":"MySQL1","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[740,-40],"credentials":{"mySql":{"id":"iO0TJHhdOEyQJN7H","name":"Admin CL Write"}}},{"parameters":{"operation":"select","table":{"__rl":true,"value":"loans_loan","mode":"list","cachedResultName":"loans_loan"},"returnAll":true,"where":{"values":[{"column":"operation_id","value":"={{ $json.operation_id }}"},{"column":"state","value":"paid"}]},"options":{}},"id":"8c243e6f-b7e6-4a2d-a0e7-ab60cf2d79b3","name":"MySQL","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[1000,-60],"credentials":{"mySql":{"id":"UiW1IbcrksB9QCYW","name":"Kimchi production loans"}}},{"parameters":{},"id":"728761bb-c4f5-42a7-8ee8-c74a50c6735b","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[520,140]},{"parameters":{"operation":"select","table":{"__rl":true,"value":"loans_payment","mode":"list","cachedResultName":"loans_payment"},"returnAll":true,"where":{"values":[{"column":"id","value":"={{ $json.id }}"}]},"options":{}},"id":"0fa18e12-c00d-46fa-bd70-250d8a6c522a","name":"MySQL2","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[1220,-60],"credentials":{"mySql":{"id":"UiW1IbcrksB9QCYW","name":"Kimchi production loans"}}}],"connections":{"MySQL1":{"main":[[{"node":"MySQL","type":"main","index":0}]]},"When clicking \"Execute Workflow\"":{"main":[[{"node":"MySQL1","type":"main","index":0}]]},"MySQL":{"main":[[{"node":"MySQL2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"pinData":{},"versionId":"91248dca-109e-49a4-95cf-43bcd6322a2f","triggerCount":0,"tags":[]}