empresas-dani-miranda-nov-2023-hyJP7CEkLJ94FC5g.json
{"id":"hyJP7CEkLJ94FC5g","createdAt":"2023-12-05T20:37:26.632Z","updatedAt":"2023-12-07T00:24:35.647Z","name":"Empresas Dani Miranda Nov 2023","active":false,"nodes":[{"parameters":{"mode":"combine","mergeByFields":{"values":[{"field1":"representative_email","field2":"representative_email"}]},"options":{}},"id":"b3d54461-aafe-4407-b02d-f987b5b56ce3","name":"empresas con ejecutivos válidos2","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1680,560]},{"parameters":{"operation":"executeQuery","query":"select core_user.id as representative_id,\n       core_user.email as representative_email\n\nfrom api_registry_common.core_user\n         inner join api_registry_common.core_profile\n                    on core_user.id = core_profile.user_id","options":{}},"id":"7a830bb9-8e22-4c66-919e-d7e990157d99","name":"ejecutivos en registry2","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[1380,460],"credentials":{"mySql":{"id":"5j2ZltD8we7h9i1F","name":"Kimchi Read MySQL account"}}},{"parameters":{"mode":"combine","mergeByFields":{"values":[{"field1":"enterprise_document_number","field2":"enterprise_document_number"}]},"options":{}},"id":"b8ca6001-4d92-4ef3-80f2-3db0f9bf8deb","name":"asignaciones válidas2","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1980,680]},{"parameters":{"operation":"executeQuery","query":"update internal_requests_internalrequest ir \nset ir.representative_id = $1 \nwhere ir.requester_id = $2 \nand ir.created_at >= '2023-11-01' and ir.created_at < '2023-12-01'\n","options":{"queryReplacement":"={{ $json.representative_id }}, {{ $json.enterprise_id }}"}},"id":"fe0842ef-13ff-47ee-898f-b4300f0e1e81","name":"update en financing2","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[2460,560],"credentials":{"mySql":{"id":"ZOk8Jv4CnQ8P1wLe","name":"Kimchi production financing"}}},{"parameters":{"operation":"executeQuery","query":"update loan_requests_loanrequest lr\nset lr.representative_id = $1\nwhere lr.requester_id = $2\n  and lr.created_at >= '2023-11-01' and lr.created_at < '2023-12-01'\n","options":{"queryReplacement":"={{ $json.representative_id }}, {{ $json.enterprise_id }}"}},"id":"e25be684-727e-4eed-bd3a-9e5db404cad3","name":"update en loans2","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[2460,800],"credentials":{"mySql":{"id":"UiW1IbcrksB9QCYW","name":"Kimchi production loans"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":23,"triggerAtMinute":10}]}},"id":"7180dd85-7684-41f1-9e54-ca0b04e5fc9a","name":"Schedule Trigger3","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[1040,560]},{"parameters":{"content":"Dani Miranda","height":753.7096648648651,"width":1711.4160432432434},"id":"82a76a6a-63fa-4d7d-ba27-519540a49555","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[980,280]},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"10NztD0lAFDsjEPxFm2YjDjqZwtKkmdGthsfHq7nxcFU","mode":"list","cachedResultName":"empresas Dani Miranda","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10NztD0lAFDsjEPxFm2YjDjqZwtKkmdGthsfHq7nxcFU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/10NztD0lAFDsjEPxFm2YjDjqZwtKkmdGthsfHq7nxcFU/edit#gid=0"},"options":{}},"id":"a0816bf6-cc9d-4ad7-82d4-952c08db7821","name":"Empresas Dani Miranda","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1480,640],"credentials":{"googleApi":{"id":"W6zGdJ4A2Pv7SxQl","name":"GSheets Cumplo"}}},{"parameters":{"operation":"executeQuery","query":"select distinct upper(document_number) as enterprise_document_number,\n                ce.id                  as enterprise_id\nfrom core_enterprise ce\n         inner join loans_loan l on ce.id = l.requester_id\n         inner join loan_requests_loanrequest lr on l.loan_request_id = lr.id\n    and l.state != 'canceled' and l.created_at >='2023-11-01' and \nl.created_at <'2023-12-01'","options":{}},"id":"eae46297-844b-4e99-b3b6-5a85b33c2640","name":"empresas con operaciones en loans","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[1680,800],"credentials":{"mySql":{"id":"UiW1IbcrksB9QCYW","name":"Kimchi production loans"}}}],"connections":{"empresas con ejecutivos válidos2":{"main":[[{"node":"asignaciones válidas2","type":"main","index":0}]]},"ejecutivos en registry2":{"main":[[{"node":"empresas con ejecutivos válidos2","type":"main","index":0}]]},"asignaciones válidas2":{"main":[[{"node":"update en loans2","type":"main","index":0},{"node":"update en financing2","type":"main","index":0}]]},"Schedule Trigger3":{"main":[[{"node":"ejecutivos en registry2","type":"main","index":0},{"node":"Empresas Dani Miranda","type":"main","index":0},{"node":"empresas con operaciones en loans","type":"main","index":0}]]},"Empresas Dani Miranda":{"main":[[{"node":"empresas con ejecutivos válidos2","type":"main","index":1}]]},"empresas con operaciones en loans":{"main":[[{"node":"asignaciones válidas2","type":"main","index":1}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"pinData":{},"versionId":"c4bbc5dd-9a41-421a-bcf9-42f5e6814c51","triggerCount":0,"tags":[]}