empresas-nico-alegria-diciembre-2023-ssQJxxImntSCI1HE.json
{"id":"ssQJxxImntSCI1HE","createdAt":"2024-01-05T19:55:04.138Z","updatedAt":"2024-01-05T20:05:16.664Z","name":"Empresas Nico Alegria diciembre 2023","active":false,"nodes":[{"parameters":{"mode":"combine","mergeByFields":{"values":[{"field1":"representative_email","field2":"representative_email"}]},"options":{}},"id":"7e22fdf6-1f7d-452e-8524-a3f62b7e1e10","name":"empresas con ejecutivos válidos2","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1660,480]},{"parameters":{"operation":"executeQuery","query":"select core_user.id as representative_id,\n       core_user.email as representative_email\n\nfrom api_registry_common.core_user\n         inner join api_registry_common.core_profile\n                    on core_user.id = core_profile.user_id","options":{}},"id":"d2168f3a-e4e1-43c9-840d-c4c4f0ea74f9","name":"ejecutivos en registry2","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[1360,380],"credentials":{"mySql":{"id":"5j2ZltD8we7h9i1F","name":"Kimchi Read MySQL account"}}},{"parameters":{"mode":"combine","mergeByFields":{"values":[{"field1":"enterprise_document_number","field2":"enterprise_document_number"}]},"options":{}},"id":"85374e1b-93a7-4a70-9c82-3eafbf7a1632","name":"asignaciones válidas2","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1960,600]},{"parameters":{"operation":"executeQuery","query":"update internal_requests_internalrequest ir \nset ir.representative_id = $1 \nwhere ir.requester_id = $2 \nand ir.created_at >= '2023-12-01' and ir.created_at < '2024-01-01'\n","options":{"queryReplacement":"={{ $json.representative_id }}, {{ $json.enterprise_id }}"}},"id":"b2b1cef0-a3fe-49f4-aae1-b5b9beaf4671","name":"update en financing2","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[2440,480],"credentials":{"mySql":{"id":"ZOk8Jv4CnQ8P1wLe","name":"Kimchi production financing"}}},{"parameters":{"operation":"executeQuery","query":"update loan_requests_loanrequest lr\nset lr.representative_id = $1\nwhere lr.requester_id = $2\n  and lr.created_at >= '2023-12-01' and lr.created_at < '2024-01-01'\n","options":{"queryReplacement":"={{ $json.representative_id }}, {{ $json.enterprise_id }}"}},"id":"45932a70-d394-4cbb-a178-93e7410d5387","name":"update en loans2","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[2440,720],"credentials":{"mySql":{"id":"UiW1IbcrksB9QCYW","name":"Kimchi production loans"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":23,"triggerAtMinute":10}]}},"id":"11c6988a-683d-4d1b-a20c-7dd1ea0c127c","name":"Schedule Trigger3","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[1020,480]},{"parameters":{"content":"Nico Alegría","height":753.7096648648651,"width":1711.4160432432434},"id":"fa7a100c-3132-4d57-bae2-0f1bd21a9f14","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[960,200]},{"parameters":{"operation":"executeQuery","query":"select distinct upper(document_number) as enterprise_document_number,\n                ce.id                  as enterprise_id\nfrom core_enterprise ce\n         inner join loans_loan l on ce.id = l.requester_id\n         inner join loan_requests_loanrequest lr on l.loan_request_id = lr.id\n    and l.state != 'canceled' and l.created_at >='2023-12-01' and \nl.created_at <'2024-01-01'","options":{}},"id":"b5e646bf-ed97-4b92-8a4a-4efcd16184eb","name":"empresas con operaciones en loans","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[1660,720],"credentials":{"mySql":{"id":"UiW1IbcrksB9QCYW","name":"Kimchi production loans"}}},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1Y1v7hE5650CtfXse-uLe0Dz88trNZUksmbqqFAmBPJU","mode":"list","cachedResultName":"empresas Nico Alegría","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y1v7hE5650CtfXse-uLe0Dz88trNZUksmbqqFAmBPJU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Y1v7hE5650CtfXse-uLe0Dz88trNZUksmbqqFAmBPJU/edit#gid=0"},"options":{}},"id":"357cc5b2-5e98-45f1-8a24-a2c9d9d5291e","name":"Empresas Nico Alegria","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1340,740],"credentials":{"googleApi":{"id":"W6zGdJ4A2Pv7SxQl","name":"GSheets Cumplo"}}}],"connections":{"empresas con ejecutivos válidos2":{"main":[[{"node":"asignaciones válidas2","type":"main","index":0}]]},"ejecutivos en registry2":{"main":[[{"node":"empresas con ejecutivos válidos2","type":"main","index":0}]]},"asignaciones válidas2":{"main":[[{"node":"update en loans2","type":"main","index":0},{"node":"update en financing2","type":"main","index":0}]]},"Schedule Trigger3":{"main":[[{"node":"ejecutivos en registry2","type":"main","index":0},{"node":"Empresas Nico Alegria","type":"main","index":0},{"node":"empresas con operaciones en loans","type":"main","index":0}]]},"empresas con operaciones en loans":{"main":[[{"node":"asignaciones válidas2","type":"main","index":1}]]},"Empresas Nico Alegria":{"main":[[{"node":"empresas con ejecutivos válidos2","type":"main","index":1}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"pinData":{},"versionId":"5e11b9ef-fa1d-4c68-a427-ecdaa164791a","triggerCount":0,"tags":[]}