empresas-gabriela-pinto-6V1MIHTXthP0wgiz.json
{"id":"6V1MIHTXthP0wgiz","createdAt":"2024-02-08T03:04:25.551Z","updatedAt":"2024-02-08T03:07:37.739Z","name":"Empresas Gabriela Pinto","active":true,"nodes":[{"parameters":{"mode":"combine","mergeByFields":{"values":[{"field1":"representative_email","field2":"representative_email"}]},"options":{}},"id":"cb3ed7de-d76b-4b2e-b6ae-30cbb70950d5","name":"empresas con ejecutivos válidos2","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[2960,-40]},{"parameters":{"operation":"executeQuery","query":"select core_user.id as representative_id,\n       core_user.email as representative_email\n\nfrom api_registry_common.core_user\n         inner join api_registry_common.core_profile\n                    on core_user.id = core_profile.user_id","options":{}},"id":"963ec90f-0273-4c2f-bf9e-5a13008f671d","name":"ejecutivos en registry2","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[2660,-140],"credentials":{"mySql":{"id":"5j2ZltD8we7h9i1F","name":"Kimchi Read MySQL account"}}},{"parameters":{"operation":"executeQuery","query":"select distinct upper(document_number) as enterprise_document_number,\n                ce.id                  as enterprise_id\nfrom core_enterprise ce\n         inner join loans_loan l on ce.id = l.requester_id\n         inner join loan_requests_loanrequest lr on l.loan_request_id = lr.id\n    and l.state != 'canceled'\n#and lr.requester_id=1498\n    and\nlr.created_at >= '2024-01-01' and lr.created_at < '2024-02-01';\n#                                                    lr.created_at between DATE_ADD(\n#                                                            DATE_SUB(LAST_DAY(CURDATE()), INTERVAL 1 MONTH), INTERVAL 1\n#                                                            DAY) and LAST_DAY(CURDATE());","options":{}},"id":"1652ff88-4492-4cc6-b3a8-e659d6f07ee9","name":"empresas con operaciones en loans2","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[2960,220],"credentials":{"mySql":{"id":"UiW1IbcrksB9QCYW","name":"Kimchi production loans"}}},{"parameters":{"mode":"combine","mergeByFields":{"values":[{"field1":"enterprise_document_number","field2":"enterprise_document_number"}]},"options":{}},"id":"682be2d5-8cae-442f-bf85-ffe85e0f3034","name":"asignaciones válidas2","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[3260,80]},{"parameters":{"operation":"executeQuery","query":"update internal_requests_internalrequest ir \nset ir.representative_id = $1 \nwhere ir.requester_id = $2 \nand ir.created_at >= '2024-01-01' and ir.created_at < '2024-02-01'\n","options":{"queryReplacement":"={{ $json.representative_id }}, {{ $json.enterprise_id }}"}},"id":"ebda46bc-4958-4996-af61-e6e332578892","name":"update en financing2","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[3740,-40],"credentials":{"mySql":{"id":"ZOk8Jv4CnQ8P1wLe","name":"Kimchi production financing"}}},{"parameters":{"operation":"executeQuery","query":"update loan_requests_loanrequest lr\nset lr.representative_id = $1\nwhere lr.requester_id = $2\n  and lr.created_at >= '2023-01-01' and lr.created_at < '2024-02-01'\n","options":{"queryReplacement":"={{ $json.representative_id }}, {{ $json.enterprise_id }}"}},"id":"a1e4ce44-1fee-4b87-a198-e4afb3e58669","name":"update en loans2","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[3740,200],"credentials":{"mySql":{"id":"UiW1IbcrksB9QCYW","name":"Kimchi production loans"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":23,"triggerAtMinute":10}]}},"id":"d27eadc6-12c0-425a-bc80-be875f426ec4","name":"Schedule Trigger3","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[2320,-40]},{"parameters":{"content":"Dani Miranda","height":753.7096648648651,"width":1711.4160432432434},"id":"bde0520a-b32e-4b6d-a18c-0a5784993928","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2260,-320]},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1AnPiiiXr3wx6ujpGC3ZqKOAwYcaCu9J7kgp8DQUy5d8","mode":"list","cachedResultName":"empresas Gabriela ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1AnPiiiXr3wx6ujpGC3ZqKOAwYcaCu9J7kgp8DQUy5d8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1AnPiiiXr3wx6ujpGC3ZqKOAwYcaCu9J7kgp8DQUy5d8/edit#gid=0"},"options":{}},"id":"027ca7ab-d682-4fe2-93db-e286fa04754a","name":"Empresas Dani Miranda","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[2660,80],"credentials":{"googleApi":{"id":"W6zGdJ4A2Pv7SxQl","name":"GSheets Cumplo"}}}],"connections":{"empresas con ejecutivos válidos2":{"main":[[{"node":"asignaciones válidas2","type":"main","index":0}]]},"ejecutivos en registry2":{"main":[[{"node":"empresas con ejecutivos válidos2","type":"main","index":0}]]},"empresas con operaciones en loans2":{"main":[[{"node":"asignaciones válidas2","type":"main","index":1}]]},"asignaciones válidas2":{"main":[[{"node":"update en loans2","type":"main","index":0},{"node":"update en financing2","type":"main","index":0}]]},"Schedule Trigger3":{"main":[[{"node":"ejecutivos en registry2","type":"main","index":0},{"node":"Empresas Dani Miranda","type":"main","index":0}]]},"Empresas Dani Miranda":{"main":[[{"node":"empresas con ejecutivos válidos2","type":"main","index":1}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger3":{"recurrencyRules":[]}},"pinData":{},"versionId":"72c75f2c-75c1-44a0-9e02-d0e0903ecc90","triggerCount":1,"tags":[]}