flujo-bases-panel-de-riesgo-LT8AAFiqrVy77iMJ.json
{"id":"LT8AAFiqrVy77iMJ","createdAt":"2023-07-13T03:35:15.419Z","updatedAt":"2023-09-08T20:00:54.372Z","name":"Flujo Bases Panel de Riesgo","active":false,"nodes":[{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst uniqueItems = [];\nconst seenValues = {};\n\nfor (let i = $input.all().length - 1; i >= 0; i--) {\n  const item = $input.all()[i];\n  const rut = item.json['Rut'].toString().replace('k', 'K').replace(/[-.\\n]/g, '');\n  \n  if (!seenValues[rut]) {\n    uniqueItems.unshift(item);\n    seenValues[rut] = true;\n  }\n}\n\nreturn uniqueItems;\n\n\n"},"id":"9841fc0f-15af-4348-98ab-8f55ba39cf27","name":"Code","type":"n8n-nodes-base.code","position":[360,20],"typeVersion":1},{"parameters":{"operation":"executeQuery","query":"=insert into banned_enterprises (document_number, comments)\nvalues ('{{ $json[\"document_number\"] }}','{{ $json[\"comments\"] }}')\non duplicate key update comments = '{{ $json[\"comments\"] }}'","options":{}},"id":"ae74b083-4ff8-4330-be0e-81a7eb8ec606","name":"MySQL","type":"n8n-nodes-base.mySql","position":[1080,20],"typeVersion":2.1,"credentials":{"mySql":{"id":"V4bG9Qr3y7I0v2Rf","name":"Datawarehouse"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst uniqueItems = [];\nconst seenValues = {};\n\nfor (let i = $input.all().length - 1; i >= 0; i--) {\n  const item = $input.all()[i];\n  const rut = item.json['Rut'].toString().replace('k', 'K').replace(/[-.\\n]/g, '');\n  \n  if (!seenValues[rut]) {\n    uniqueItems.unshift(item);\n    seenValues[rut] = true;\n  }\n}\n\nreturn uniqueItems;"},"id":"d8f96155-6fab-4d19-8f01-b0265029d397","name":"Code2","type":"n8n-nodes-base.code","position":[360,380],"typeVersion":1},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst uniqueItems = [];\nconst seenValues = {};\n\nfor (let i = $input.all().length - 1; i >= 0; i--) {\n  const item = $input.all()[i];\n  const rut = item.json['Rut pagador '].toString().replace('k', 'K').replace(/[-.\\n]/g, '');\n  \n  if (!seenValues[rut]) {\n    uniqueItems.unshift(item);\n    seenValues[rut] = true;\n  }\n}\n\nreturn uniqueItems;"},"id":"972dc861-abad-4387-b9c4-f130cbcb974e","name":"Code3","type":"n8n-nodes-base.code","position":[360,560],"typeVersion":1},{"parameters":{"pollTimes":{"item":[{"mode":"everyHour"}]},"documentId":{"__rl":true,"mode":"list","value":"1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E/edit?usp=drivesdk","cachedResultName":"CL Panel de Riesgo"},"sheetName":{"__rl":true,"mode":"list","value":394331852,"cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E/edit#gid=394331852","cachedResultName":"Post-confirmado"},"options":{}},"id":"29e03037-79d5-4bb7-a41a-4977b3229d23","name":"Llamar Post-confirmado","type":"n8n-nodes-base.googleSheetsTrigger","position":[20,560],"typeVersion":1,"credentials":{"googleSheetsTriggerOAuth2Api":{"id":"7Mv6pfy8h3RGubYK","name":"Google Sheets Trigger account Natán"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst uniqueItems = [];\nconst seenValues = {};\n\nfor (let i = $input.all().length - 1; i >= 0; i--) {\n  const item = $input.all()[i];\n  const rut = item.json['Rut_pagadores'].toString().replace('k', 'K').replace(/[-.\\n]/g, '');\n  \n  if (!seenValues[rut]) {\n    uniqueItems.unshift(item);\n    seenValues[rut] = true;\n  }\n}\n\nreturn uniqueItems;\n\n"},"id":"17a324fe-aa03-40c7-9773-9d9ae85ecafb","name":"Code4","type":"n8n-nodes-base.code","position":[360,760],"typeVersion":1},{"parameters":{"pollTimes":{"item":[{"mode":"everyHour"}]},"documentId":{"__rl":true,"mode":"list","value":"1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E/edit?usp=drivesdk","cachedResultName":"CL Panel de Riesgo"},"sheetName":{"__rl":true,"mode":"list","value":1713282289,"cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E/edit#gid=1713282289","cachedResultName":"lista LINK"},"options":{}},"id":"1e128dba-7de3-4999-b28d-27d1123bb2b0","name":"Llamar Lista Link","type":"n8n-nodes-base.googleSheetsTrigger","position":[20,760],"typeVersion":1,"credentials":{"googleSheetsTriggerOAuth2Api":{"id":"7Mv6pfy8h3RGubYK","name":"Google Sheets Trigger account Natán"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.Rut = item.json.Rut.toString().replace('k', 'K').replace(/[-.]/g, '');\n\n}\n  return $input.all();"},"id":"df890961-81a9-4bc7-93da-a5f104f49a55","name":"Code5","type":"n8n-nodes-base.code","position":[360,940],"typeVersion":1},{"parameters":{"pollTimes":{"item":[{"mode":"everyHour"}]},"documentId":{"__rl":true,"mode":"list","value":"1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E/edit?usp=drivesdk","cachedResultName":"CL Panel de Riesgo"},"sheetName":{"__rl":true,"mode":"list","value":924453781,"cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E/edit#gid=924453781","cachedResultName":"Grupos económicos"},"options":{}},"id":"c4c18c12-c13e-4b2f-9278-7d2e9692d6dd","name":"Llamar Grupos económicos","type":"n8n-nodes-base.googleSheetsTrigger","position":[20,940],"typeVersion":1,"credentials":{"googleSheetsTriggerOAuth2Api":{"id":"7Mv6pfy8h3RGubYK","name":"Google Sheets Trigger account Natán"}}},{"parameters":{"operation":"executeQuery","query":"=insert into enterprise_economic_group (document_number, economic_group)\nvalues ('{{ $json[\"document_number\"] }}','{{ $json[\"economic_group\"] }}')\non duplicate key update economic_group = '{{ $json[\"economic_group\"] }}'","options":{}},"id":"47fc38f4-4555-4c76-80c4-b0d917a262bd","name":"MySQL1","type":"n8n-nodes-base.mySql","position":[1080,940],"typeVersion":2.1,"credentials":{"mySql":{"id":"V4bG9Qr3y7I0v2Rf","name":"Datawarehouse"}}},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"document_number","value":"={{ $json.Rut }}"},{"name":"comments","value":"={{ $json['Comentarios de bloqueo'] }}"}]},"options":{}},"id":"0c4902a6-6a11-4409-abe0-248580f7c907","name":"Set","type":"n8n-nodes-base.set","position":[540,20],"typeVersion":2},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"operation_id","value":"={{ $json['id operación'] }}"},{"name":"condition_date","value":"={{ $json['Fecha comité'] }}"},{"name":"comments","value":"={{ $json['Condición comité'] }}"}]},"options":{}},"id":"3dbc8879-ec72-49bb-b0e2-5530d16f4999","name":"Set1","type":"n8n-nodes-base.set","position":[540,200],"typeVersion":2},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.document_number }}","operation":"notEqual","value2":"={{ '' }}"}]}},"id":"c8bc9309-a161-4da4-a2d4-dc852f7d428a","name":"Filter","type":"n8n-nodes-base.filter","position":[720,20],"typeVersion":1},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"document_number","value":"={{ $json.Rut }}"},{"name":"classification","value":"={{ $json['Clasificación como pagador'] }}"},{"name":"max_credit_line","value":"={{ $json['Línea máxima global como pagador $'] }}"},{"name":"economic_sector","value":"={{ $json['Sector económico'] }}"},{"name":"comments","value":"={{ $json['Comentarios de pagador'] }}"}]},"options":{}},"id":"30a48184-7b81-498d-961b-ddbc38a08c41","name":"Set2","type":"n8n-nodes-base.set","position":[540,380],"typeVersion":2},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"observation","value":"={{ $json['Protocolo u observación '] }}"},{"name":"document_number","value":"={{ $json['Rut pagador '] }}"}]},"options":{}},"id":"dd8705b0-7571-429b-920e-bcf63fc7c1de","name":"Set3","type":"n8n-nodes-base.set","position":[540,560],"typeVersion":2},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"document_number","value":"={{ $json.Rut_pagadores }}"},{"name":"classification","value":"={{ $json.LINK }}"}]},"options":{}},"id":"ad567bed-81fe-4547-912f-6c3432111055","name":"Set4","type":"n8n-nodes-base.set","position":[540,760],"typeVersion":2},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"document_number","value":"={{ $json.Rut }}"},{"name":"economic_group","value":"={{ $json['Grupo económico'] }}"}]},"options":{}},"id":"0db19650-5fe0-498f-a347-7bfca504bb07","name":"Set5","type":"n8n-nodes-base.set","position":[540,940],"typeVersion":2},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.operation_id }}","operation":"notEqual","value2":"={{ '' }}"}]}},"id":"97ff8a15-c7d1-46d0-82de-5fc3e4311b2d","name":"Filter1","type":"n8n-nodes-base.filter","position":[720,200],"typeVersion":1},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.document_number }}","operation":"notEqual","value2":"={{ '' }}"}]}},"id":"abadd60d-a997-4b88-bff2-0cf06ee5a685","name":"Filter2","type":"n8n-nodes-base.filter","position":[720,380],"typeVersion":1},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.document_number }}","operation":"notEqual","value2":"={{ '' }}"}]}},"id":"3dd97c22-199d-4117-b766-8571f7c3c526","name":"Filter3","type":"n8n-nodes-base.filter","position":[720,560],"typeVersion":1},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.document_number }}","operation":"notEqual","value2":"={{ '' }}"}]}},"id":"3f8f8c66-b97d-4efb-ad5e-8c73e68e38af","name":"Filter4","type":"n8n-nodes-base.filter","position":[720,760],"typeVersion":1},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.document_number }}","operation":"notEqual","value2":"={{ '' }}"}]}},"id":"74eedeac-c4f5-461d-8d6d-2563f15e6ba3","name":"Filter5","type":"n8n-nodes-base.filter","position":[720,940],"typeVersion":1},{"parameters":{"operation":"executeQuery","query":"=insert into link_classification (document_number, classification)\nvalues ('{{ $json[\"document_number\"] }}','{{ $json[\"classification\"] }}')\non duplicate key update classification = '{{ $json[\"classification\"] }}'","options":{}},"id":"f88c636d-df53-4140-9df2-315730ec16d9","name":"MySQL2","type":"n8n-nodes-base.mySql","position":[1080,760],"typeVersion":2.1,"credentials":{"mySql":{"id":"V4bG9Qr3y7I0v2Rf","name":"Datawarehouse"}}},{"parameters":{"operation":"executeQuery","query":"=insert into post_confirmations (document_number, observation)\nvalues ('{{ $json[\"document_number\"] }}','{{ $json[\"observation\"] }}')\non duplicate key update observation = '{{ $json[\"observation\"] }}'","options":{}},"id":"bb517bb4-aedf-4640-bb45-198b1137fd83","name":"MySQL3","type":"n8n-nodes-base.mySql","position":[1080,560],"typeVersion":2.1,"credentials":{"mySql":{"id":"V4bG9Qr3y7I0v2Rf","name":"Datawarehouse"}}},{"parameters":{"operation":"executeQuery","query":"=insert into payers (document_number, classification, comments, economic_sector, max_credit_line)\nvalues ('{{ $json[\"document_number\"] }}','{{ $json[\"classification\"] }}','{{ $json[\"comments\"] }}', '{{ $json[\"economic_sector\"] }}','{{ $json[\"max_credit_line\"] }}')\non duplicate key update classification = '{{ $json[\"classification\"] }}', comments = '{{ $json[\"comments\"] }}', economic_sector = '{{ $json[\"economic_sector\"] }}', max_credit_line = '{{ $json[\"max_credit_line\"] }}'","options":{}},"id":"0e6d3209-0aa6-4dcc-a7f7-664be68e22ff","name":"MySQL4","type":"n8n-nodes-base.mySql","position":[1080,380],"typeVersion":2.1,"credentials":{"mySql":{"id":"V4bG9Qr3y7I0v2Rf","name":"Datawarehouse"}}},{"parameters":{"operation":"executeQuery","query":"=insert into committee_conditions (operation_id, comments, condition_date)\nvalues ({{ $json[\"operation_id\"] }},'{{ $json[\"comments\"] }}','{{ $json[\"condition_date\"] }}')\non duplicate key update comments = '{{ $json[\"comments\"] }}', condition_date = '{{ $json[\"condition_date\"] }}'","options":{}},"id":"2c893d02-56d9-4d15-901a-d73810df837d","name":"MySQL5","type":"n8n-nodes-base.mySql","position":[1080,200],"typeVersion":2.1,"credentials":{"mySql":{"id":"V4bG9Qr3y7I0v2Rf","name":"Datawarehouse"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyHour"}]},"documentId":{"__rl":true,"mode":"list","value":"1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E/edit?usp=drivesdk","cachedResultName":"CL Panel de Riesgo"},"sheetName":{"__rl":true,"mode":"list","value":940588543,"cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E/edit#gid=940588543","cachedResultName":"Bloqueados"},"options":{}},"id":"4b24a5d6-57ff-4f96-966c-da5e7c5d9e66","name":"Llamar Bloqueados","type":"n8n-nodes-base.googleSheetsTrigger","position":[20,20],"typeVersion":1,"credentials":{"googleSheetsTriggerOAuth2Api":{"id":"7Mv6pfy8h3RGubYK","name":"Google Sheets Trigger account Natán"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyHour"}]},"documentId":{"__rl":true,"mode":"list","value":"1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E/edit?usp=drivesdk","cachedResultName":"CL Panel de Riesgo"},"sheetName":{"__rl":true,"mode":"list","value":1052543507,"cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E/edit#gid=1052543507","cachedResultName":"Comité"},"options":{}},"id":"5ff57206-2ea1-4afb-9739-19166770ce71","name":"Llamar Comité","type":"n8n-nodes-base.googleSheetsTrigger","position":[20,200],"typeVersion":1,"credentials":{"googleSheetsTriggerOAuth2Api":{"id":"7Mv6pfy8h3RGubYK","name":"Google Sheets Trigger account Natán"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyHour"}]},"documentId":{"__rl":true,"mode":"list","value":"1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E/edit?usp=drivesdk","cachedResultName":"CL Panel de Riesgo"},"sheetName":{"__rl":true,"mode":"list","value":924696945,"cachedResultUrl":"https://docs.google.com/spreadsheets/d/1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E/edit#gid=924696945","cachedResultName":"Lista Pagadores Cumplo"},"options":{}},"id":"1253a1fb-4f99-433e-afa4-c0a1b35107ad","name":"Llamar Lista Pagadores","type":"n8n-nodes-base.googleSheetsTrigger","position":[20,380],"typeVersion":1,"credentials":{"googleSheetsTriggerOAuth2Api":{"id":"7Mv6pfy8h3RGubYK","name":"Google Sheets Trigger account Natán"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.Rut = item.json.Rut.toString().replace('k', 'K').replace(/[-.]/g, '');\n  //const moment = require('moment');\n  //const numero = items[0].json['Fecha comité'];\n  //const fechaFormateada = moment(numero).format('YYYY-MM-DD');\n  //const fecha = new Date(numero);\n  //items[0].json['Fecha comité'] = fechaFormateada;\n  //item.json['Fecha comité'] = fecha;\n}\n  return $input.all();"},"id":"16729589-f277-4e7a-bd3a-90f57d892d83","name":"Code1","type":"n8n-nodes-base.code","position":[360,200],"typeVersion":1}],"connections":{"Set":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Code":{"main":[[{"node":"Set","type":"main","index":0}]]},"Set1":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Set2":{"main":[[{"node":"Filter2","type":"main","index":0}]]},"Set3":{"main":[[{"node":"Filter3","type":"main","index":0}]]},"Set4":{"main":[[{"node":"Filter4","type":"main","index":0}]]},"Set5":{"main":[[{"node":"Filter5","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Set2","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Set3","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Set4","type":"main","index":0}]]},"Code5":{"main":[[{"node":"Set5","type":"main","index":0}]]},"Filter":{"main":[[{"node":"MySQL","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"MySQL5","type":"main","index":0}]]},"Filter2":{"main":[[{"node":"MySQL4","type":"main","index":0}]]},"Filter3":{"main":[[{"node":"MySQL3","type":"main","index":0}]]},"Filter4":{"main":[[{"node":"MySQL2","type":"main","index":0}]]},"Filter5":{"main":[[{"node":"MySQL1","type":"main","index":0}]]},"Llamar Comité":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Llamar Bloqueados":{"main":[[{"node":"Code","type":"main","index":0}]]},"Llamar Lista Link":{"main":[[{"node":"Code4","type":"main","index":0}]]},"Llamar Lista Pagadores":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Llamar Post-confirmado":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Llamar Grupos económicos":{"main":[[{"node":"Code5","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Set1","type":"main","index":0}]]}},"settings":{},"staticData":{"node:Llamar Post-confirmado":{"documentId":"1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E","sheetId":394331852,"lastRevision":7153,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E&revision=7153&exportFormat=xlsx"},"node:Llamar Lista Link":{"documentId":"1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E","sheetId":1713282289,"lastRevision":7156,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E&revision=7156&exportFormat=xlsx"},"node:Llamar Grupos económicos":{"documentId":"1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E","sheetId":924453781,"lastRevision":7156,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E&revision=7156&exportFormat=xlsx"},"node:Llamar Bloqueados":{"documentId":"1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E","sheetId":940588543,"lastRevision":7156,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E&revision=7156&exportFormat=xlsx"},"node:Llamar Comité":{"documentId":"1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E","sheetId":1052543507,"lastRevision":5704,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E&revision=5704&exportFormat=xlsx"},"node:Llamar Lista Pagadores":{"documentId":"1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E","sheetId":924696945,"lastRevision":5275,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1gfL6x1A6n2lbKuqaNrj-44lKxyX3HOLXtfoLcFONl6E&revision=5275&exportFormat=xlsx"}},"pinData":{},"versionId":"317e0f9c-983a-434f-a29a-99116324a86a","triggerCount":6,"tags":[]}