fondos-y-semifondos-chile-goDAUpaa0LGTKAhW.json
{"id":"goDAUpaa0LGTKAhW","createdAt":"2023-08-25T20:02:35.624Z","updatedAt":"2023-10-18T16:12:12.781Z","name":"Fondos y semifondos Chile","active":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"id":"c15f3851-8085-4db7-8cb6-119803e23c4e","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[460,360],"typeVersion":1},{"parameters":{"operation":"deleteTable","table":{"__rl":true,"value":"investor_classification","mode":"list","cachedResultName":"investor_classification"},"options":{}},"id":"931fdeee-65cb-45f9-83ca-dccaa263e498","name":"truncate","type":"n8n-nodes-base.mySql","position":[700,360],"typeVersion":2.1,"credentials":{"mySql":{"id":"V4bG9Qr3y7I0v2Rf","name":"Datawarehouse"}}},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1a_xPTHh2FtMYiUTrFewvwjpeFwuf1v6_C09YVpM0CsE","mode":"list","cachedResultName":"Fondos y semifondos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1a_xPTHh2FtMYiUTrFewvwjpeFwuf1v6_C09YVpM0CsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"fondos y semifondos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1a_xPTHh2FtMYiUTrFewvwjpeFwuf1v6_C09YVpM0CsE/edit#gid=0"},"options":{}},"id":"fd34d646-f1ed-44d1-8b9b-d609d126e1d5","name":"read","type":"n8n-nodes-base.googleSheets","position":[900,360],"typeVersion":4,"credentials":{"googleApi":{"id":"W6zGdJ4A2Pv7SxQl","name":"GSheets Cumplo"}}},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"document_number","value":"={{ $json.numero_documento }}"},{"name":"category","value":"={{ $json.categoria }}"},{"name":"name","value":"={{ $json.nombre }}"},{"name":"platform","value":"={{ $json.plataforma }}"}]},"options":{}},"id":"bec471bb-6e6e-48ea-9c87-b55b339b6b81","name":"prepare","type":"n8n-nodes-base.set","position":[1100,360],"typeVersion":2},{"parameters":{"table":{"__rl":true,"value":"investor_classification","mode":"list","cachedResultName":"investor_classification"},"options":{}},"id":"62a603a4-1a1b-437c-baea-a0a74770a015","name":"insert","type":"n8n-nodes-base.mySql","position":[1300,360],"typeVersion":2.1,"credentials":{"mySql":{"id":"V4bG9Qr3y7I0v2Rf","name":"Datawarehouse"}}},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"rut","value":"={{ $json.numero_documento }}"},{"name":"categoria","value":"={{ $json.categoria }}"},{"name":"nombre","value":"={{ $json.nombre }}"},{"name":"plataforma","value":"={{ $json.plataforma }}"}]},"options":{}},"id":"43f73a81-e428-4229-820e-3094d2bb3164","name":"Set","type":"n8n-nodes-base.set","typeVersion":2,"position":[1140,620],"disabled":true},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.plataforma }}","operation":"notEqual","value2":"={{ \"Kimchi CL\" }}"}]}},"id":"8098c4c4-2308-4065-9f11-92842469515a","name":"Filter","type":"n8n-nodes-base.filter","typeVersion":1,"position":[1360,620],"disabled":true}],"connections":{"Schedule Trigger":{"main":[[{"node":"truncate","type":"main","index":0}]]},"truncate":{"main":[[{"node":"read","type":"main","index":0}]]},"read":{"main":[[{"node":"prepare","type":"main","index":0},{"node":"Set","type":"main","index":0}]]},"prepare":{"main":[[{"node":"insert","type":"main","index":0}]]},"Set":{"main":[[{"node":"Filter","type":"main","index":0}]]}},"settings":{"saveDataErrorExecution":"none","saveDataSuccessExecution":"none","saveManualExecutions":false,"callerPolicy":"workflowsFromSameOwner","executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]}},"pinData":{},"versionId":"9398a7f5-386f-48a4-ae66-06dbb105ecae","triggerCount":1,"tags":[{"id":"v25eD48xihLAmSfO","createdAt":"2023-07-14T19:51:55.716Z","updatedAt":"2023-07-14T19:51:55.716Z","name":"bi"}]}