fondos-y-semifondos-goDAUpaa0LGTKAhW.json
{"id":"goDAUpaa0LGTKAhW","createdAt":"2023-08-25T20:02:35.624Z","updatedAt":"2024-06-13T19:59:48.540Z","name":"Fondos y semifondos","active":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"id":"c15f3851-8085-4db7-8cb6-119803e23c4e","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[460,360],"typeVersion":1},{"parameters":{"operation":"deleteTable","table":{"__rl":true,"value":"investor_classification","mode":"list","cachedResultName":"investor_classification"},"options":{}},"id":"931fdeee-65cb-45f9-83ca-dccaa263e498","name":"truncate","type":"n8n-nodes-base.mySql","position":[720,280],"typeVersion":2.1,"credentials":{"mySql":{"id":"V4bG9Qr3y7I0v2Rf","name":"Datawarehouse"}}},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1a_xPTHh2FtMYiUTrFewvwjpeFwuf1v6_C09YVpM0CsE","mode":"list","cachedResultName":"Fondos y semifondos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1a_xPTHh2FtMYiUTrFewvwjpeFwuf1v6_C09YVpM0CsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"fondos y semifondos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1a_xPTHh2FtMYiUTrFewvwjpeFwuf1v6_C09YVpM0CsE/edit#gid=0"},"options":{}},"id":"fd34d646-f1ed-44d1-8b9b-d609d126e1d5","name":"read","type":"n8n-nodes-base.googleSheets","position":[920,280],"typeVersion":4,"credentials":{"googleApi":{"id":"W6zGdJ4A2Pv7SxQl","name":"GSheets Cumplo"}}},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"document_number","value":"={{ $json.numero_documento }}"},{"name":"category","value":"={{ $json.categoria }}"},{"name":"name","value":"={{ $json.nombre }}"},{"name":"platform","value":"={{ $json.plataforma }}"}]},"options":{}},"id":"bec471bb-6e6e-48ea-9c87-b55b339b6b81","name":"prepare","type":"n8n-nodes-base.set","position":[1120,280],"typeVersion":2},{"parameters":{"table":{"__rl":true,"value":"investor_classification","mode":"list","cachedResultName":"investor_classification"},"options":{}},"id":"62a603a4-1a1b-437c-baea-a0a74770a015","name":"insert","type":"n8n-nodes-base.mySql","position":[1320,280],"typeVersion":2.1,"credentials":{"mySql":{"id":"V4bG9Qr3y7I0v2Rf","name":"Datawarehouse"}}},{"parameters":{"table":{"__rl":true,"value":"categorias_inversionistas","mode":"list","cachedResultName":"categorias_inversionistas"},"options":{}},"id":"3fb14486-9194-4295-b01d-64f1e9c0a660","name":"insert1","type":"n8n-nodes-base.mySql","position":[1320,440],"typeVersion":2.1,"credentials":{"mySql":{"id":"rOY57aKCUVDSH1Zl","name":"new dw"}}},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"numero_documento_inversionista","value":"={{ $json.numero_documento }}"},{"name":"categoria","value":"={{ $json.categoria }}"},{"name":"nombre","value":"={{ $json.nombre }}"},{"name":"platforma","value":"={{ $json.plataforma }}"}]},"options":{}},"id":"d330acd3-7a38-4e4e-8014-c68eb67b1272","name":"prepare1","type":"n8n-nodes-base.set","position":[1120,440],"typeVersion":2},{"parameters":{"operation":"deleteTable","table":{"__rl":true,"value":"categorias_inversionistas","mode":"list","cachedResultName":"categorias_inversionistas"},"options":{}},"id":"39e0c3b3-7016-4435-a636-5cf04f801915","name":"truncate1","type":"n8n-nodes-base.mySql","position":[720,440],"typeVersion":2.1,"credentials":{"mySql":{"id":"rOY57aKCUVDSH1Zl","name":"new dw"}}},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1a_xPTHh2FtMYiUTrFewvwjpeFwuf1v6_C09YVpM0CsE","mode":"list","cachedResultName":"Fondos y semifondos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1a_xPTHh2FtMYiUTrFewvwjpeFwuf1v6_C09YVpM0CsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"fondos y semifondos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1a_xPTHh2FtMYiUTrFewvwjpeFwuf1v6_C09YVpM0CsE/edit#gid=0"},"options":{}},"id":"4acc45d8-acd4-496e-815e-35ff0ca748f1","name":"read1","type":"n8n-nodes-base.googleSheets","position":[920,440],"typeVersion":4,"credentials":{"googleApi":{"id":"W6zGdJ4A2Pv7SxQl","name":"GSheets Cumplo"}}},{"parameters":{"table":{"__rl":true,"value":"categoria_inversionistas","mode":"list","cachedResultName":"categoria_inversionistas"},"options":{}},"id":"f0d06125-6177-48c5-8ce3-c9056b5f1626","name":"insert2","type":"n8n-nodes-base.mySql","position":[1320,660],"typeVersion":2.1,"credentials":{"mySql":{"id":"rOY57aKCUVDSH1Zl","name":"new dw"}}},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"numero_documento_inversionista","value":"={{ $json.numero_documento }}"},{"name":"categoria","value":"={{ $json.categoria }}"},{"name":"nombre","value":"={{ $json.nombre }}"},{"name":"platforma","value":"={{ $json.plataforma }}"}]},"options":{}},"id":"bb6da78d-28a7-4a11-a1be-113568288655","name":"prepare2","type":"n8n-nodes-base.set","position":[1120,660],"typeVersion":2},{"parameters":{"operation":"deleteTable","table":{"__rl":true,"value":"categoria_inversionistas","mode":"list","cachedResultName":"categoria_inversionistas"},"options":{}},"id":"37e2011a-f097-4372-9da8-e4b49ebfe904","name":"truncate2","type":"n8n-nodes-base.mySql","position":[720,660],"typeVersion":2.1,"credentials":{"mySql":{"id":"rOY57aKCUVDSH1Zl","name":"new dw"}}},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1a_xPTHh2FtMYiUTrFewvwjpeFwuf1v6_C09YVpM0CsE","mode":"list","cachedResultName":"Fondos y semifondos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1a_xPTHh2FtMYiUTrFewvwjpeFwuf1v6_C09YVpM0CsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"fondos y semifondos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1a_xPTHh2FtMYiUTrFewvwjpeFwuf1v6_C09YVpM0CsE/edit#gid=0"},"options":{}},"id":"5d8c2a58-b234-4372-b907-3ab611528dbe","name":"read2","type":"n8n-nodes-base.googleSheets","position":[920,660],"typeVersion":4,"credentials":{"googleApi":{"id":"W6zGdJ4A2Pv7SxQl","name":"GSheets Cumplo"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"truncate","type":"main","index":0},{"node":"truncate1","type":"main","index":0},{"node":"truncate2","type":"main","index":0}]]},"truncate":{"main":[[{"node":"read","type":"main","index":0}]]},"read":{"main":[[{"node":"prepare","type":"main","index":0}]]},"prepare":{"main":[[{"node":"insert","type":"main","index":0}]]},"prepare1":{"main":[[{"node":"insert1","type":"main","index":0}]]},"truncate1":{"main":[[{"node":"read1","type":"main","index":0}]]},"read1":{"main":[[{"node":"prepare1","type":"main","index":0}]]},"prepare2":{"main":[[{"node":"insert2","type":"main","index":0}]]},"truncate2":{"main":[[{"node":"read2","type":"main","index":0}]]},"read2":{"main":[[{"node":"prepare2","type":"main","index":0}]]}},"settings":{"saveDataErrorExecution":"none","saveDataSuccessExecution":"none","saveManualExecutions":false,"callerPolicy":"workflowsFromSameOwner","executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]}},"pinData":{},"versionId":"7ae9dfe6-3e2e-4435-94b6-c1b451f6f4f3","triggerCount":1,"tags":[{"id":"v25eD48xihLAmSfO","createdAt":"2023-07-14T19:51:55.716Z","updatedAt":"2023-07-14T19:51:55.716Z","name":"bi"}]}