formatear-apellido-contacto-k7blIOoBPFvVzt6f.json
{"id":"k7blIOoBPFvVzt6f","createdAt":"2024-02-05T14:08:04.906Z","updatedAt":"2024-02-21T15:19:02.542Z","name":"Formatear Apellido Contacto","active":true,"nodes":[{"parameters":{"path":"edb39e00-59a9-47f1-8973-ee6bf3bcbc444","options":{}},"id":"eca2763c-f022-4b37-a4e2-0b337bc10e90","name":"Webhook","type":"n8n-nodes-base.webhook","position":[120,460],"webhookId":"c3bbe04f-6f5a-47eb-b15b-a69f0fcac890","typeVersion":1},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"nombre_contacto","value":"={{ $json.query.lastname }}"},{"name":"email","value":"={{ $json.query.email }}"}]},"options":{}},"id":"336043d4-d2b8-41ca-bd34-22931639078f","name":"Parsear","type":"n8n-nodes-base.set","position":[400,460],"typeVersion":2},{"parameters":{"authentication":"appToken","email":"={{ $json.email }}","additionalFields":{"lastName":"={{ $json.nombre }}"},"options":{}},"id":"9aad3369-4be7-4180-9da3-5570bd3e2031","name":"HubSpot2","type":"n8n-nodes-base.hubspot","typeVersion":2,"position":[940,460],"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}},{"parameters":{"jsCode":"const name = $input.first().json.nombre_contacto;\nconst hsObjectId = $input.first().json.email;\n\n\n\nfunction capitalizeFirstLetter(str) {\n  return str.replace(/(^|\\s)[^\\s]/g, function(match) {\n    return match.toUpperCase();\n  });\n}\n\n\n\n// Convert to lowercase and capitalize the first letter of each word\nconst formattedNombre = capitalizeFirstLetter(name.toLowerCase());\n\nconsole.log(formattedNombre);\n\nreturn {\n  \"nombre\": formattedNombre,\n  \"email\": hsObjectId\n};"},"id":"ed2e8ba6-9de7-44d6-807d-6ba81cb98a13","name":"Code2","type":"n8n-nodes-base.code","position":[620,460],"typeVersion":1}],"connections":{"Parsear":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Parsear","type":"main","index":0}]]},"Code2":{"main":[[{"node":"HubSpot2","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"a00fe538-7e0a-4afe-a5ba-ca7c20987ef2","triggerCount":1,"tags":[]}