formatear-número-de-teléfono-8olfLkIDFbGUnyz7.json
{"id":"8olfLkIDFbGUnyz7","createdAt":"2023-08-03T20:34:11.612Z","updatedAt":"2023-08-17T17:34:28.666Z","name":"Formatear Número de Teléfono","active":true,"nodes":[{"parameters":{"path":"edb39e00-59a9-47f1-8973-ee6bf3bcbc22","options":{}},"id":"731eae2d-3bef-41c5-b8a5-588b7e033e57","name":"Webhook","type":"n8n-nodes-base.webhook","position":[120,460],"webhookId":"1306cb77-91f8-4700-b4b2-5ba5a8814b51","typeVersion":1},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"numero_telefono","value":"={{ $json.query.phone }}"},{"name":"email","value":"={{ $json.query.email }}"}]},"options":{}},"id":"c4d0d8d5-1236-4720-9f62-49a9b0207850","name":"Parsear","type":"n8n-nodes-base.set","position":[400,460],"typeVersion":2},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"CompanyId","value":"={{ $json.companyId }}"}]},"options":{}},"id":"b6265a63-933c-4760-ae6e-4975862ae5fa","name":"SetCompanyId","type":"n8n-nodes-base.set","position":[1740,520],"typeVersion":2},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"CompanyId","value":"={{ $json.results[0].id }}"}]},"options":{}},"id":"77189aee-1fe5-4eff-8078-996541a1ceb1","name":"Set","type":"n8n-nodes-base.set","position":[1600,900],"typeVersion":2},{"parameters":{"jsCode":"const documentoTributario = $input.first().json.numero_telefono;\nconst hsObjectId = $input.first().json.email;\n\nconst numero = documentoTributario.replace(/\\./g, '').replace(/-/g, '').replace(/\\(/g, '').replace(/\\)/g, '').replace(/ /g, '');\n\nconsole.log(numero);\nreturn {\n  \"phone\": numero,\n  \"email\": hsObjectId\n\n  \n};\n"},"id":"fbc1becb-71ca-4388-acec-5566f7de5ab7","name":"Code","type":"n8n-nodes-base.code","position":[640,460],"typeVersion":1},{"parameters":{"method":"PUT","url":"=https://api.hubapi.com/crm/v3/objects/contact/{{ $node.Parsear.json.hs_object_id }}/associations/company/{{ $node.SetCompanyId.json.CompanyId}}/contact_to_company  ","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","options":{"response":{"response":{}}}},"id":"ae17d2ba-63ad-4137-a167-4c27a69bd46e","name":"Link contact to company","type":"n8n-nodes-base.httpRequest","position":[2020,520],"typeVersion":3,"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}},{"parameters":{"method":"PUT","url":"=https://api.hubapi.com/crm/v3/objects/contact/{{ $node.Parsear.json.hs_object_id }}/associations/company/{{ $node.IF.json.results[0].id }}/contact_to_company  ","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","options":{"response":{"response":{}}}},"id":"e00d309e-abbd-437c-84ca-0633a24b7b26","name":"Link contact to company1","type":"n8n-nodes-base.httpRequest","position":[1880,900],"typeVersion":3,"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}},{"parameters":{"authentication":"appToken","additionalFields":{},"options":{}},"id":"25fb87a3-08a5-415d-921b-8e6b6a42ba1d","name":"HubSpot1","type":"n8n-nodes-base.hubspot","position":[2180,920],"typeVersion":2,"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}},{"parameters":{"authentication":"appToken","resource":"company","name":"={{ $node.Code.json.document_number }}","additionalFields":{"customPropertiesUi":{"customPropertiesValues":[{"property":"documento_tributario","value":"={{ $node.Code.json.document_number }}"},{"property":"origen_de_cliente","value":"Always On"},{"property":"registro_always_on","value":"[CL] Always On"},{"property":"estado_empresa","value":"Disponible"}]}}},"id":"626de7f8-73ed-431a-8843-54335a02b075","name":"HubSpot","type":"n8n-nodes-base.hubspot","position":[1520,520],"typeVersion":1,"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.total }}","operation":"equal"}]}},"id":"d3265436-c52c-479c-99b6-f3ba44c109df","name":"IF","type":"n8n-nodes-base.if","position":[1340,700],"typeVersion":1},{"parameters":{"authentication":"appToken","email":"={{ $json.email }}","additionalFields":{"phoneNumber":"={{ $json.phone }}"},"options":{}},"id":"2f158f6b-c8ed-4974-9d97-003440eee4c8","name":"HubSpot2","type":"n8n-nodes-base.hubspot","typeVersion":2,"position":[860,460],"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}}],"connections":{"Set":{"main":[[{"node":"Link contact to company1","type":"main","index":0}]]},"Code":{"main":[[{"node":"HubSpot2","type":"main","index":0}]]},"Parsear":{"main":[[{"node":"Code","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Parsear","type":"main","index":0}]]},"SetCompanyId":{"main":[[{"node":"Link contact to company","type":"main","index":0}]]},"Link contact to company1":{"main":[[{"node":"HubSpot1","type":"main","index":0}]]},"HubSpot":{"main":[[{"node":"SetCompanyId","type":"main","index":0}]]},"IF":{"main":[[{"node":"HubSpot","type":"main","index":0}],[{"node":"Set","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"83fc397a-b72c-483d-80b7-92b20014eb38","triggerCount":1,"tags":[]}