formatear-documento-tributario-empresa-yzYZrMs7X8JMSqhY.json
{"id":"yzYZrMs7X8JMSqhY","createdAt":"2024-02-02T13:02:14.143Z","updatedAt":"2024-02-02T13:54:11.037Z","name":"Formatear Documento tributario empresa","active":true,"nodes":[{"parameters":{"path":"edb39e00-59a9-47f1-8973-ee6bf3bcbc33","options":{}},"id":"8b406a3e-4b25-433b-be27-6c19ce1b008c","name":"Webhook","type":"n8n-nodes-base.webhook","position":[120,460],"webhookId":"b45d798c-4e5c-4dfd-86f0-5a57da566b0d","typeVersion":1},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"documento_tributario","value":"={{ $json.query.documento_tributario }}"},{"name":"HubSpot_id","value":"={{ $json.query.hs_object_id }}"}]},"options":{}},"id":"c830a5cd-c99e-4477-af45-23b20c3f009d","name":"Parsear","type":"n8n-nodes-base.set","position":[400,460],"typeVersion":2},{"parameters":{"jsCode":"const documentoTributario = $input.first().json.documento_tributario;\nconst hsObjectId = $input.first().json.HubSpot_id;\n\n\n\nconst documento_tributario = documentoTributario.toUpperCase().replace(/[.\\s-]/g, '');\n\n\n\nconsole.log(documento_tributario);\nreturn {\n  \"documento\": documento_tributario,\n  \"company_id\": hsObjectId\n\n  \n};\n"},"id":"516e0bf2-b5cd-4e30-9890-06d6785a3ba3","name":"Code","type":"n8n-nodes-base.code","position":[640,460],"typeVersion":1},{"parameters":{"authentication":"appToken","resource":"company","operation":"update","companyId":{"__rl":true,"value":"={{ $json.company_id }}","mode":"id"},"updateFields":{"customPropertiesUi":{"customPropertiesValues":[{"property":"documento_tributario","value":"={{ $json.documento }}"}]}}},"id":"0bbd4ea1-6170-48f6-b247-06fbcc45894e","name":"HubSpot3","type":"n8n-nodes-base.hubspot","typeVersion":2,"position":[860,480],"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}}],"connections":{"Code":{"main":[[{"node":"HubSpot3","type":"main","index":0}]]},"Parsear":{"main":[[{"node":"Code","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Parsear","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"4c07f09e-d779-4f68-913d-7e30dd034307","triggerCount":1,"tags":[]}