formatear-nombre-contacto-siJzsf9qA1t0YYxN.json
{"id":"siJzsf9qA1t0YYxN","createdAt":"2024-02-02T15:08:36.732Z","updatedAt":"2024-02-21T15:15:33.955Z","name":"Formatear Nombre Contacto","active":true,"nodes":[{"parameters":{"path":"edb39e00-59a9-47f1-8973-ee6bf3bcbc333","options":{}},"id":"3ca3feaa-32f7-41ad-affd-80c8105a1b8f","name":"Webhook","type":"n8n-nodes-base.webhook","position":[120,460],"webhookId":"5d6cb338-7766-4ca4-a4f0-0ba67624f938","typeVersion":1},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"nombre_contacto","value":"={{ $json.query.firstname }}"},{"name":"email","value":"={{ $json.query.email }}"}]},"options":{}},"id":"5ad80d5e-21c5-4c66-bc1c-a39301926919","name":"Parsear","type":"n8n-nodes-base.set","position":[400,460],"typeVersion":2},{"parameters":{"authentication":"appToken","email":"={{ $json.email }}","additionalFields":{"firstName":"={{ $json.nombre }}"},"options":{}},"id":"a0814359-4d4e-4f05-a844-1e04a0da405b","name":"HubSpot2","type":"n8n-nodes-base.hubspot","typeVersion":2,"position":[940,460],"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}},{"parameters":{"jsCode":"const name = $input.first().json.nombre_contacto;\nconst hsObjectId = $input.first().json.email;\n\n\n\nfunction capitalizeFirstLetter(str) {\n  return str.replace(/(^|\\s)[^\\s]/g, function(match) {\n    return match.toUpperCase();\n  });\n}\n\n\n\n\n// Convert to lowercase and capitalize the first letter of each word\nconst formattedNombre = capitalizeFirstLetter(name.toLowerCase());\n\nconsole.log(formattedNombre);\n\nreturn {\n  \"nombre\": formattedNombre,\n  \"email\": hsObjectId\n};"},"id":"587d7ee7-6871-48af-81e2-e98af730c61e","name":"Code2","type":"n8n-nodes-base.code","position":[620,460],"typeVersion":1}],"connections":{"Parsear":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Parsear","type":"main","index":0}]]},"Code2":{"main":[[{"node":"HubSpot2","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"d130f0f3-a547-4377-8dfa-8921eaadfd67","triggerCount":1,"tags":[]}