formatear-nombre-empresa-oMxiBAHtByL87MdD.json
{"id":"oMxiBAHtByL87MdD","createdAt":"2023-08-17T20:16:59.483Z","updatedAt":"2023-08-18T14:24:06.869Z","name":"Formatear Nombre empresa","active":true,"nodes":[{"parameters":{"path":"edb39e00-59a9-47f1-8973-ee6bf3bcbc23","options":{}},"id":"792fc991-fd80-4ed5-b189-b5851747fb6f","name":"Webhook","type":"n8n-nodes-base.webhook","position":[120,460],"webhookId":"f618639e-e039-4cb0-9eb4-94bb3f5c7119","typeVersion":1},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"Nombre_empresa","value":"={{ $json.query.name }}"},{"name":"HubSpot_id","value":"={{ $json.query.hs_object_id }}"}]},"options":{}},"id":"92d25265-2f65-423b-ac0a-97286808230b","name":"Parsear","type":"n8n-nodes-base.set","position":[400,460],"typeVersion":2},{"parameters":{"jsCode":"const documentoTributario = $input.first().json.Nombre_empresa;\nconst hsObjectId = $input.first().json.HubSpot_id;\n\nconst upperCaseString = documentoTributario.toUpperCase();\n\nconsole.log(upperCaseString);\nreturn {\n  \"name\": upperCaseString,\n  \"company_id\": hsObjectId\n\n  \n};\n"},"id":"ba265164-fd32-4738-9403-9d8dcb022667","name":"Code","type":"n8n-nodes-base.code","position":[640,460],"typeVersion":1},{"parameters":{"authentication":"appToken","resource":"company","operation":"update","companyId":{"__rl":true,"value":"={{ $json.company_id }}","mode":"id"},"updateFields":{"name":"={{ $json.name }}"}},"id":"875220cb-e9fe-4378-9bc7-94e4cad64577","name":"HubSpot3","type":"n8n-nodes-base.hubspot","typeVersion":2,"position":[860,480],"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}}],"connections":{"Code":{"main":[[{"node":"HubSpot3","type":"main","index":0}]]},"Parsear":{"main":[[{"node":"Code","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Parsear","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"f389ab67-854a-40c5-80a8-e554173396f3","triggerCount":1,"tags":[]}