hook-pipo-prueba-teléfonos-KUIUuCZZzE3AzgOI.json
{"id":"KUIUuCZZzE3AzgOI","createdAt":"2024-11-26T21:02:01.628Z","updatedAt":"2024-11-26T21:02:01.628Z","name":"Hook pipo prueba Teléfonos","active":false,"nodes":[{"parameters":{"path":"edb39e00-59a9-47f1-8973-ee6bf3bcbc22","options":{}},"id":"9b8f3dfa-dfda-46a9-b79d-849446636735","name":"Webhook","type":"n8n-nodes-base.webhook","position":[260,180],"webhookId":"a9773336-905a-4059-a5ee-cdff3b43d0e4","typeVersion":1},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"numero_telefono","value":"={{ $json.query.phone }}"},{"name":"email","value":"={{ $json.query.email }}"}]},"options":{}},"id":"437b23a5-8538-4fe7-b04b-75c098f3c08d","name":"Parsear","type":"n8n-nodes-base.set","position":[540,180],"typeVersion":2},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"CompanyId","value":"={{ $json.companyId }}"}]},"options":{}},"id":"1ab15a21-714e-460e-837c-28c618924d93","name":"SetCompanyId","type":"n8n-nodes-base.set","position":[1880,240],"typeVersion":2},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"CompanyId","value":"={{ $json.results[0].id }}"}]},"options":{}},"id":"bf32e1ee-8819-45fa-8a56-de4275b5910e","name":"Set","type":"n8n-nodes-base.set","position":[1740,620],"typeVersion":2},{"parameters":{"jsCode":"const documentoTributario = $input.first().json.numero_telefono;\nconst hsObjectId = $input.first().json.email;\n\nconst numero = documentoTributario.replace(/\\./g, '').replace(/-/g, '').replace(/\\(/g, '').replace(/\\)/g, '').replace(/ /g, '');\n\nconsole.log(numero);\nreturn {\n  \"phone\": numero,\n  \"email\": hsObjectId\n\n  \n};\n"},"id":"0221aef9-b184-47c1-aeaa-e5cbeb218af8","name":"Code","type":"n8n-nodes-base.code","position":[780,180],"typeVersion":1},{"parameters":{"method":"PUT","url":"=https://api.hubapi.com/crm/v3/objects/contact/{{ $node.Parsear.json.hs_object_id }}/associations/company/{{ $node.SetCompanyId.json.CompanyId}}/contact_to_company  ","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","options":{"response":{"response":{}}}},"id":"5c8ed0a8-8a8c-41a0-a474-b465039036b4","name":"Link contact to company","type":"n8n-nodes-base.httpRequest","position":[2160,240],"typeVersion":3,"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}},{"parameters":{"method":"PUT","url":"=https://api.hubapi.com/crm/v3/objects/contact/{{ $node.Parsear.json.hs_object_id }}/associations/company/{{ $node.IF.json.results[0].id }}/contact_to_company  ","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","options":{"response":{"response":{}}}},"id":"914b5073-7421-4b79-bbd4-e683208179eb","name":"Link contact to company1","type":"n8n-nodes-base.httpRequest","position":[2020,620],"typeVersion":3,"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}},{"parameters":{"authentication":"appToken","additionalFields":{},"options":{}},"id":"4b02230b-8828-412a-b347-b6ea05e7312f","name":"HubSpot1","type":"n8n-nodes-base.hubspot","position":[2320,640],"typeVersion":2,"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}},{"parameters":{"authentication":"appToken","resource":"company","name":"={{ $node.Code.json.document_number }}","additionalFields":{"customPropertiesUi":{"customPropertiesValues":[{"property":"documento_tributario","value":"={{ $node.Code.json.document_number }}"},{"property":"origen_de_cliente","value":"Always On"},{"property":"registro_always_on","value":"[CL] Always On"},{"property":"estado_empresa","value":"Disponible"}]}}},"id":"98a6450f-cb01-4c12-bff8-69e8b5e7d988","name":"HubSpot","type":"n8n-nodes-base.hubspot","position":[1660,240],"typeVersion":1,"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.total }}","operation":"equal"}]}},"id":"0ed34618-6f94-4e3c-af88-d3019677b658","name":"IF","type":"n8n-nodes-base.if","position":[1480,420],"typeVersion":1},{"parameters":{"authentication":"appToken","email":"={{ $json.email }}","additionalFields":{"phoneNumber":"={{ $json.phone }}"},"options":{}},"id":"34e4363f-ae22-48c3-b71c-01ef9315e830","name":"HubSpot2","type":"n8n-nodes-base.hubspot","typeVersion":2,"position":[1000,180],"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}}],"connections":{"Set":{"main":[[{"node":"Link contact to company1","type":"main","index":0}]]},"Code":{"main":[[{"node":"HubSpot2","type":"main","index":0}]]},"Parsear":{"main":[[{"node":"Code","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Parsear","type":"main","index":0}]]},"SetCompanyId":{"main":[[{"node":"Link contact to company","type":"main","index":0}]]},"Link contact to company1":{"main":[[{"node":"HubSpot1","type":"main","index":0}]]},"HubSpot":{"main":[[{"node":"SetCompanyId","type":"main","index":0}]]},"IF":{"main":[[{"node":"HubSpot","type":"main","index":0}],[{"node":"Set","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"pinData":{},"versionId":"26ffa50e-3f8b-426c-952b-bacf8cfcf599","triggerCount":0,"tags":[]}