hook-pipo-prueba-teléfonos-KUIUuCZZzE3AzgOI.json
{"id":"KUIUuCZZzE3AzgOI","createdAt":"2024-11-26T21:02:01.628Z","updatedAt":"2024-11-27T19:59:36.225Z","name":"Hook pipo prueba Teléfonos","active":true,"nodes":[{"parameters":{"path":"edb39e00-59a9-47f1-8973-ee6bf3bcbc22151515","options":{}},"id":"9b8f3dfa-dfda-46a9-b79d-849446636735","name":"Webhook","type":"n8n-nodes-base.webhook","position":[260,180],"webhookId":"a9773336-905a-4059-a5ee-cdff3b43d0e4","typeVersion":1},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"numero_telefono","value":"={{ $json.query.phone }}"},{"name":"email","value":"={{ $json.query.email }}"},{}]},"options":{}},"id":"437b23a5-8538-4fe7-b04b-75c098f3c08d","name":"Parsear","type":"n8n-nodes-base.set","position":[540,180],"typeVersion":2},{"parameters":{"jsCode":"const documentoTributario = $input.first().json.numero_telefono;\nconst hsObjectId = $input.first().json.email;\n\n// Limpieza inicial del número\nconst numeroLimpio = documentoTributario\n  .replace(/\\./g, '')\n  .replace(/-/g, '')\n  .replace(/\\(/g, '')\n  .replace(/\\)/g, '')\n  .replace(/ /g, '');\n\n// Normalización: si el número tiene 9 dígitos o más, toma los últimos 9; de lo contrario, asigna \"0\".\nconst numero = numeroLimpio.length >= 9 \n  ? numeroLimpio.slice(-9)  // Toma los últimos 9 caracteres\n  : \"0\";\n\n// Imprime el número normalizado\nconsole.log(numero);\n\n// Retorna el objeto con los datos procesados\nreturn {\n  \"phone\": numero,\n  \"email\": hsObjectId\n};"},"id":"0221aef9-b184-47c1-aeaa-e5cbeb218af8","name":"Code","type":"n8n-nodes-base.code","position":[780,180],"typeVersion":1},{"parameters":{"authentication":"appToken","email":"={{ $json.email }}","additionalFields":{"phoneNumber":"={{ $json.phone }}"},"options":{"resolveData":false}},"id":"34e4363f-ae22-48c3-b71c-01ef9315e830","name":"HubSpot2","type":"n8n-nodes-base.hubspot","typeVersion":2,"position":[1000,180],"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}}],"connections":{"Code":{"main":[[{"node":"HubSpot2","type":"main","index":0}]]},"Parsear":{"main":[[{"node":"Code","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Parsear","type":"main","index":0}]]},"HubSpot2":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"pinData":{},"versionId":"99991710-3bda-44c6-a546-fd9047222c39","triggerCount":1,"tags":[]}