hs-companies-search-manual-4zruQuI7Q6HUaXop.json
{"id":"4zruQuI7Q6HUaXop","createdAt":"2024-11-28T13:29:40.882Z","updatedAt":"2025-01-15T15:51:01.988Z","name":"HS Companies search manual","active":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.hubapi.com/crm/v3/objects/companies/search","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendBody":true,"specifyBody":"json","jsonBody":"={\n   \"filterGroups\":[{\n      \"filters\":[\n        {\n          \"propertyName\":\"hs_lastmodifieddate\",\n          \"operator\":\"BETWEEN\",\n          \"highValue\": \"{{ Date.now() - 1000*60*60*24*($json[\"dias_previos\"] - 1) }}\",\n          \"value\":\"{{ Date.now() - 1000*60*60*24*$json[\"dias_previos\"] }}\"\n        }\n      ]\n    }],\n    \"properties\": [\"estado_empresa\", \"hubspot_owner_id\", \"documento_tributario\", \"estado_validado\", \"name\", \"fecha_de_registro_sitio_de_financiamiento\",\"estado_enroladmiento_fapro\",\"linea_cargada\"],\n    \"limit\": 200,\n    \"after\": {{ $json[\"hubspot_request_after\"] }}\n}","options":{}},"id":"678c06e0-69e9-419b-a279-b747bd6537f9","name":"Hubspot request","type":"n8n-nodes-base.httpRequest","position":[-640,340],"executeOnce":true,"retryOnFail":true,"typeVersion":3,"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}},"notes":"request facturas"},{"parameters":{"amount":0.2,"unit":"seconds"},"id":"dc6d997a-2149-48fd-a2e0-c66f311578d4","name":"Wait","type":"n8n-nodes-base.wait","position":[-820,340],"webhookId":"1e100b9c-5c15-497d-aa66-a8f42bf7fba7","typeVersion":1},{"parameters":{"fieldToSplitOut":"results","options":{}},"id":"41d230a0-b294-41e6-af5c-cc3ec49954b9","name":"Split results","type":"n8n-nodes-base.itemLists","position":[-440,340],"typeVersion":2,"alwaysOutputData":true},{"parameters":{"values":{"number":[{"name":"hubspot_request_after"},{"name":"dias_previos","value":"={{$node[\"Set days loop\"].dias_previos == null ? $json.dias_previos : $node[\"Set days loop\"].dias_previos}}"}]},"options":{"dotNotation":true}},"id":"f32729d8-2f82-4fcd-af87-d12d0fb826ce","name":"Initialize after","type":"n8n-nodes-base.set","position":[-1080,340],"typeVersion":1,"alwaysOutputData":false},{"parameters":{"values":{"number":[{"name":"hubspot_request_after","value":"={{ $node[\"Hubspot request\"].json.paging.next.after }}"},{"name":"dias_previos","value":"={{ $node[\"Initialize after\"].json.dias_previos }}"}]},"options":{}},"id":"8734fd7b-78c7-4867-8496-1b0a6b27d712","name":"Set after loop","type":"n8n-nodes-base.set","position":[380,120],"executeOnce":true,"typeVersion":1},{"parameters":{"keepOnlySet":true,"values":{"number":[{"name":"id","value":"={{ $json.id }}"},{"name":"owner_id","value":"={{ $json.properties.hubspot_owner_id }}"}],"string":[{"name":"estado_empresa","value":"={{ $json.properties.estado_empresa }}"},{"name":"documento_tributario","value":"={{ $json.properties.documento_tributario }}"},{"name":"company_name","value":"={{ $json.properties.name }}"},{"name":"estado_enroladmiento_fapro","value":"={{ $json.properties.estado_enroladmiento_fapro }}"},{"name":"fecha_de_registro_sitio_de_financiamiento","value":"={{ $json.properties.fecha_de_registro_sitio_de_financiamiento }}"},{"name":"linea_cargada","value":"={{ $json.properties.linea_cargada }}"}],"boolean":[{"name":"estado_validado","value":"={{ $json.properties.estado_validado }}"}]},"options":{}},"id":"b609fa78-694b-4f4e-83e8-61a42fcd6695","name":"Set variables","type":"n8n-nodes-base.set","position":[-300,-140],"typeVersion":2,"alwaysOutputData":true,"disabled":true},{"parameters":{"operation":"upsert","table":{"__rl":true,"mode":"list","value":"companies","cachedResultName":"companies"},"columnToMatchOn":"id","options":{}},"id":"0d922c4e-bc25-45ea-88ce-ab7ddb938dec","name":"Insert/Update","type":"n8n-nodes-base.mySql","position":[-460,0],"typeVersion":2.1,"credentials":{"mySql":{"id":"g3Y8IAk1e9fcXuJN","name":"DW Production - Hubspot"}},"disabled":true},{"parameters":{"conditions":{"boolean":[{"value1":"={{$node[\"Hubspot request\"].json[\"paging\"] ? true : false}}","value2":true}]}},"id":"ac52b3ca-d97f-4ac9-8905-03f9bc8c9ee4","name":"Check if pagination?","type":"n8n-nodes-base.if","position":[140,340],"typeVersion":1},{"parameters":{},"id":"5c5f8635-4936-40f5-8041-8280a685b6ee","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1620,340]},{"parameters":{"values":{"number":[{"name":"dias_previos","value":6}]},"options":{"dotNotation":true}},"id":"7afe8363-9392-491d-bf33-5fa6941bdbb9","name":"Initialize days","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1360,340]},{"parameters":{"conditions":{"number":[{"value1":"={{ $node[\"Set days loop\"].json.dias_previos }}","operation":"equal"}]}},"id":"b5641e02-e98a-4d4a-935d-3d49acf3b08f","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[580,540]},{"parameters":{"values":{"number":[{"name":"dias_previos","value":"={{ $node[\"Initialize after\"].json.dias_previos - 1 }}"}]},"options":{}},"id":"6b19b221-9b9f-45d9-82c3-7e505373295d","name":"Set days loop","type":"n8n-nodes-base.set","typeVersion":2,"position":[360,540]},{"parameters":{"operation":"upsert","table":{"__rl":true,"mode":"list","value":"companies","cachedResultName":"companies"},"dataMode":"defineBelow","columnToMatchOn":"id","valueToMatchOn":"owner_id,estado_empresa,documento_tributario,estado_validado,company_name,fecha_de_registro_sitio_de_financiamiento,estado_enroladmiento_fapro,linea_cargada","valuesToSend":{"values":[{"column":"owner_id","value":"={{ $json.properties.hubspot_owner_id }}"},{"column":"estado_empresa","value":"={{ $json.properties.estado_empresa }}"},{"column":"documento_tributario","value":"={{ $json.properties.documento_tributario }}"},{"column":"estado_validado","value":"={{ $json.properties.estado_validado }}"},{"column":"company_name","value":"={{ $json.properties.name }}"},{"column":"fecha_de_registro_sitio_de_financiamiento","value":"={{ $json.properties.fecha_de_registro_sitio_de_financiamiento }}"},{"column":"estado_enroladmiento_fapro","value":"={{ $json.properties.estado_enroladmiento_fapro }}"},{"column":"linea_cargada","value":"={{ $json.properties.linea_cargada }}"}]},"options":{}},"id":"77253940-16a0-4d87-8885-1aef7b0a2418","name":"Insert/Update1","type":"n8n-nodes-base.mySql","position":[-220,340],"typeVersion":2.1,"credentials":{"mySql":{"id":"g3Y8IAk1e9fcXuJN","name":"DW Production - Hubspot"}}}],"connections":{"Wait":{"main":[[{"node":"Hubspot request","type":"main","index":0}]]},"Split results":{"main":[[{"node":"Insert/Update1","type":"main","index":0}]]},"Set after loop":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Hubspot request":{"main":[[{"node":"Split results","type":"main","index":0}]]},"Initialize after":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Check if pagination?":{"main":[[{"node":"Set after loop","type":"main","index":0}],[{"node":"Set days loop","type":"main","index":0}]]},"When clicking \"Execute Workflow\"":{"main":[[{"node":"Initialize days","type":"main","index":0}]]},"Initialize days":{"main":[[{"node":"Initialize after","type":"main","index":0}]]},"IF":{"main":[[],[{"node":"Initialize after","type":"main","index":0}]]},"Set days loop":{"main":[[{"node":"IF","type":"main","index":0}]]},"Insert/Update1":{"main":[[{"node":"Check if pagination?","type":"main","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","saveDataErrorExecution":"none","saveDataSuccessExecution":"all","saveManualExecutions":false,"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]}},"pinData":{},"versionId":"175ffd18-9e57-41a4-8195-717a93bccdfb","triggerCount":1,"tags":[{"id":"iL2ywDmPqVO6K3AI","createdAt":"2023-08-17T17:06:40.880Z","updatedAt":"2023-08-17T17:06:40.880Z","name":"hubspot"},{"id":"v25eD48xihLAmSfO","createdAt":"2023-07-14T19:51:55.716Z","updatedAt":"2023-07-14T19:51:55.716Z","name":"bi"}]}