hs-companies-utTsHe9qAV5nt42Q.json
{"id":"utTsHe9qAV5nt42Q","createdAt":"2023-07-13T03:35:15.330Z","updatedAt":"2023-08-17T17:10:00.193Z","name":"HS Companies","active":false,"nodes":[{"parameters":{"url":"https://api.hubapi.com/crm/v3/objects/companies","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendQuery":true,"queryParameters":{"parameters":[{"name":"after","value":"={{ $json.hubspot_request_after }}"},{"name":"limit","value":"100"},{"name":"properties","value":"estado_empresa,hubspot_owner_id,rut_empresa,estado_validado, name"}]},"options":{}},"id":"8e349287-4700-43a3-a5a6-4150df5c366d","name":"Hubspot request","type":"n8n-nodes-base.httpRequest","position":[-880,340],"executeOnce":true,"retryOnFail":true,"typeVersion":3,"credentials":{"hubspotAppToken":{"id":"v4ZAdSTpYIW5xJU8","name":"HubSpot App Token Cumplo"}},"notes":"request facturas"},{"parameters":{"amount":0.5,"unit":"seconds"},"id":"910f9d82-8d03-464d-b94b-d42667653820","name":"Wait","type":"n8n-nodes-base.wait","position":[-80,760],"webhookId":"04000cfe-4dd2-4956-b1f9-a08fc449411a","typeVersion":1},{"parameters":{"fieldToSplitOut":"results","options":{}},"id":"37e6e3fa-60f3-40ef-abee-d7de2acb8ad2","name":"Split results","type":"n8n-nodes-base.itemLists","position":[-580,340],"typeVersion":2},{"parameters":{"values":{"number":[{"name":"hubspot_request_after","value":1}]},"options":{}},"id":"9c64f25f-dc8b-49c0-9aec-cefa6cacc604","name":"Initialize after","type":"n8n-nodes-base.set","position":[-1220,340],"typeVersion":1},{"parameters":{"values":{"number":[{"name":"hubspot_request_after","value":"={{ $node[\"Hubspot request\"].json.paging.next.after }}"}]},"options":{}},"id":"04a10618-abac-4237-b083-4a042b8b7787","name":"Set after loop","type":"n8n-nodes-base.set","position":[80,560],"typeVersion":1},{"parameters":{"keepOnlySet":true,"values":{"number":[{"name":"id","value":"={{ $json.id }}"},{"name":"owner_id","value":"={{ $json.properties.hubspot_owner_id }}"}],"string":[{"name":"estado_empresa","value":"={{ $json.properties.estado_empresa }}"},{"name":"rut_proveedor","value":"={{ $json.properties.rut_empresa }}"},{"name":"company_name","value":"={{ $json.properties.name }}"}],"boolean":[{"name":"estado_validado","value":"={{ $json.properties.estado_validado }}"}]},"options":{}},"id":"33f7b30e-9253-4289-a81b-e8ef35b1b5d5","name":"Set variables","type":"n8n-nodes-base.set","position":[-320,340],"typeVersion":2},{"parameters":{"operation":"upsert","table":{"__rl":true,"mode":"list","value":"companies","cachedResultName":"companies"},"columnToMatchOn":"id","options":{}},"id":"fe92931a-4c0c-4e10-a74f-862f83ed3346","name":"Insert/Update","type":"n8n-nodes-base.mySql","position":[-60,340],"typeVersion":2.1,"credentials":{"mySql":{"id":"g3Y8IAk1e9fcXuJN","name":"DW Production - Hubspot"}}},{"parameters":{"conditions":{"boolean":[{"value1":"={{$node[\"Hubspot request\"].json[\"paging\"] ? true : false}}","value2":true}]}},"id":"2e1507d8-5899-4c4f-b4f7-07e5831eff39","name":"Check if pagination?","type":"n8n-nodes-base.if","position":[240,340],"typeVersion":1},{"parameters":{"rule":{"interval":[{"triggerAtMinute":1}]}},"id":"48b9f98e-32c0-4dd7-8653-d7b758cbe0ba","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-1500,340],"typeVersion":1}],"connections":{"Wait":{"main":[[{"node":"Hubspot request","type":"main","index":0}]]},"Insert/Update":{"main":[[{"node":"Check if pagination?","type":"main","index":0}]]},"Set variables":{"main":[[{"node":"Insert/Update","type":"main","index":0}]]},"Split results":{"main":[[{"node":"Set variables","type":"main","index":0}]]},"Set after loop":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Hubspot request":{"main":[[{"node":"Split results","type":"main","index":0}]]},"Initialize after":{"main":[[{"node":"Hubspot request","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Initialize after","type":"main","index":0}]]},"Check if pagination?":{"main":[[{"node":"Set after loop","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"06fe369e-fcf2-472f-953f-48fbf486ed9b","triggerCount":0,"tags":[{"id":"iL2ywDmPqVO6K3AI","createdAt":"2023-08-17T17:06:40.880Z","updatedAt":"2023-08-17T17:06:40.880Z","name":"hubspot"},{"id":"v25eD48xihLAmSfO","createdAt":"2023-07-14T19:51:55.716Z","updatedAt":"2023-07-14T19:51:55.716Z","name":"bi"}]}