hs-companies-search-copy-i2xJK69L18mR5xgT.json
{"id":"i2xJK69L18mR5xgT","createdAt":"2024-12-16T19:59:38.626Z","updatedAt":"2024-12-16T19:59:38.626Z","name":"HS Companies search copy","active":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.hubapi.com/crm/v3/objects/companies/search","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"filterGroups\": [{\n        \"filters\": [{\n            \"value\": \"{{ Date.now() - 1000*60*60 - 1000*60*20 }}\",\n            \"propertyName\": \"hs_lastmodifieddate\",\n            \"operator\": \"GTE\"\n        }]\n    }],\n    \"properties\": [\"estado_empresa\", \"hubspot_owner_id\", \"documento_tributario\", \"estado_validado\", \"name\", \"fecha_de_registro_sitio_de_financiamiento\",\"estado_enroladmiento_fapro\",\"linea_cargada\"],\n    \"limit\": 100,\n    \"after\": {{ $json[\"hubspot_request_after\"] }}\n}","options":{}},"id":"8f872ab0-a08d-4b95-9620-9affb7f9ec32","name":"Hubspot request","type":"n8n-nodes-base.httpRequest","position":[-880,340],"executeOnce":true,"retryOnFail":true,"typeVersion":3,"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}},"notes":"request facturas"},{"parameters":{"amount":0.3,"unit":"seconds"},"id":"9bad8c15-2042-4625-ac7d-da25147cd2ed","name":"Wait","type":"n8n-nodes-base.wait","position":[140,760],"webhookId":"d1d6ca37-a5e3-402b-9774-47db60922290","typeVersion":1},{"parameters":{"fieldToSplitOut":"results","options":{}},"id":"7db68235-d1d7-4746-8479-38801f56e726","name":"Split results","type":"n8n-nodes-base.itemLists","position":[-580,340],"typeVersion":2},{"parameters":{"values":{"number":[{"name":"hubspot_request_after"}]},"options":{}},"id":"d514ea2d-5ab4-4e79-a55e-5909ed8d175e","name":"Initialize after","type":"n8n-nodes-base.set","position":[-1220,340],"typeVersion":1,"alwaysOutputData":false},{"parameters":{"values":{"number":[{"name":"hubspot_request_after","value":"={{ $node[\"Hubspot request\"].json.paging.next.after }}"}]},"options":{}},"id":"958d0cb8-f9ab-43d6-b2a3-74d3d23ba2d8","name":"Set after loop","type":"n8n-nodes-base.set","position":[300,560],"executeOnce":true,"typeVersion":1},{"parameters":{"keepOnlySet":true,"values":{"number":[{"name":"id","value":"={{ $json.id }}"},{"name":"owner_id","value":"={{ $json.properties.hubspot_owner_id }}"}],"string":[{"name":"estado_empresa","value":"={{ $json.properties.estado_empresa }}"},{"name":"documento_tributario","value":"={{ $json.properties.documento_tributario }}"},{"name":"company_name","value":"={{ $json.properties.name }}"},{"name":"estado_enroladmiento_fapro","value":"={{ $json.properties.estado_enroladmiento_fapro }}"},{"name":"fecha_de_registro_sitio_de_financiamiento","value":"={{ $json.properties.fecha_de_registro_sitio_de_financiamiento }}"},{"name":"linea_cargada","value":"={{ $json.properties.linea_cargada }}"}],"boolean":[{"name":"estado_validado","value":"={{ $json.properties.estado_validado }}"}]},"options":{}},"id":"8d2ec7f4-63be-41d6-a1c8-a6cbfff57aea","name":"Set variables","type":"n8n-nodes-base.set","position":[-320,340],"typeVersion":2},{"parameters":{"operation":"upsert","table":{"__rl":true,"mode":"list","value":"companies","cachedResultName":"companies"},"columnToMatchOn":"id","options":{}},"id":"63bf55cc-5263-49cc-8cab-d6c57f44aa24","name":"Insert/Update","type":"n8n-nodes-base.mySql","position":[-40,340],"typeVersion":2.1,"credentials":{"mySql":{"id":"g3Y8IAk1e9fcXuJN","name":"DW Production - Hubspot"}}},{"parameters":{"conditions":{"boolean":[{"value1":"={{$node[\"Hubspot request\"].json[\"paging\"] ? true : false}}","value2":true}]}},"id":"32b5eec3-e189-4ab0-8b19-8beb0456bad6","name":"Check if pagination?","type":"n8n-nodes-base.if","position":[300,340],"typeVersion":1},{"parameters":{"rule":{"interval":[{"field":"hours","triggerAtMinute":30}]}},"id":"d55c2706-6651-4e4b-b16d-744fc5f5cbcd","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-1500,340],"typeVersion":1}],"connections":{"Wait":{"main":[[{"node":"Hubspot request","type":"main","index":0}]]},"Insert/Update":{"main":[[{"node":"Check if pagination?","type":"main","index":0}]]},"Set variables":{"main":[[{"node":"Insert/Update","type":"main","index":0}]]},"Split results":{"main":[[{"node":"Set variables","type":"main","index":0}]]},"Set after loop":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Hubspot request":{"main":[[{"node":"Split results","type":"main","index":0}]]},"Initialize after":{"main":[[{"node":"Hubspot request","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Initialize after","type":"main","index":0}]]},"Check if pagination?":{"main":[[{"node":"Set after loop","type":"main","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","saveDataErrorExecution":"none","saveDataSuccessExecution":"all","saveManualExecutions":false,"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]}},"pinData":{},"versionId":"3d3c59ac-0d4a-45b9-9a14-f930c04f9d51","triggerCount":1,"tags":[{"id":"iL2ywDmPqVO6K3AI","createdAt":"2023-08-17T17:06:40.880Z","updatedAt":"2023-08-17T17:06:40.880Z","name":"hubspot"},{"id":"v25eD48xihLAmSfO","createdAt":"2023-07-14T19:51:55.716Z","updatedAt":"2023-07-14T19:51:55.716Z","name":"bi"}]}