hs-contact-search-w2r4l1EHjg7en0rU.json
{"id":"w2r4l1EHjg7en0rU","createdAt":"2024-03-11T23:39:15.688Z","updatedAt":"2024-03-12T00:44:00.060Z","name":"HS contact search","active":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.hubapi.com/crm/v3/objects/contacts/search","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"filterGroups\": [{\n        \"filters\": [{\n            \"value\": \"{{ Date.now() - 1000*60*60 - 1000*60*20 }}\",\n            \"propertyName\": \"lastmodifieddate\",\n            \"operator\": \"GTE\"\n        }]\n    }],\n    \"properties\": [\"firstname\", \"lastname\", \"email\", \"hubspot_owner_id\",\"2.email\"],\n    \"limit\": 100,\n    \"after\": {{ $json[\"hubspot_request_after\"] }}\n}","options":{}},"id":"cfa58da6-cb28-4107-b866-8cb66467a059","name":"Hubspot request","type":"n8n-nodes-base.httpRequest","position":[1060,260],"executeOnce":true,"retryOnFail":true,"typeVersion":3,"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}},"notes":"request facturas"},{"parameters":{"amount":0.3,"unit":"seconds"},"id":"5c467960-9730-4efd-8a20-f2550d61d38d","name":"Wait","type":"n8n-nodes-base.wait","position":[2080,680],"webhookId":"7f669ab5-0568-44ea-a509-7c82bdda446d","typeVersion":1},{"parameters":{"fieldToSplitOut":"results","options":{}},"id":"69d54cbb-cdb0-4b9d-a650-9724f0b9e44d","name":"Split results","type":"n8n-nodes-base.itemLists","position":[1360,260],"typeVersion":2},{"parameters":{"values":{"number":[{"name":"hubspot_request_after"}]},"options":{}},"id":"9ea4d6ed-4502-42bc-b4db-53412907de35","name":"Initialize after","type":"n8n-nodes-base.set","position":[720,260],"typeVersion":1,"alwaysOutputData":false},{"parameters":{"values":{"number":[{"name":"hubspot_request_after","value":"={{ $node[\"Hubspot request\"].json.paging.next.after }}"}]},"options":{}},"id":"e7c5124a-6fad-4319-9732-eb9259897d79","name":"Set after loop","type":"n8n-nodes-base.set","position":[2240,480],"executeOnce":true,"typeVersion":1},{"parameters":{"keepOnlySet":true,"values":{"number":[{"name":"id","value":"={{ $json.id }}"},{"name":"owner_id","value":"={{ $json.properties.hubspot_owner_id }}"}],"string":[{"name":"firstname","value":"={{ $json.properties.firstname }}"},{"name":"lastname","value":"={{ $json.properties.lastname }}"},{"name":"email","value":"={{ $json.properties.email }}"}]},"options":{}},"id":"c05333b4-bfe9-4f99-b338-fe35723fb8bc","name":"Set variables","type":"n8n-nodes-base.set","position":[1620,260],"typeVersion":2},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"contact","mode":"list","cachedResultName":"contact"},"columnToMatchOn":"id","options":{}},"id":"738e1bb8-2ae8-4eb7-b687-2032241eff0c","name":"Insert/Update","type":"n8n-nodes-base.mySql","position":[1900,260],"typeVersion":2.1,"credentials":{"mySql":{"id":"g3Y8IAk1e9fcXuJN","name":"DW Production - Hubspot"}}},{"parameters":{"conditions":{"boolean":[{"value1":"={{$node[\"Hubspot request\"].json[\"paging\"] ? true : false}}","value2":true}]}},"id":"188cef86-e06d-404b-8764-e86020e73048","name":"Check if pagination?","type":"n8n-nodes-base.if","position":[2240,260],"typeVersion":1},{"parameters":{"rule":{"interval":[{"field":"hours","triggerAtMinute":40}]}},"id":"85c156d5-ffdc-4329-8e67-664000309773","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[440,260],"typeVersion":1}],"connections":{"Hubspot request":{"main":[[{"node":"Split results","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Hubspot request","type":"main","index":0}]]},"Split results":{"main":[[{"node":"Set variables","type":"main","index":0}]]},"Initialize after":{"main":[[{"node":"Hubspot request","type":"main","index":0}]]},"Set after loop":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Set variables":{"main":[[{"node":"Insert/Update","type":"main","index":0}]]},"Insert/Update":{"main":[[{"node":"Check if pagination?","type":"main","index":0}]]},"Check if pagination?":{"main":[[{"node":"Set after loop","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Initialize after","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"pinData":{},"versionId":"838b7001-b628-46d9-a453-059ef7f5353f","triggerCount":0,"tags":[]}