hs-companies-search-vsFqviXgaL03Wwov.json
{"id":"vsFqviXgaL03Wwov","createdAt":"2023-07-13T03:35:15.395Z","updatedAt":"2024-02-20T15:22:10.712Z","name":"HS Companies search","active":true,"nodes":[{"parameters":{"method":"POST","url":"https://api.hubapi.com/crm/v3/objects/companies/search","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"filterGroups\": [{\n        \"filters\": [{\n            \"value\": \"{{ Date.now() - 1000*60*60 - 1000*60*20 }}\",\n            \"propertyName\": \"hs_lastmodifieddate\",\n            \"operator\": \"GTE\"\n        }]\n    }],\n    \"properties\": [\"estado_empresa\", \"hubspot_owner_id\", \"documento_tributario\", \"estado_validado\", \"name\", \"fecha_de_registro_sitio_de_financiamiento\",\"estado_enroladmiento_fapro\",\"linea_cargada\"],\n    \"limit\": 100,\n    \"after\": {{ $json[\"hubspot_request_after\"] }}\n}","options":{}},"id":"afdf8023-cb80-4ced-9819-3485d97f5942","name":"Hubspot request","type":"n8n-nodes-base.httpRequest","position":[-880,340],"executeOnce":true,"retryOnFail":true,"typeVersion":3,"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}},"notes":"request facturas"},{"parameters":{"amount":0.3,"unit":"seconds"},"id":"75460529-b9c1-419d-93f2-ebd03a0eea18","name":"Wait","type":"n8n-nodes-base.wait","position":[140,760],"webhookId":"7f669ab5-0568-44ea-a509-7c82bdda446d","typeVersion":1},{"parameters":{"fieldToSplitOut":"results","options":{}},"id":"e6b9c2fa-6ebf-4bc7-a8dd-a28c9c04c7bb","name":"Split results","type":"n8n-nodes-base.itemLists","position":[-580,340],"typeVersion":2},{"parameters":{"values":{"number":[{"name":"hubspot_request_after"}]},"options":{}},"id":"c7872662-3387-4cf4-a5ea-f87ac03f41d2","name":"Initialize after","type":"n8n-nodes-base.set","position":[-1220,340],"typeVersion":1,"alwaysOutputData":false},{"parameters":{"values":{"number":[{"name":"hubspot_request_after","value":"={{ $node[\"Hubspot request\"].json.paging.next.after }}"}]},"options":{}},"id":"b102a383-33a0-41a0-8f68-3510a21ad8d3","name":"Set after loop","type":"n8n-nodes-base.set","position":[300,560],"executeOnce":true,"typeVersion":1},{"parameters":{"keepOnlySet":true,"values":{"number":[{"name":"id","value":"={{ $json.id }}"},{"name":"owner_id","value":"={{ $json.properties.hubspot_owner_id }}"}],"string":[{"name":"estado_empresa","value":"={{ $json.properties.estado_empresa }}"},{"name":"documento_tributario","value":"={{ $json.properties.documento_tributario }}"},{"name":"company_name","value":"={{ $json.properties.name }}"},{"name":"estado_enroladmiento_fapro","value":"={{ $json.properties.estado_enroladmiento_fapro }}"},{"name":"fecha_de_registro_sitio_de_financiamiento","value":"={{ $json.properties.fecha_de_registro_sitio_de_financiamiento }}"},{"name":"linea_cargada","value":"={{ $json.properties.linea_cargada }}"}],"boolean":[{"name":"estado_validado","value":"={{ $json.properties.estado_validado }}"}]},"options":{}},"id":"6d643c3d-4e91-4570-9bb9-ae98c33a36ce","name":"Set variables","type":"n8n-nodes-base.set","position":[-320,340],"typeVersion":2},{"parameters":{"operation":"upsert","table":{"__rl":true,"mode":"list","value":"companies","cachedResultName":"companies"},"columnToMatchOn":"id","options":{}},"id":"3143208b-c0c6-44fe-8329-810b89ad6403","name":"Insert/Update","type":"n8n-nodes-base.mySql","position":[-40,340],"typeVersion":2.1,"credentials":{"mySql":{"id":"g3Y8IAk1e9fcXuJN","name":"DW Production - Hubspot"}}},{"parameters":{"conditions":{"boolean":[{"value1":"={{$node[\"Hubspot request\"].json[\"paging\"] ? true : false}}","value2":true}]}},"id":"6bda1f2f-7644-4327-b76b-0fe10487e88d","name":"Check if pagination?","type":"n8n-nodes-base.if","position":[300,340],"typeVersion":1},{"parameters":{"rule":{"interval":[{"field":"hours","triggerAtMinute":40}]}},"id":"f76326f5-2030-44d6-9708-1c17929147ed","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-1500,340],"typeVersion":1}],"connections":{"Wait":{"main":[[{"node":"Hubspot request","type":"main","index":0}]]},"Insert/Update":{"main":[[{"node":"Check if pagination?","type":"main","index":0}]]},"Set variables":{"main":[[{"node":"Insert/Update","type":"main","index":0}]]},"Split results":{"main":[[{"node":"Set variables","type":"main","index":0}]]},"Set after loop":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Hubspot request":{"main":[[{"node":"Split results","type":"main","index":0}]]},"Initialize after":{"main":[[{"node":"Hubspot request","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Initialize after","type":"main","index":0}]]},"Check if pagination?":{"main":[[{"node":"Set after loop","type":"main","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","saveDataErrorExecution":"none","saveDataSuccessExecution":"all","saveManualExecutions":false,"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]}},"pinData":{},"versionId":"54986383-389c-4665-8299-2357cc7f7085","triggerCount":1,"tags":[{"id":"iL2ywDmPqVO6K3AI","createdAt":"2023-08-17T17:06:40.880Z","updatedAt":"2023-08-17T17:06:40.880Z","name":"hubspot"},{"id":"v25eD48xihLAmSfO","createdAt":"2023-07-14T19:51:55.716Z","updatedAt":"2023-07-14T19:51:55.716Z","name":"bi"}]}