hs-deals-search-wbpET9AmyxgPO7xX.json
{"id":"wbpET9AmyxgPO7xX","createdAt":"2023-07-13T03:35:15.483Z","updatedAt":"2023-08-17T17:09:51.927Z","name":"HS Deals search","active":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.hubapi.com/crm/v3/objects/deals/search","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"filterGroups\": [\n  {\n    \"filters\": [\n      {\n        \"propertyName\": \"hs_lastmodifieddate\",\n        \"operator\": \"GTE\",\n        \"value\": \"{{ Date.now() - 1000*60*60*2 }}\"\n      },\n      {\n        \"propertyName\": \"campana_del_negocio\",\n        \"operator\": \"EQ\",\n        \"value\": \"[CL] ADA\"\n      }\n    ]\n  }],\n  \"properties\": [\"pipeline\", \"dealstage\" , \"amount\", \"rut_pagador\", \"campana_del_negocio\", \"company_id\"],\n  \"limit\": 100,\n  \"after\": {{ $json[\"hubspot_request_after\"] }}\n}","options":{}},"id":"baf557dc-616d-4453-b331-cdaa361742b1","name":"Hubspot request","type":"n8n-nodes-base.httpRequest","position":[-880,340],"executeOnce":true,"retryOnFail":true,"typeVersion":3,"credentials":{"hubspotAppToken":{"id":"v4ZAdSTpYIW5xJU8","name":"HubSpot App Token Cumplo"}},"notes":"request facturas"},{"parameters":{"amount":0.3,"unit":"seconds"},"id":"d55464f8-63a8-4d21-8a80-8ac6041f786a","name":"Wait","type":"n8n-nodes-base.wait","position":[140,760],"webhookId":"ab8ddb51-8283-44c4-b1ee-852a391e628b","typeVersion":1},{"parameters":{"fieldToSplitOut":"results","options":{}},"id":"5c6da8d9-ddf3-44f8-a984-d3ca6b913d23","name":"Split results","type":"n8n-nodes-base.itemLists","position":[-580,340],"typeVersion":2},{"parameters":{"values":{"number":[{"name":"hubspot_request_after"}]},"options":{}},"id":"4531c671-d436-4db9-8794-2c0aa3bde6a1","name":"Initialize after","type":"n8n-nodes-base.set","position":[-1220,340],"typeVersion":1,"alwaysOutputData":false},{"parameters":{"values":{"number":[{"name":"hubspot_request_after","value":"={{ $node[\"Hubspot request\"].json.paging.next.after }}"}]},"options":{}},"id":"5703cb79-90a3-4a3d-bc88-21eefac0f5d3","name":"Set after loop","type":"n8n-nodes-base.set","position":[300,560],"executeOnce":true,"typeVersion":1},{"parameters":{"keepOnlySet":true,"values":{"number":[{"name":"id","value":"={{ $json.id }}"},{}],"string":[{"name":"campana_del_negocio","value":"={{ $json.properties.campana_del_negocio }}"},{"name":"rut_pagador","value":"={{ $json.properties.rut_pagador }}"},{"name":"company_name","value":"={{ $json.properties.name }}"}],"boolean":[{"name":"estado_validado","value":"={{ $json.properties.estado_validado }}"}]},"options":{}},"id":"dbee22cf-c950-4f22-ba17-e1070ee8d272","name":"Set variables","type":"n8n-nodes-base.set","position":[-320,340],"typeVersion":2},{"parameters":{"operation":"upsert","table":{"__rl":true,"mode":"list","value":"companies","cachedResultName":"companies"},"columnToMatchOn":"id","options":{}},"id":"cbe30d75-14ca-4ef5-801d-58bb5e434bc1","name":"Insert/Update","type":"n8n-nodes-base.mySql","position":[-40,340],"typeVersion":2.1,"credentials":{"mySql":{"id":"g3Y8IAk1e9fcXuJN","name":"DW Production - Hubspot"}}},{"parameters":{"conditions":{"boolean":[{"value1":"={{$node[\"Hubspot request\"].json[\"paging\"] ? true : false}}","value2":true}]}},"id":"a6e79367-49c6-4052-9d43-ea2ed3f7f898","name":"Check if pagination?","type":"n8n-nodes-base.if","position":[300,340],"typeVersion":1},{"parameters":{"rule":{"interval":[{"field":"hours","triggerAtMinute":1}]}},"id":"28f7ad4c-c642-4323-b2cd-29b5b411af3d","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-1500,340],"typeVersion":1}],"connections":{"Wait":{"main":[[{"node":"Hubspot request","type":"main","index":0}]]},"Insert/Update":{"main":[[{"node":"Check if pagination?","type":"main","index":0}]]},"Set variables":{"main":[[{"node":"Insert/Update","type":"main","index":0}]]},"Split results":{"main":[[{"node":"Set variables","type":"main","index":0}]]},"Set after loop":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Hubspot request":{"main":[[{"node":"Split results","type":"main","index":0}]]},"Initialize after":{"main":[[{"node":"Hubspot request","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Initialize after","type":"main","index":0}]]},"Check if pagination?":{"main":[[{"node":"Set after loop","type":"main","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","saveExecutionProgress":true},"staticData":null,"pinData":{},"versionId":"1ff0e89c-e116-4bc7-832e-382765821aa7","triggerCount":0,"tags":[{"id":"iL2ywDmPqVO6K3AI","createdAt":"2023-08-17T17:06:40.880Z","updatedAt":"2023-08-17T17:06:40.880Z","name":"hubspot"},{"id":"v25eD48xihLAmSfO","createdAt":"2023-07-14T19:51:55.716Z","updatedAt":"2023-07-14T19:51:55.716Z","name":"bi"}]}