hs-factura-search-wP6KdH3DOUT2teen.json
{"id":"wP6KdH3DOUT2teen","createdAt":"2023-07-13T03:35:15.521Z","updatedAt":"2023-08-17T17:06:54.386Z","name":"HS Factura search","active":true,"nodes":[{"parameters":{"method":"POST","url":"https://api.hubapi.com/crm/v3/objects/factura/search","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"filterGroups\": [\n  {\n    \"filters\": [\n      {\n        \"propertyName\": \"origen_factura\",\n        \"operator\": \"EQ\",\n        \"value\": \"ADA\"\n      },\n      {\n        \"propertyName\": \"hs_createdate\",\n        \"operator\": \"GTE\",\n        \"value\": \"{{ Date.now() - 1000*60*60*96 - 1000*60*10  }}\"\n      }\n    ]\n  }],\n  \"properties\": [\"numero\", \"rut_proveedor\" , \"rut_pagador\", \"fecha_de_emision\", \"monto\", \"origen_factura\", \"tipo_factura\"],\n  \"limit\": 100,\n  \"after\": {{ $json.hubspot_request_after }}\n} ","options":{}},"id":"a0d490f8-56ba-4eb0-9077-8f1c595f3a51","name":"Hubspot request","type":"n8n-nodes-base.httpRequest","position":[-880,340],"executeOnce":true,"retryOnFail":true,"typeVersion":3,"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}},"notes":"request facturas"},{"parameters":{"amount":0.2,"unit":"seconds"},"id":"97e893a5-d991-4d34-bd92-66a819550dbd","name":"Wait","type":"n8n-nodes-base.wait","position":[140,760],"webhookId":"a946c5ed-22f2-4959-93ce-498cc52735ef","typeVersion":1},{"parameters":{"fieldToSplitOut":"results","options":{}},"id":"4b98ba49-1340-4aea-a51e-b6509e9ffebb","name":"Split results","type":"n8n-nodes-base.itemLists","position":[-580,340],"typeVersion":2},{"parameters":{"values":{"number":[{"name":"hubspot_request_after"}]},"options":{}},"id":"4373cdb7-9fc6-4c85-9c7f-bcfc052e1073","name":"Initialize after","type":"n8n-nodes-base.set","position":[-1220,340],"typeVersion":1,"alwaysOutputData":false},{"parameters":{"values":{"number":[{"name":"hubspot_request_after","value":"={{ $node[\"Hubspot request\"].json.paging.next.after }}"}]},"options":{}},"id":"45bac94e-40b8-491e-b162-10264181132c","name":"Set after loop","type":"n8n-nodes-base.set","position":[300,560],"executeOnce":true,"typeVersion":1},{"parameters":{"keepOnlySet":true,"values":{"number":[{"name":"id","value":"={{ $json.id }}"},{"name":"folio_factura","value":"={{ $json.properties.numero }}"},{"name":"monto","value":"={{ $json.properties.monto }}"}],"string":[{"name":"rut_proveedor","value":"={{ $json.properties.rut_proveedor }}"},{"name":"rut_pagador","value":"={{ $json.properties.rut_pagador }}"},{"name":"origen_factura","value":"={{ $json.properties.origen_factura }}"},{"name":"fecha_de_emision","value":"={{ $json.properties.fecha_de_emision }}"},{"name":"hs_createdate","value":"={{ $json.properties.hs_createdate }}"},{"name":"tipo_factura","value":"={{ $json.properties.tipo_factura }}"}]},"options":{}},"id":"4613d796-0890-4602-b198-da34ff285f38","name":"Set variables","type":"n8n-nodes-base.set","position":[-320,340],"typeVersion":2},{"parameters":{"conditions":{"boolean":[{"value1":"={{$node[\"Hubspot request\"].json[\"paging\"] ? true : false}}","value2":true}]}},"id":"67e9d152-12cc-4b2f-afa5-ec70439676e1","name":"Check if pagination?","type":"n8n-nodes-base.if","position":[300,340],"typeVersion":1},{"parameters":{"rule":{"interval":[{"field":"hours","triggerAtMinute":30}]}},"id":"55e70964-ff23-40b4-8245-171f76155511","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-1500,340],"typeVersion":1},{"parameters":{"operation":"executeQuery","query":"insert into invoices (id,\n    folio_factura,\n    rut_proveedor,\n    rut_pagador,\n    fecha_de_emision,\n    origen_factura,\n    monto,\n    hs_createdate,\n    tipo_factura\n)\nVALUES (\n        $1,\n        $2,\n        $3,\n        $4,\n        $5,\n        $6,\n        $7,\n        $8,\n        $9\n       )\n\n\non duplicate key update\n    id = $1,\n    rut_pagador = $4,\n    fecha_de_emision = $5,\n    origen_factura = $6,\n    monto = $7,\n    hs_createdate = $8,\n    tipo_factura = $9;","options":{"queryReplacement":"={{ $json.id }}, {{ $json.folio_factura }}, {{ $json.rut_proveedor }}, {{ $json.rut_pagador }}, {{ $json.fecha_de_emision }}, {{ $json.origen_factura }}, {{ $json.monto }}, {{ $json.hs_createdate }}, {{ $json.tipo_factura }}"}},"id":"edc696e5-4453-43bc-856a-9046f0b2ed3e","name":"Insert/Update","type":"n8n-nodes-base.mySql","position":[-40,340],"typeVersion":2.1,"credentials":{"mySql":{"id":"g3Y8IAk1e9fcXuJN","name":"DW Production - Hubspot"}}}],"connections":{"Wait":{"main":[[{"node":"Hubspot request","type":"main","index":0}]]},"Set variables":{"main":[[{"node":"Insert/Update","type":"main","index":0}]]},"Split results":{"main":[[{"node":"Set variables","type":"main","index":0}]]},"Set after loop":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Hubspot request":{"main":[[{"node":"Split results","type":"main","index":0}]]},"Initialize after":{"main":[[{"node":"Hubspot request","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Initialize after","type":"main","index":0}]]},"Check if pagination?":{"main":[[{"node":"Set after loop","type":"main","index":0}]]},"Insert/Update":{"main":[[{"node":"Check if pagination?","type":"main","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","saveExecutionProgress":false,"saveDataErrorExecution":"none","saveDataSuccessExecution":"none","saveManualExecutions":false,"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]}},"pinData":{},"versionId":"67bf3e7f-9051-4679-8892-8f299e9e6c79","triggerCount":1,"tags":[{"id":"iL2ywDmPqVO6K3AI","createdAt":"2023-08-17T17:06:40.880Z","updatedAt":"2023-08-17T17:06:40.880Z","name":"hubspot"},{"id":"v25eD48xihLAmSfO","createdAt":"2023-07-14T19:51:55.716Z","updatedAt":"2023-07-14T19:51:55.716Z","name":"bi"}]}