hs-owners-wt09nWkY1IGS8zo3.json
{"id":"wt09nWkY1IGS8zo3","createdAt":"2023-07-13T03:35:15.151Z","updatedAt":"2023-08-17T17:08:50.828Z","name":"HS Owners","active":true,"nodes":[{"parameters":{"amount":"0.3","unit":"seconds"},"id":"b4c2ceed-5f84-4bf2-941f-935f675210ba","name":"Wait","type":"n8n-nodes-base.wait","position":[600,580],"webhookId":"ef73e9e1-628f-408d-a4df-86bf95b27600","typeVersion":1},{"parameters":{"url":"https://api.hubapi.com/crm/v3/owners/","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendQuery":true,"queryParameters":{"parameters":[{}]},"options":{}},"id":"8cd4f677-9d8e-42b4-a134-09382fe78f90","name":"Hubspot request1","type":"n8n-nodes-base.httpRequest","position":[-1460,340],"executeOnce":true,"retryOnFail":true,"typeVersion":3,"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}},"notes":"request facturas"},{"parameters":{"fieldToSplitOut":"results","options":{}},"id":"ff8546f4-3108-42cb-bbee-6cf3d5624f25","name":"Split results1","type":"n8n-nodes-base.itemLists","position":[-1220,340],"typeVersion":2},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"hubspot_request_after","value":"={{ $node['Hubspot request1'].json.paging.next.after }}"}]},"options":{}},"id":"3232c59b-b7af-47cd-b751-fb3e3d562ef5","name":"Set after","type":"n8n-nodes-base.set","position":[-680,340],"executeOnce":true,"typeVersion":1},{"parameters":{"url":"https://api.hubapi.com/crm/v3/owners/","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendQuery":true,"queryParameters":{"parameters":[{"name":"after","value":"={{ $json.hubspot_request_after }}"}]},"options":{}},"id":"1a5b830a-b59a-41c1-832f-0b6553ba83d3","name":"Hubspot request 2","type":"n8n-nodes-base.httpRequest","position":[-500,340],"executeOnce":true,"retryOnFail":true,"typeVersion":3,"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}},"notes":"request facturas"},{"parameters":{"fieldToSplitOut":"results","options":{}},"id":"2882be9f-761a-486e-9dff-7e1f64398b57","name":"Split results 2","type":"n8n-nodes-base.itemLists","position":[-260,340],"typeVersion":2},{"parameters":{"keepOnlySet":true,"values":{"number":[{"name":"id","value":"={{ $json.id }}"}],"string":[{"name":"email","value":"={{ $json.email }}"},{"name":"first_name","value":"={{ $json.firstName }}"},{"name":"last_name","value":"={{ $json.lastName }}"}],"boolean":[{"name":"archived","value":"={{ $json.archived }}"}]},"options":{}},"id":"d0312c10-dd27-456d-b72e-939be441b30b","name":"Set variables 2","type":"n8n-nodes-base.set","position":[-40,340],"typeVersion":2},{"parameters":{"values":{"string":[{"name":"hubspot_request_after","value":"={{ $node['Hubspot request 2'].json.paging.next.after }}"}]},"options":{}},"id":"279dfd39-d74f-4d9b-abb1-734d5f622967","name":"Set after 2","type":"n8n-nodes-base.set","position":[360,580],"typeVersion":1},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Hubspot request 2'].json }}","operation":"contains","value2":"paging"}]},"combineOperation":"any"},"id":"9d7968cc-8a57-4e69-9bd6-88a57060d548","name":"Request contains paging","type":"n8n-nodes-base.if","position":[400,340],"executeOnce":true,"typeVersion":1},{"parameters":{"content":"Can't request with empty 'after'","height":80,"width":255.18336978030985},"id":"bcb1ac9c-c6f7-446d-a187-0df27dee6e7d","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-1300,200],"typeVersion":1},{"parameters":{"keepOnlySet":true,"values":{"number":[{"name":"id","value":"={{ $json.id }}"}],"string":[{"name":"email","value":"={{ $json.email }}"},{"name":"first_name","value":"={{ $json.firstName }}"},{"name":"last_name","value":"={{ $json.lastName }}"}],"boolean":[{"name":"archived","value":"={{ $json.archived }}"}]},"options":{}},"id":"96752abe-2f24-41c2-a5ec-2274072091d8","name":"Set variables 1","type":"n8n-nodes-base.set","position":[-1020,340],"typeVersion":2},{"parameters":{"operation":"upsert","table":{"__rl":true,"mode":"list","value":"owners","cachedResultName":"owners"},"columnToMatchOn":"id","options":{}},"id":"50fe7e7f-a656-4273-aa16-bda4b771945e","name":"Insert/Update","type":"n8n-nodes-base.mySql","position":[-860,340],"typeVersion":2.1,"credentials":{"mySql":{"id":"g3Y8IAk1e9fcXuJN","name":"DW Production - Hubspot"}}},{"parameters":{"operation":"upsert","table":{"__rl":true,"mode":"list","value":"owners","cachedResultName":"owners"},"columnToMatchOn":"id","options":{}},"id":"b5b4f48c-c4e1-4943-a19f-b8742a470641","name":"Insert/Update1","type":"n8n-nodes-base.mySql","position":[180,340],"typeVersion":2.1,"credentials":{"mySql":{"id":"g3Y8IAk1e9fcXuJN","name":"DW Production - Hubspot"}}},{"parameters":{"rule":{"interval":[{}]}},"id":"a65e90c2-f254-47ea-a3a6-b4265aef46cc","name":"Schedule Trigger1","type":"n8n-nodes-base.scheduleTrigger","position":[-1700,340],"typeVersion":1}],"connections":{"Wait":{"main":[[{"node":"Hubspot request 2","type":"main","index":0}]]},"Set after":{"main":[[{"node":"Hubspot request 2","type":"main","index":0}]]},"Set after 2":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Insert/Update":{"main":[[{"node":"Set after","type":"main","index":0}]]},"Insert/Update1":{"main":[[{"node":"Request contains paging","type":"main","index":0}]]},"Split results1":{"main":[[{"node":"Set variables 1","type":"main","index":0}]]},"Set variables 1":{"main":[[{"node":"Insert/Update","type":"main","index":0}]]},"Set variables 2":{"main":[[{"node":"Insert/Update1","type":"main","index":0}]]},"Split results 2":{"main":[[{"node":"Set variables 2","type":"main","index":0}]]},"Hubspot request1":{"main":[[{"node":"Split results1","type":"main","index":0}]]},"Hubspot request 2":{"main":[[{"node":"Split results 2","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Hubspot request1","type":"main","index":0}]]},"Request contains paging":{"main":[[{"node":"Set after 2","type":"main","index":0}]]}},"settings":{},"staticData":{"node:Schedule Trigger1":{"recurrencyRules":[]}},"pinData":{},"versionId":"a5ce6c97-b765-4d13-9083-986e4abadbc5","triggerCount":1,"tags":[{"id":"iL2ywDmPqVO6K3AI","createdAt":"2023-08-17T17:06:40.880Z","updatedAt":"2023-08-17T17:06:40.880Z","name":"hubspot"},{"id":"v25eD48xihLAmSfO","createdAt":"2023-07-14T19:51:55.716Z","updatedAt":"2023-07-14T19:51:55.716Z","name":"bi"}]}