metas-equipos-comerciales-ydVv3UleCDWFzscU.json
{"id":"ydVv3UleCDWFzscU","createdAt":"2023-07-18T16:02:33.177Z","updatedAt":"2024-01-08T20:51:48.174Z","name":"metas equipos comerciales","active":true,"nodes":[{"parameters":{"operation":"executeQuery","query":"insert into agents_monthly_goals (agent_email,\n       last_day,\n       enterprises_goal,\n       enterprises_goal_weight,\n       amount_goal,\n       amount_goal_weight,\n       new_enterprises_goal,\n       new_enterprises_goal_weight,\n       fee_goal,\n       fee_goal_weight,\n       collection_goal,\n       collection_goal_weight,\n       bonus)\nVALUES (\n        $1,\n        LAST_DAY(DATE(CONCAT($2, '-', $3, '-1'))),\n        $4,\n        $5,\n        $6,\n        $7,\n        $8,\n        $9,\n        $10,\n        $11,\n        $12,\n        $13,\n        $14\n       )\n\n\non duplicate key update\n       enterprises_goal = $4,\n       enterprises_goal_weight = $5,\n       amount_goal = $6,\n       amount_goal_weight = $7,\n       new_enterprises_goal = $8,\n       new_enterprises_goal_weight = $9,\n       fee_goal = $10,\n       fee_goal_weight = $11,\n       collection_goal = $12,\n       collection_goal_weight = $13,\n       bonus  = $14;","options":{"queryReplacement":"={{ $json.correo }}, {{ $json.anio }}, {{ $json.mes }}, {{ $json['meta empresas operadas'] }}, {{ $json['peso meta empresas operadas'] }}, {{ $json['meta flujo'] }}, {{ $json['peso meta flujo'] }}, {{ $json['meta nuevas empresas'] }}, {{ $json['peso meta nuevas empresas'] }}, {{ $json['meta ingresos'] }}, {{ $json['peso meta ingresos'] }}, {{ $json['meta cobranza'] }}, {{ $json['peso meta cobranza'] }}, {{ $json['bono base'] }}"}},"id":"751adba4-1129-4a16-9f93-52ae1c2350d8","name":"MySQL1","type":"n8n-nodes-base.mySql","position":[1120,180],"typeVersion":2.1,"credentials":{"mySql":{"id":"V4bG9Qr3y7I0v2Rf","name":"Datawarehouse"}}},{"parameters":{"keys":{"key":[{"currentKey":"año","newKey":"anio"}]},"additionalOptions":{}},"id":"1ab8eb13-e1f9-4a34-9bb8-b33725e5b07f","name":"Rename Keys","type":"n8n-nodes-base.renameKeys","typeVersion":1,"position":[880,180]},{"parameters":{"operation":"executeQuery","query":"insert into agents_monthly_goals (agent_email,\n       last_day,\n       enterprises_goal,\n       enterprises_goal_weight,\n       amount_goal,\n       amount_goal_weight,\n       new_enterprises_goal,\n       new_enterprises_goal_weight,\n       fee_goal,\n       fee_goal_weight,\n       collection_goal,\n       collection_goal_weight,\n       bonus)\nVALUES (\n        $1,\n        LAST_DAY(DATE(CONCAT($2, '-', $3, '-1'))),\n        $4,\n        $5,\n        $6,\n        $7,\n        $8,\n        $9,\n        $10,\n        $11,\n        $12,\n        $13,\n        $14\n       )\n\n\non duplicate key update\n       enterprises_goal = $4,\n       enterprises_goal_weight = $5,\n       amount_goal = $6,\n       amount_goal_weight = $7,\n       new_enterprises_goal = $8,\n       new_enterprises_goal_weight = $9,\n       fee_goal = $10,\n       fee_goal_weight = $11,\n       collection_goal = $12,\n       collection_goal_weight = $13,\n       bonus  = $14;","options":{"queryReplacement":"={{ $json.correo }}, {{ $json.anio }}, {{ $json.mes }}, {{ $json['meta empresas operadas'] }}, {{ $json['peso meta empresas operadas'] }}, {{ $json['meta flujo'] }}, {{ $json['peso meta flujo'] }}, {{ $json['meta nuevas empresas'] }}, {{ $json['peso meta nuevas empresas'] }}, {{ $json['meta ingresos'] }}, {{ $json['peso meta ingresos'] }}, {{ $json['meta cobranza'] }}, {{ $json['peso meta cobranza'] }}, {{ $json['bono base'] }}"}},"id":"f544fb71-9140-4521-9914-fc0979955837","name":"MySQL","type":"n8n-nodes-base.mySql","position":[1120,400],"typeVersion":2.1,"credentials":{"mySql":{"id":"V4bG9Qr3y7I0v2Rf","name":"Datawarehouse"}}},{"parameters":{"keys":{"key":[{"currentKey":"año","newKey":"anio"}]},"additionalOptions":{}},"id":"1634feb3-bd70-4a00-a7f3-caac066e5c3c","name":"Rename Keys1","type":"n8n-nodes-base.renameKeys","typeVersion":1,"position":[880,400]},{"parameters":{"operation":"executeQuery","query":"insert into agents_monthly_goals (agent_email,\n       last_day,\n       enterprises_goal,\n       enterprises_goal_weight,\n       amount_goal,\n       amount_goal_weight,\n       new_enterprises_goal,\n       new_enterprises_goal_weight,\n       fee_goal,\n       fee_goal_weight,\n       collection_goal,\n       collection_goal_weight,\n       bonus)\nVALUES (\n        $1,\n        LAST_DAY(DATE(CONCAT($2, '-', $3, '-1'))),\n        $4,\n        $5,\n        $6,\n        $7,\n        $8,\n        $9,\n        $10,\n        $11,\n        $12,\n        $13,\n        $14\n       )\n\n\non duplicate key update\n       enterprises_goal = $4,\n       enterprises_goal_weight = $5,\n       amount_goal = $6,\n       amount_goal_weight = $7,\n       new_enterprises_goal = $8,\n       new_enterprises_goal_weight = $9,\n       fee_goal = $10,\n       fee_goal_weight = $11,\n       collection_goal = $12,\n       collection_goal_weight = $13,\n       bonus  = $14;","options":{"queryReplacement":"={{ $json.correo }}, {{ $json.anio }}, {{ $json.mes }}, {{ $json['meta empresas operadas'] }}, {{ $json['peso meta empresas operadas'] }}, {{ $json['meta flujo'] }}, {{ $json['peso meta flujo'] }}, {{ $json['meta nuevas empresas'] }}, {{ $json['peso meta nuevas empresas'] }}, {{ $json['meta ingresos'] }}, {{ $json['peso meta ingresos'] }}, {{ $json['meta cobranza'] }}, {{ $json['peso meta cobranza'] }}, {{ $json['bono base'] }}"}},"id":"a5aa55e8-46db-4cb0-8758-dca913166d18","name":"MySQL2","type":"n8n-nodes-base.mySql","position":[1120,620],"typeVersion":2.1,"credentials":{"mySql":{"id":"V4bG9Qr3y7I0v2Rf","name":"Datawarehouse"}}},{"parameters":{"keys":{"key":[{"currentKey":"año","newKey":"anio"}]},"additionalOptions":{}},"id":"5de8a520-8f1f-4271-81eb-ac3ae7978bb4","name":"Rename Keys2","type":"n8n-nodes-base.renameKeys","typeVersion":1,"position":[880,620]},{"parameters":{"rule":{"interval":[{"triggerAtMinute":35}]}},"id":"a84def4d-05b4-42c8-8ad6-89e4f5a7d93a","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[380,400]},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1loC9i6z_WVrLl9uF6yK-V0XtSTIH3312Pksm6Rgfqjk","mode":"list","cachedResultName":"Metas equipo FFPP","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1loC9i6z_WVrLl9uF6yK-V0XtSTIH3312Pksm6Rgfqjk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1loC9i6z_WVrLl9uF6yK-V0XtSTIH3312Pksm6Rgfqjk/edit#gid=0"},"options":{}},"id":"678fbe79-23d2-415b-889a-ce7ad51bb437","name":"Metas equipo FFPP Chile","type":"n8n-nodes-base.googleSheets","position":[660,400],"typeVersion":3,"credentials":{"googleApi":{"id":"W6zGdJ4A2Pv7SxQl","name":"GSheets Cumplo"}}},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1zKlsgtsURkv8Gm5_6XTGs0DogogcOWqw1wDnhFhX3Uc","mode":"list","cachedResultName":"Metas equipos México","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zKlsgtsURkv8Gm5_6XTGs0DogogcOWqw1wDnhFhX3Uc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zKlsgtsURkv8Gm5_6XTGs0DogogcOWqw1wDnhFhX3Uc/edit#gid=0"},"options":{}},"id":"611c80a8-f081-4d17-9331-6868583947e3","name":"Metas equipo México","type":"n8n-nodes-base.googleSheets","position":[660,620],"typeVersion":3,"credentials":{"googleApi":{"id":"W6zGdJ4A2Pv7SxQl","name":"GSheets Cumplo"}}},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1WpG-2E57MAyrnMhi1ILwxjXO6DMBr1bBW0bFQ8MvKAA","mode":"list","cachedResultName":"Metas Equipo Bono","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WpG-2E57MAyrnMhi1ILwxjXO6DMBr1bBW0bFQ8MvKAA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WpG-2E57MAyrnMhi1ILwxjXO6DMBr1bBW0bFQ8MvKAA/edit#gid=0"},"options":{}},"id":"2ead9fd2-da76-4e33-9ce0-e64435aac1f8","name":"Metas equipo bono Chile","type":"n8n-nodes-base.googleSheets","position":[660,180],"typeVersion":3,"credentials":{"googleApi":{"id":"W6zGdJ4A2Pv7SxQl","name":"GSheets Cumplo"}}},{"parameters":{"operation":"executeQuery","query":"insert into agents_monthly_goals (agent_email,\n       last_day,\n       enterprises_goal,\n       enterprises_goal_weight,\n       amount_goal,\n       amount_goal_weight,\n       new_enterprises_goal,\n       new_enterprises_goal_weight,\n       fee_goal,\n       fee_goal_weight,\n       collection_goal,\n       collection_goal_weight,\n       bonus)\nVALUES (\n        $1,\n        LAST_DAY(DATE(CONCAT($2, '-', $3, '-1'))),\n        $4,\n        $5,\n        $6,\n        $7,\n        $8,\n        $9,\n        $10,\n        $11,\n        $12,\n        $13,\n        $14\n       )\n\n\non duplicate key update\n       enterprises_goal = $4,\n       enterprises_goal_weight = $5,\n       amount_goal = $6,\n       amount_goal_weight = $7,\n       new_enterprises_goal = $8,\n       new_enterprises_goal_weight = $9,\n       fee_goal = $10,\n       fee_goal_weight = $11,\n       collection_goal = $12,\n       collection_goal_weight = $13,\n       bonus  = $14;","options":{"queryReplacement":"={{ $json.correo }}, {{ $json.anio }}, {{ $json.mes }}, {{ $json['meta empresas operadas'] }}, {{ $json['peso meta empresas operadas'] }}, {{ $json['meta flujo'] }}, {{ $json['peso meta flujo'] }}, {{ $json['meta nuevas empresas'] }}, {{ $json['peso meta nuevas empresas'] }}, {{ $json['meta ingresos'] }}, {{ $json['peso meta ingresos'] }}, {{ $json['meta cobranza'] }}, {{ $json['peso meta cobranza'] }}, {{ $json['bono base'] }}"}},"id":"9b9cca2b-002c-4816-9e48-0e2148935ee4","name":"MySQL3","type":"n8n-nodes-base.mySql","position":[1120,840],"typeVersion":2.1,"credentials":{"mySql":{"id":"V4bG9Qr3y7I0v2Rf","name":"Datawarehouse"}}},{"parameters":{"keys":{"key":[{"currentKey":"año","newKey":"anio"}]},"additionalOptions":{}},"id":"e6fbd596-8e2a-4427-8440-cd4e20d096f1","name":"Rename Keys3","type":"n8n-nodes-base.renameKeys","typeVersion":1,"position":[880,840]},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1OaqGETHNE6qui0dMxq8oSeZiug-wKHkYHq8EzjHqyqc","mode":"list","cachedResultName":"Metas equipo Perú","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OaqGETHNE6qui0dMxq8oSeZiug-wKHkYHq8EzjHqyqc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1OaqGETHNE6qui0dMxq8oSeZiug-wKHkYHq8EzjHqyqc/edit#gid=0"},"options":{}},"id":"cf9da47a-ad1b-461e-806b-015835fbe2bf","name":"Metas equipo Perú","type":"n8n-nodes-base.googleSheets","position":[660,840],"typeVersion":3,"credentials":{"googleApi":{"id":"W6zGdJ4A2Pv7SxQl","name":"GSheets Cumplo"}}}],"connections":{"Rename Keys":{"main":[[{"node":"MySQL1","type":"main","index":0}]]},"Rename Keys1":{"main":[[{"node":"MySQL","type":"main","index":0}]]},"Rename Keys2":{"main":[[{"node":"MySQL2","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Metas equipo bono Chile","type":"main","index":0},{"node":"Metas equipo FFPP Chile","type":"main","index":0},{"node":"Metas equipo México","type":"main","index":0},{"node":"Metas equipo Perú","type":"main","index":0}]]},"Metas equipo FFPP Chile":{"main":[[{"node":"Rename Keys1","type":"main","index":0}]]},"Metas equipo México":{"main":[[{"node":"Rename Keys2","type":"main","index":0}]]},"Metas equipo bono Chile":{"main":[[{"node":"Rename Keys","type":"main","index":0}]]},"Rename Keys3":{"main":[[{"node":"MySQL3","type":"main","index":0}]]},"Metas equipo Perú":{"main":[[{"node":"Rename Keys3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]}},"pinData":{},"versionId":"c0ffcac9-8a98-40bd-8794-e0b71a306402","triggerCount":1,"tags":[{"id":"OOKAuuKFEDCuxdf3","createdAt":"2023-08-17T17:13:17.468Z","updatedAt":"2023-08-17T17:13:17.468Z","name":"sales ops"}]}