metas-países-hT0ZYJet2JxY6ZMn.json
{"id":"hT0ZYJet2JxY6ZMn","createdAt":"2023-07-13T03:35:15.453Z","updatedAt":"2023-08-22T21:21:37.348Z","name":"Metas países","active":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"id":"1409d773-b987-4323-abda-10312bcebf93","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[460,460],"typeVersion":1},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"mode":"list","value":"1H_15QEksQ1zh27DrZpV7ENsTykWElBCoJ8KZKP4m-GE","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1H_15QEksQ1zh27DrZpV7ENsTykWElBCoJ8KZKP4m-GE/edit?usp=drivesdk","cachedResultName":"Metas Cumplo mensual"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1H_15QEksQ1zh27DrZpV7ENsTykWElBCoJ8KZKP4m-GE/edit#gid=0","cachedResultName":"país"},"options":{}},"id":"dc29f5b9-039b-4541-b6f3-88c0a2bc139f","name":"read country goals","type":"n8n-nodes-base.googleSheets","position":[900,360],"typeVersion":4,"credentials":{"googleApi":{"id":"W6zGdJ4A2Pv7SxQl","name":"GSheets Cumplo"}}},{"parameters":{"operation":"deleteTable","table":{"__rl":true,"mode":"list","value":"country_goals","cachedResultName":"country_goals"},"options":{}},"id":"af7ae55d-14b7-40d4-b6a8-f744c8f1f5ff","name":"truncate country goals","type":"n8n-nodes-base.mySql","position":[700,360],"typeVersion":2.1,"credentials":{"mySql":{"id":"V4bG9Qr3y7I0v2Rf","name":"Datawarehouse"}}},{"parameters":{"keepOnlySet":true,"values":{"number":[{"name":"amount","value":"={{ $json['Meta flujo moneda local'] }}"},{"name":"business_amount","value":"={{ $json['Proyección flujo comercial moneda local'] }}"},{"name":"year","value":"={{ $json['Año'] }}"},{"name":"month","value":"={{ $json.Mes }}"},{"name":"enterprises_goal","value":"={{ $json['meta empresas operadas'] }}"},{"name":"enterprises_projection","value":"={{ $json['proyección empresas operadas'] }}"},{"name":"new_enterprises_goal","value":"={{ $json['metas nuevas empresas'] }}"},{"name":"new_enterprises_projection","value":"={{ $json['proyección nuevas empresas'] }}"}],"string":[{"name":"country","value":"={{ $json['País'] }}"}]},"options":{}},"id":"96f684c6-dffd-4951-a6c6-c068436e737a","name":"prepare country data","type":"n8n-nodes-base.set","position":[1100,360],"typeVersion":2},{"parameters":{"keepOnlySet":true,"values":{"number":[{"name":"amount","value":"={{ $json['Meta flujo moneda local'] }}"},{"name":"business_amount","value":"={{ $json['Proyección flujo comercial moneda local'] }}"},{"name":"year","value":"={{ $json['Año'] }}"},{"name":"month","value":"={{ $json.Mes }}"}],"string":[{"name":"country","value":"={{ $json['País'] }}"},{"name":"product","value":"={{ $json['Producto '] }}"}]},"options":{}},"id":"4c589883-3bca-43ec-95e5-ffc491a41006","name":"prepare team data","type":"n8n-nodes-base.set","position":[1100,560],"typeVersion":2},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"mode":"list","value":"1H_15QEksQ1zh27DrZpV7ENsTykWElBCoJ8KZKP4m-GE","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1H_15QEksQ1zh27DrZpV7ENsTykWElBCoJ8KZKP4m-GE/edit?usp=drivesdk","cachedResultName":"Metas Cumplo mensual"},"sheetName":{"__rl":true,"mode":"list","value":1062370134,"cachedResultUrl":"https://docs.google.com/spreadsheets/d/1H_15QEksQ1zh27DrZpV7ENsTykWElBCoJ8KZKP4m-GE/edit#gid=1062370134","cachedResultName":"equipos"},"options":{}},"id":"82b46f5e-4441-4f05-8028-5822d787db30","name":"read team goals","type":"n8n-nodes-base.googleSheets","position":[900,560],"typeVersion":4,"credentials":{"googleApi":{"id":"W6zGdJ4A2Pv7SxQl","name":"GSheets Cumplo"}}},{"parameters":{"operation":"deleteTable","table":{"__rl":true,"mode":"list","value":"team_goals","cachedResultName":"team_goals"},"options":{}},"id":"1086f58c-266d-439d-a949-32c05702acbe","name":"truncate team goals","type":"n8n-nodes-base.mySql","position":[700,560],"typeVersion":2.1,"credentials":{"mySql":{"id":"V4bG9Qr3y7I0v2Rf","name":"Datawarehouse"}}},{"parameters":{"table":{"__rl":true,"mode":"list","value":"country_goals","cachedResultName":"country_goals"},"options":{}},"id":"f5744470-7d22-4829-ae27-98ba0b881955","name":"insert country goals","type":"n8n-nodes-base.mySql","position":[1300,360],"typeVersion":2.1,"credentials":{"mySql":{"id":"V4bG9Qr3y7I0v2Rf","name":"Datawarehouse"}}},{"parameters":{"table":{"__rl":true,"mode":"list","value":"team_goals","cachedResultName":"team_goals"},"options":{}},"id":"c6d6ded9-9f45-493a-9873-b1deaf761a8e","name":"insert team goals","type":"n8n-nodes-base.mySql","position":[1300,560],"typeVersion":2.1,"credentials":{"mySql":{"id":"V4bG9Qr3y7I0v2Rf","name":"Datawarehouse"}}}],"connections":{"read team goals":{"main":[[{"node":"prepare team data","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"truncate country goals","type":"main","index":0},{"node":"truncate team goals","type":"main","index":0}]]},"prepare team data":{"main":[[{"node":"insert team goals","type":"main","index":0}]]},"read country goals":{"main":[[{"node":"prepare country data","type":"main","index":0}]]},"truncate team goals":{"main":[[{"node":"read team goals","type":"main","index":0}]]},"prepare country data":{"main":[[{"node":"insert country goals","type":"main","index":0}]]},"truncate country goals":{"main":[[{"node":"read country goals","type":"main","index":0}]]}},"settings":{"saveDataErrorExecution":"none","saveDataSuccessExecution":"none","saveManualExecutions":false,"callerPolicy":"workflowsFromSameOwner","executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]}},"pinData":{},"versionId":"17ca5e39-5028-4e0b-9119-b265a5cb9430","triggerCount":1,"tags":[{"id":"OOKAuuKFEDCuxdf3","createdAt":"2023-08-17T17:13:17.468Z","updatedAt":"2023-08-17T17:13:17.468Z","name":"sales ops"}]}