mirar-izaryTsxJTO632mK.json
{"id":"izaryTsxJTO632mK","createdAt":"2023-07-13T03:35:15.205Z","updatedAt":"2023-08-22T20:44:04.740Z","name":"Mirar","active":false,"nodes":[{"parameters":{"path":"edb39e00-59a9-47f1-8973-ee6bf3bcbc21","options":{}},"id":"e62d72ba-379e-4404-ab18-10b222e08dbd","name":"Webhook","type":"n8n-nodes-base.webhook","position":[420,600],"webhookId":"edb39e00-59a9-47f1-8973-ee6bf3bcbc21","typeVersion":1},{"parameters":{"method":"POST","url":"=https://api.hubapi.com/crm/v3/objects/companies/search/","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendBody":true,"specifyBody":"json","jsonBody":"={\"filterGroups\":[{\"filters\":[{\"value\":\"{{ $json.documento_tributario }}\",\"propertyName\":\"rut_empresa\",\"operator\":\"EQ\"}]}],\"sorts\":[\"string\"],\"properties\":[\"rut\"],\"limit\":1,\"after\":0}  ","options":{}},"id":"fd56b39d-d47b-4b63-877a-fe8cd1360d12","name":"Search Hubspot Company","type":"n8n-nodes-base.httpRequest","position":[880,600],"typeVersion":3,"credentials":{"hubspotAppToken":{"id":"s8fKxMz2aLTbiFGJ","name":"HubSpot App Token account 2"}}},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"documento_tributario","value":"={{ $json.query.documento_tributario }}"},{"name":"hs_object_id","value":"={{ $json.query.hs_object_id }}"},{"name":"hs_owner_id","value":"={{ $json.query.hubspot_owner_id }}"}]},"options":{}},"id":"4fe0a611-6709-47bc-8d8d-f38148c58f96","name":"Parsear","type":"n8n-nodes-base.set","position":[640,600],"typeVersion":2},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.total }}","operation":"equal"}]}},"id":"3c7ad652-083e-4389-903f-e63f1563e555","name":"IF","type":"n8n-nodes-base.if","position":[1100,600],"typeVersion":1},{"parameters":{"authentication":"appToken","resource":"company","name":"={{ $node.Parsear.json.documento_tributario }}","additionalFields":{"companyOwner":"={{ $node.Parsear.json.hs_owner_id}}","customPropertiesUi":{"customPropertiesValues":[{"property":"documento_tributario","value":"={{ $node.Parsear.json.documento_tributario }}"},{"property":"origen_de_cliente","value":"Always On"}]}}},"id":"1c00f015-41e8-4f51-9426-515299c86c17","name":"HubSpot","type":"n8n-nodes-base.hubspot","position":[1760,480],"typeVersion":1,"credentials":{"hubspotAppToken":{"id":"s8fKxMz2aLTbiFGJ","name":"HubSpot App Token account 2"}}},{"parameters":{"method":"PUT","url":"=https://api.hubapi.com/crm/v3/objects/deal/{{ $node[\"Parsear\"].json[\"hs_object_id\"] }}/associations/company/{{ $json[\"CompanyId\"] }}/deal_to_company","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","options":{}},"id":"bd9630c5-963b-44e1-964a-cb0f82d57d0e","name":"Link deal to company","type":"n8n-nodes-base.httpRequest","position":[2140,480],"typeVersion":3,"credentials":{"hubspotAppToken":{"id":"s8fKxMz2aLTbiFGJ","name":"HubSpot App Token account 2"}}},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"CompanyId","value":"={{ $json.companyId }}"}]},"options":{}},"id":"c54900ba-6516-448e-a5f1-6d2b2ee02e8a","name":"SetCompanyId","type":"n8n-nodes-base.set","position":[1960,480],"typeVersion":2},{"parameters":{"authentication":"appToken","operation":"get","dealId":"={{ $node.Parsear.json.hs_object_id }}","additionalFields":{}},"id":"b695111b-76a9-4130-b52b-4a4fa8684544","name":"HubSpot1","type":"n8n-nodes-base.hubspot","position":[1320,480],"typeVersion":1,"credentials":{"hubspotAppToken":{"id":"s8fKxMz2aLTbiFGJ","name":"HubSpot App Token account 2"}}},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"ContactId","value":"={{ $json.associations.associatedVids[0] }}"}]},"options":{}},"id":"afdff17c-b6de-45f3-870b-898711a19891","name":"SetContactId","type":"n8n-nodes-base.set","position":[1560,480],"typeVersion":2},{"parameters":{"method":"PUT","url":"=https://api.hubapi.com/crm/v3/objects/contact/{{ $node[\"SetContactId\"].json[\"ContactId\"] }}/associations/company/{{ $node[\"SetCompanyId\"].json[\"CompanyId\"] }}/contact_to_company","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","options":{"response":{"response":{}}}},"id":"8df5bf22-d324-4ac4-8fc6-ba4d0f724c7a","name":"Link contact to company","type":"n8n-nodes-base.httpRequest","position":[2320,480],"typeVersion":3,"credentials":{"hubspotAppToken":{"id":"s8fKxMz2aLTbiFGJ","name":"HubSpot App Token account 2"}}},{"parameters":{"method":"PUT","url":"=https://api.hubapi.com/crm/v3/objects/deal/{{ $node[\"Parsear\"].json[\"hs_object_id\"] }}/associations/company/{{ $json[\"CompanyId\"] }}/deal_to_company","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","options":{}},"id":"c3273dd1-444f-4caa-8642-6e6762ae8f61","name":"Link deal to company1","type":"n8n-nodes-base.httpRequest","position":[1560,720],"typeVersion":3,"credentials":{"hubspotAppToken":{"id":"s8fKxMz2aLTbiFGJ","name":"HubSpot App Token account 2"}}},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"CompanyId","value":"={{ $json.results[0].id }}"}]},"options":{}},"id":"6ec203b4-e4cd-49a4-871f-328466eca50f","name":"Set","type":"n8n-nodes-base.set","position":[1320,720],"typeVersion":2}],"connections":{"IF":{"main":[[{"node":"HubSpot1","type":"main","index":0}],[{"node":"Set","type":"main","index":0}]]},"Set":{"main":[[{"node":"Link deal to company1","type":"main","index":0}]]},"HubSpot":{"main":[[{"node":"SetCompanyId","type":"main","index":0}]]},"Parsear":{"main":[[{"node":"Search Hubspot Company","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Parsear","type":"main","index":0}]]},"HubSpot1":{"main":[[{"node":"SetContactId","type":"main","index":0}]]},"SetCompanyId":{"main":[[{"node":"Link deal to company","type":"main","index":0}]]},"SetContactId":{"main":[[{"node":"HubSpot","type":"main","index":0}]]},"Link deal to company":{"main":[[{"node":"Link contact to company","type":"main","index":0}]]},"Search Hubspot Company":{"main":[[{"node":"IF","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"50ce4858-9859-4c9c-b282-19b267f6597e","triggerCount":0,"tags":[]}