my-workflow-2-oy52yXYDmHUmURJi.json
{"id":"oy52yXYDmHUmURJi","createdAt":"2023-07-25T14:23:14.990Z","updatedAt":"2023-10-31T13:20:07.535Z","name":"My workflow 2","active":false,"nodes":[{"parameters":{},"id":"5c27d7db-6e3f-4401-9a6a-f6a368b1112d","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","position":[-800,960],"typeVersion":1},{"parameters":{"operation":"executeQuery","query":"=select fb.RUT ,fb.RazonSocial,sum(i.invoiceAmount) as totalInvoice,ifnull(ipp.totalPP,0) as TotalPP, sum(i.invoiceAmount)-ifnull(ipp.totalPP,0) totalNoPP\nfrom FAPRO_BUSINESS fb\nleft join Invoices i on i.clientIdentifier = fb.RUT\nleft join (select i.clientIdentifier ,sum(i.invoiceAmount)as totalPP from Invoices i \nleft join CUMPLO_PAYERS cp on cp.RUT = i.payerIdentifier \nwhere cp.PagadorProntoPago = 1 and i.invoiceDate > '2022-01-01'\ngroup by i.clientIdentifier) as ipp on ipp.clientIdentifier = fb.RUT \nleft join (select i.clientIdentifier ,sum(i.invoiceAmount)as totalnoPP from Invoices i \nleft join CUMPLO_PAYERS cp on cp.RUT = i.payerIdentifier \nwhere cp.PagadorProntoPago != 1 and i.invoiceDate > '2022-01-01'\ngroup by i.clientIdentifier) as inopp on inopp.clientIdentifier = fb.RUT \nwhere i.invoiceDate > '2022-01-01' and fb.RUT = {{$json.empresa.rut}} group by i.clientIdentifier order by 1;","options":{}},"id":"764caf23-e3bd-4a22-b740-ae128dbb62a7","name":"MySQL","type":"n8n-nodes-base.mySql","position":[200,480],"typeVersion":2.1,"credentials":{"mySql":{"id":"NcTcERDfKkrFRZfc","name":"DAC Jaula "}}},{"parameters":{"method":"POST","url":"https://cumplo.fapro.app/api/v1.0/login","sendQuery":true,"queryParameters":{"parameters":[{"name":"email","value":"api@cumplo.com"},{"name":"password","value":"TKB6Thdmt2WacP3B8z9h"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Accept","value":"application/json"}]},"options":{}},"id":"60f1cd10-988c-4b2c-8505-db62c2673dbf","name":"LogginFapro","type":"n8n-nodes-base.httpRequest","position":[-660,580],"typeVersion":3},{"parameters":{"batchSize":1,"options":{}},"id":"af54a0f1-be5b-4ca5-b86d-ebfb21f39ff1","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","position":[0,560],"typeVersion":2},{"parameters":{"jsCode":"const currentDate = new Date();\nconst pastDate = new Date();\npastDate.setDate(currentDate.getDate() - 30);\n\nreturn [\n  {\n    json: {\n      currentDay: currentDate.toISOString().split(\"T\")[0],\n      pastDate: pastDate.toISOString().split(\"T\")[0]\n    }\n  }\n];"},"id":"ad3bae5e-7344-467c-be41-73934bf59c0a","name":"Code","type":"n8n-nodes-base.code","position":[460,460],"typeVersion":1},{"parameters":{"url":"https://cumplo.fapro.app/api/v1.0/company/monto_cedido","sendQuery":true,"queryParameters":{"parameters":[{"name":"rut","value":"={{ $node['Split In Batches'].json.empresa.rut }}"},{"name":"fecha_inicial","value":"={{ $json.pastDate }}"},{"name":"fecha_final","value":"={{ $json.currentDay }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node[\"LogginFapro\"].json[\"data\"][\"accessToken\"] }}"}]},"options":{}},"id":"20e19796-6ab6-4305-8d7f-db9c20d88870","name":"ApiMontoCedido","type":"n8n-nodes-base.httpRequest","position":[660,680],"typeVersion":3,"alwaysOutputData":true,"continueOnFail":true},{"parameters":{"url":"https://cumplo.fapro.app/api/v1.0/company/share-of-wallet","sendQuery":true,"queryParameters":{"parameters":[{"name":"rut","value":"={{ $node['Split In Batches'].json.empresa.rut }}"},{"name":"fecha_inicial","value":"={{ $node[\"Code\"].json[\"pastDate\"] }}"},{"name":"fecha_final","value":"={{ $node[\"Code\"].json[\"currentDay\"] }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node[\"LogginFapro\"].json[\"data\"][\"accessToken\"] }}"}]},"options":{}},"id":"b3a62b7d-f1dd-458d-a71c-283f0fb90b68","name":"ApiPenetracionMercado","type":"n8n-nodes-base.httpRequest","position":[940,680],"typeVersion":3,"alwaysOutputData":true,"continueOnFail":true},{"parameters":{"url":"https://cumplo.fapro.app/api/v1.0/company/claimed_invoices","sendQuery":true,"queryParameters":{"parameters":[{"name":"rut","value":"={{ $node['Split In Batches'].json.empresa.rut }}"},{"name":"fecha_inicial","value":"={{ $node[\"Code\"].json[\"pastDate\"] }}"},{"name":"fecha_final","value":"={{ $node[\"Code\"].json[\"currentDay\"] }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node[\"LogginFapro\"].json[\"data\"][\"accessToken\"] }}"}]},"options":{}},"id":"99034313-3fd1-4d45-b7f3-bf95e80495a8","name":"ApiFacturasReclamadas","type":"n8n-nodes-base.httpRequest","position":[1180,680],"typeVersion":3,"alwaysOutputData":true,"continueOnFail":true},{"parameters":{"url":"https://cumplo.fapro.app/api/v1.0/company/monto_nota_credito","sendQuery":true,"queryParameters":{"parameters":[{"name":"rut","value":"={{ $node['Split In Batches'].json.empresa.rut }}"},{"name":"fecha_inicial","value":"={{ $node[\"Code\"].json[\"pastDate\"] }}"},{"name":"fecha_final","value":"={{ $node[\"Code\"].json[\"currentDay\"] }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node[\"LogginFapro\"].json[\"data\"][\"accessToken\"] }}"}]},"options":{}},"id":"11dbeca9-c0fe-4c30-a39e-fefb1c0bdd71","name":"ApiNotasCredito","type":"n8n-nodes-base.httpRequest","position":[1460,680],"typeVersion":3,"alwaysOutputData":true,"continueOnFail":true},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"Rut","value":"={{ $node[\"MySQL\"].json[\"RUT\"] }}"},{"name":"RazonSocial","value":"={{ $node[\"MySQL\"].json[\"RazonSocial\"] }}"},{"name":"TotalFacturas","value":"={{ $node[\"MySQL\"].json[\"totalInvoice\"] }}"},{"name":"TotalPP","value":"={{ $node[\"MySQL\"].json[\"TotalPP\"] }}"},{"name":"totaNoPP","value":"={{ $node[\"MySQL\"].json[\"totalNoPP\"] }}"},{"name":"MontoCedido","value":"={{ $node[\"ApiMontoCedido\"].json[\"data\"][\"monto_cedido\"] }}"},{"name":"=PenetracionMercado","value":"={{ $node[\"ApiPenetracionMercado\"].json[\"data\"][\"share of wallet\"] }}"},{"name":"FacturasReclamadas","value":"={{ $node[\"ApiFacturasReclamadas\"].json[\"data\"][\"facturas_reclamadas\"].length }}"},{"name":"NotasCredito","value":"={{ $json.data.monto_nota_credito }}"}]},"options":{}},"id":"42577d70-bb8b-4473-a20e-5404f52f0700","name":"Set1","type":"n8n-nodes-base.set","position":[1680,680],"typeVersion":2},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1v94Qc1n1wTXyiTAksm0I0LNPNJkLCMLJ2iPrkvibtQI","mode":"list","cachedResultName":"MVP DAC JAULA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1v94Qc1n1wTXyiTAksm0I0LNPNJkLCMLJ2iPrkvibtQI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":609983573,"mode":"list","cachedResultName":"Reporte Jose","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1v94Qc1n1wTXyiTAksm0I0LNPNJkLCMLJ2iPrkvibtQI/edit#gid=609983573"},"dataMode":"autoMapInputData","options":{}},"id":"88198fa8-0594-4cc9-9b3e-356aacf434c4","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","position":[1920,680],"typeVersion":3,"credentials":{"googleSheetsOAuth2Api":{"id":"8bGWJfHbu4vrInd0","name":"Google Sheets account"}}},{"parameters":{"url":"https://cumplo.fapro.app/api/v1.0/company/connected","sendHeaders":true,"headerParameters":{"parameters":[{"name":"authorization","value":"=Bearer {{ $json[\"data\"][\"accessToken\"] }}"},{"name":"Content-Type","value":"application/json"},{"name":"Accept","value":"application/json"}]},"options":{}},"id":"5e338968-808d-45c4-9104-9483ae760c59","name":"GetBusinessLogged","type":"n8n-nodes-base.httpRequest","position":[-400,580],"typeVersion":3},{"parameters":{"jsCode":"// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\n//input all, el input es uno solo, el input all trae todo los inputs de ese nodo, en este caso es uno. s epuede tener varios items.\n\nvar data = []\nfor (const item of $input.all()) {\n  \n  data = item.json.data.companies.map(\n    (account) => {\n      return {\n        empresa:{\n      rut: parseInt(account.rut.substring(0, account.rut.length -2)),\n          dv: account.rut.substring(account.rut.length,account.rut.length-1 ),\n          rutdv:account.rut.substring(0, account.rut.length -2)+account.rut.substring(account.rut.length,account.rut.length-1 ),\n       rznSocial: account.razon_social.toUpperCase()\n       }\n      }\n    })\n}\n\nreturn data;"},"id":"7fba9427-05f3-4591-a5b7-9fd34029a50d","name":"Code1","type":"n8n-nodes-base.code","position":[-200,580],"typeVersion":1}],"connections":{"Code":{"main":[[{"node":"ApiMontoCedido","type":"main","index":0}]]},"Set1":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"MySQL":{"main":[[{"node":"Code","type":"main","index":0}]]},"LogginFapro":{"main":[[{"node":"GetBusinessLogged","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"ApiMontoCedido":{"main":[[{"node":"ApiPenetracionMercado","type":"main","index":0}]]},"ApiNotasCredito":{"main":[[{"node":"Set1","type":"main","index":0}]]},"Split In Batches":{"main":[[{"node":"MySQL","type":"main","index":0}]]},"GetBusinessLogged":{"main":[[{"node":"Code1","type":"main","index":0}]]},"ApiFacturasReclamadas":{"main":[[{"node":"ApiNotasCredito","type":"main","index":0}]]},"ApiPenetracionMercado":{"main":[[{"node":"ApiFacturasReclamadas","type":"main","index":0}]]},"When clicking \"Execute Workflow\"":{"main":[[{"node":"LogginFapro","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"pinData":{},"versionId":"a67c2c25-a931-48d0-a837-b7876ac95756","triggerCount":0,"tags":[]}