my-workflow-copy-h88XLlGVbUUHivPe.json
{"id":"h88XLlGVbUUHivPe","createdAt":"2023-07-13T16:43:41.718Z","updatedAt":"2023-07-13T17:55:42.089Z","name":"My workflow copy","active":false,"nodes":[{"parameters":{"method":"POST","url":"https://cumplo.fapro.app/api/v1.0/login","sendQuery":true,"queryParameters":{"parameters":[{"name":"email","value":"api@cumplo.com"},{"name":"password","value":"TKB6Thdmt2WacP3B8z9h"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Accept","value":"application/json"}]},"options":{}},"id":"71d6157b-f066-4cf5-95f3-c2ade155ea8a","name":"LogginFapro","type":"n8n-nodes-base.httpRequest","position":[-2100,280],"typeVersion":3},{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"id":"88577db8-e2d0-466e-892a-ec20ef11ac81","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-2280,540],"typeVersion":1},{"parameters":{"method":"POST","url":"=https://api.hubapi.com/companies/v2/companies/paged?","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendBody":true,"specifyBody":"json","jsonBody":"={\"filterGroups\":[{\"filters\":[{\"value\":\"{{ $node['Split In Batches'].json.rutDv }}\",\"propertyName\":\"rut_empresa\",\"operator\":\"EQ\"}]}],\"sorts\":[\"string\"],\"properties\":[\"rut\"],\"limit\":1,\"after\":0}   ","options":{}},"id":"196eccf6-86b9-406a-b2fa-02d24e924421","name":"Search Hubspot Company","type":"n8n-nodes-base.httpRequest","position":[0,480],"typeVersion":3,"credentials":{"hubspotAppToken":{"id":"e8QkvMGzjnAa7Q0k","name":"TokenHubspot(n8n_test)"}}},{"parameters":{"url":"https://cumplo.fapro.app/api/v1.0/company/profile","sendQuery":true,"queryParameters":{"parameters":[{"name":"rut","value":"={{ $json.rutDv.substring(0,$json.rutDv.length -1)}}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node[\"LogginFapro\"].json[\"data\"][\"accessToken\"] }}"}]},"options":{}},"id":"8ae8bf89-c101-49f8-85cb-4d6c15a96c2a","name":"GetCompanyProfile","type":"n8n-nodes-base.httpRequest","position":[-520,100],"typeVersion":3,"alwaysOutputData":true,"continueOnFail":true},{"parameters":{"authentication":"appToken","resource":"company","operation":"get","companyId":"={{ $json.results[0].id }}","additionalFields":{}},"id":"6c98686a-4a83-430e-a645-c8aa64f38897","name":"GetCompanyHubspot","type":"n8n-nodes-base.hubspot","position":[460,460],"typeVersion":1,"credentials":{"hubspotAppToken":{"id":"e8QkvMGzjnAa7Q0k","name":"TokenHubspot(n8n_test)"}}},{"parameters":{"authentication":"appToken","resource":"company","operation":"update","companyId":"={{ $json.companyId }}","updateFields":{"customPropertiesUi":{"customPropertiesValues":[{"property":"estado_enroladmiento_fapro","value":"Activo"}]}}},"id":"904e148c-f689-42a1-80fe-d9188ffe2f5e","name":"HubSpot","type":"n8n-nodes-base.hubspot","position":[760,460],"typeVersion":1,"credentials":{"hubspotAppToken":{"id":"e8QkvMGzjnAa7Q0k","name":"TokenHubspot(n8n_test)"}}},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.total }}","operation":"notEqual"}]}},"id":"7689c3b5-5676-4fef-baa2-3ba598ed438d","name":"IF3","type":"n8n-nodes-base.if","position":[220,480],"typeVersion":1},{"parameters":{"method":"POST","url":"=https://api.hubapi.com/crm/v3/objects/companies/search","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendBody":true,"specifyBody":"json","jsonBody":"={\"limit\":100,\n\"after\":{{ $json.hubspot_request_after }},\n\"properties\":[\"id\",\"documento_tributario\",\"name\",\"estado_enroladmiento_fapro\"],\n    \"filterGroups\":[\n      {\n        \"filters\":[\n          {\n            \"propertyName\": \"estado_enroladmiento_fapro\",\n            \"operator\": \"IN\",\n            \"values\": [\"Activo\"]\n          }\n        ]\n      }\n    ]\n  }   ","options":{"response":{"response":{}}}},"id":"c3a1c5f8-93cf-4ce1-a241-dd7f942ef6f8","name":"GetHubspotCompanies","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-1600,-160],"credentials":{"hubspotAppToken":{"id":"e8QkvMGzjnAa7Q0k","name":"TokenHubspot(n8n_test)"}}},{"parameters":{"keepOnlySet":true,"values":{"number":[{"name":"hubspot_request_after"}]},"options":{}},"id":"bcb1e80a-bb3c-4817-8d1d-db38851c5b8f","name":"hubspot_request_after","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1880,280]},{"parameters":{"keepOnlySet":true,"values":{"number":[{"name":"hubspot_request_after","value":"={{ $('GetHubspotCompanies').item.json.paging.next.after }}"}]},"options":{}},"id":"6bf11727-f66f-403c-bad4-681dbefc19e3","name":"Set","type":"n8n-nodes-base.set","typeVersion":2,"position":[920,240]},{"parameters":{"conditions":{"boolean":[{"value1":"={{$node[\"GetHubspotCompanies\"].json[\"paging\"] ? true : false}}","value2":true}]}},"id":"110ed35e-cce1-4a17-b6ca-28938825a6fe","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[40,-180]},{"parameters":{"options":{}},"id":"bcf29d9e-dd26-47a8-a069-3c8ed66771fa","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-1020,-160]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"documento_tributario","value":"={{ $json.empresa.hs_object_id.properties.documento_tributario }}"},{"name":"hs_object_id","value":"={{ $json.empresa.hs_object_id.id }}"}]},"options":{}},"id":"b3b8830a-6c8f-464b-8af0-d79f12af9931","name":"Set1","type":"n8n-nodes-base.set","typeVersion":2,"position":[-620,-220]},{"parameters":{"jsCode":"const registeredBusiness = $('GetHubspotCompanies').all()\ndata = []\nfor(var i = 0 ; i < registeredBusiness.length;i ++){ \n     const empresas= registeredBusiness[i]\n     const results = empresas.json.results\n    for(var j = 0 ;j < results.length;j ++){ \n    const result = results[j]\n  const id = result\n      let caca = {\n        empresa:{\n        hs_object_id:  id,\n}}\n  data.push(caca)\n    }\n    \n  }\nreturn data\n"},"id":"418b9f73-5512-4038-9b0c-38e46b612918","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1380,-160]}],"connections":{"IF3":{"main":[[{"node":"GetCompanyHubspot","type":"main","index":0}]]},"LogginFapro":{"main":[[{"node":"hubspot_request_after","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"LogginFapro","type":"main","index":0}]]},"GetCompanyHubspot":{"main":[[{"node":"HubSpot","type":"main","index":0}]]},"Search Hubspot Company":{"main":[[{"node":"IF3","type":"main","index":0}]]},"GetHubspotCompanies":{"main":[[{"node":"Code","type":"main","index":0}]]},"hubspot_request_after":{"main":[[{"node":"GetHubspotCompanies","type":"main","index":0}]]},"Set":{"main":[[{"node":"GetHubspotCompanies","type":"main","index":0}]]},"IF":{"main":[[{"node":"Set","type":"main","index":0}]]},"Split In Batches":{"main":[[{"node":"Set1","type":"main","index":0}]]},"Set1":{"main":[[{"node":"IF","type":"main","index":0}]]},"Code":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"pinData":{},"versionId":"69ee1a2f-7c8a-4f74-8483-03ef8f6e4cdb","triggerCount":0,"tags":[]}