my-workflow-9-Uti3UfsBfiPvt8uE.json
{"id":"Uti3UfsBfiPvt8uE","createdAt":"2024-05-09T22:52:17.320Z","updatedAt":"2024-05-10T15:38:02.222Z","name":"My workflow 9","active":false,"nodes":[{"parameters":{},"id":"981baca4-3538-4366-a156-796845327faa","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[580,280]},{"parameters":{"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1oUY7CzWFoz7tVvUFu_qo1inrYxsx8TwQ15uhz5uH2C0","mode":"url","__regex":"https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oUY7CzWFoz7tVvUFu_qo1inrYxsx8TwQ15uhz5uH2C0/edit#gid=0"},"options":{}},"id":"e85b3dff-7795-47ee-a6f0-bd31b94a0e37","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[800,280],"credentials":{"googleSheetsOAuth2Api":{"id":"8bGWJfHbu4vrInd0","name":"Google Sheets account"}}},{"parameters":{"operation":"select","table":{"__rl":true,"value":"core_enterprise","mode":"list","cachedResultName":"core_enterprise"},"returnAll":true,"where":{"values":[{"column":"document_number","value":"={{ $json.rut }}"}]},"options":{}},"id":"e08e5e59-19ed-4d98-bf79-ca5775c814a7","name":"MySQL","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[1020,280],"credentials":{"mySql":{"id":"ZOk8Jv4CnQ8P1wLe","name":"Kimchi production financing"}}},{"parameters":{"operation":"select","table":{"__rl":true,"value":"internal_requests_internalrequest","mode":"list","cachedResultName":"internal_requests_internalrequest"},"returnAll":true,"where":{"values":[{"column":"requester_id","value":"={{ $json.id }}"}]},"options":{}},"id":"8f32e208-1b1a-48a6-a65d-a3993dceb7be","name":"MySQL1","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[1240,280],"credentials":{"mySql":{"id":"ZOk8Jv4CnQ8P1wLe","name":"Kimchi production financing"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1oUY7CzWFoz7tVvUFu_qo1inrYxsx8TwQ15uhz5uH2C0","mode":"url","__regex":"https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"},"sheetName":{"__rl":true,"value":1320415880,"mode":"list","cachedResultName":"Hoja 2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oUY7CzWFoz7tVvUFu_qo1inrYxsx8TwQ15uhz5uH2C0/edit#gid=1320415880"},"columns":{"mappingMode":"defineBelow","value":{"op_id":"={{ $json.id }}","created":"={{ $json.created_at }}"},"matchingColumns":["op_id"],"schema":[{"id":"op_id","displayName":"op_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"created","displayName":"created","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{}},"id":"03da117d-8289-472c-ad96-b3ff0df4d5a1","name":"Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1460,280],"credentials":{"googleSheetsOAuth2Api":{"id":"8bGWJfHbu4vrInd0","name":"Google Sheets account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM internal_requests_internalrequest where id in (266549,266543,266542,266541,266540,266539,266538,266537,266536,266535,266534,266533,266532,266531,266530,266529,266528,266525,266523,266253,266252,266069,265927,265926,265838,265837,265836,265835,265834,265833,265832,265099,265098,265097,265051,265050,265049,265022,264925,264924,264910,264824,264799,264798,264797,264202,263917)","options":{}},"id":"342ac51e-4c6a-4e9a-a7e5-66c2d7b88baa","name":"MySQL2","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[1780,240],"credentials":{"mySql":{"id":"ZOk8Jv4CnQ8P1wLe","name":"Kimchi production financing"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1oUY7CzWFoz7tVvUFu_qo1inrYxsx8TwQ15uhz5uH2C0/edit#gid=1320415880","mode":"url","__regex":"https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"},"sheetName":{"__rl":true,"value":1320415880,"mode":"list","cachedResultName":"Hoja 2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oUY7CzWFoz7tVvUFu_qo1inrYxsx8TwQ15uhz5uH2C0/edit#gid=1320415880"},"columns":{"mappingMode":"defineBelow","value":{"id_repre":"={{ $json.id }}","Responsable actual":"={{ $json.name }}"},"matchingColumns":["id_repre"],"schema":[{"id":"op_id","displayName":"op_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"created","displayName":"created","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Nombre empresa","displayName":"Nombre empresa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Responsable actual","displayName":"Responsable actual","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"RUT","displayName":"RUT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"ID_req","displayName":"ID_req","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"id_repre","displayName":"id_repre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}]},"options":{}},"id":"fd0db8ea-7eee-4245-a6c3-d2ddd221b3ee","name":"Google Sheets2","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[2280,240],"credentials":{"googleSheetsOAuth2Api":{"id":"8bGWJfHbu4vrInd0","name":"Google Sheets account"}}},{"parameters":{"operation":"select","table":{"__rl":true,"value":"core_enterprise","mode":"list","cachedResultName":"core_enterprise"},"returnAll":true,"where":{"values":[{"column":"id","value":"={{ $json.requester_id }}"}]},"options":{}},"id":"5db4f931-8f5f-4e64-a52b-7c98e53211af","name":"MySQL3","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[2020,420],"credentials":{"mySql":{"id":"ZOk8Jv4CnQ8P1wLe","name":"Kimchi production financing"}}},{"parameters":{"operation":"select","table":{"__rl":true,"value":"core_user","mode":"list","cachedResultName":"core_user"},"returnAll":true,"where":{"values":[{"column":"id","value":"={{ $json.representative_id }}"}]},"options":{}},"id":"9fb733fc-a83d-4e12-bd47-aa4961a68968","name":"MySQL4","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[2000,240],"credentials":{"mySql":{"id":"ZOk8Jv4CnQ8P1wLe","name":"Kimchi production financing"}}}],"connections":{"When clicking \"Execute Workflow\"":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"MySQL","type":"main","index":0}]]},"MySQL":{"main":[[{"node":"MySQL1","type":"main","index":0}]]},"MySQL1":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Google Sheets1":{"main":[[]]},"MySQL2":{"main":[[{"node":"MySQL4","type":"main","index":0}]]},"MySQL3":{"main":[[]]},"MySQL4":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"pinData":{},"versionId":"2b8a2e24-e34d-49da-b9cf-54d9f8fa4652","triggerCount":0,"tags":[]}