my-workflow-5-hPXCrss0dFOUkCbb.json
{"id":"hPXCrss0dFOUkCbb","createdAt":"2023-12-19T19:29:20.402Z","updatedAt":"2024-01-26T01:22:40.149Z","name":"My workflow 5","active":false,"nodes":[{"parameters":{"url":"=https://thecage.production.cumplo.com/login_sii/{{ $json.identificador }}","sendQuery":true,"queryParameters":{"parameters":[{}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"8V0ZZJGPDb3ylzzdbSgPK7vYAOL9q2nT5arDt2JX"}]},"options":{}},"id":"bbd889a3-da3c-4cce-a1c8-d4be95738d66","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[840,-460],"alwaysOutputData":true,"executeOnce":true,"retryOnFail":true,"continueOnFail":true},{"parameters":{"operation":"executeQuery","query":"select * from empresas where identificador in ('762817608',\n'767571658',\n'769327452',\n'767971818',\n'143033082',\n'768943125',\n'764186478',\n'770253160',\n'772047835',\n'969884704',\n'772749945',\n'769950451',\n'762617056',\n'76098129K',\n'928460002',\n'766913873',\n'763888924',\n'71262057',\n'765986206',\n'762354535',\n'766247164',\n'767510578',\n'760694428',\n'760927988',\n'969841509',\n'764363566',\n'770447372',\n'768307121',\n'770550815',\n'763817369',\n'772388799',\n'766482309',\n'765945615',\n'763244695',\n'764665813',\n'768791724',\n'773040818',\n'770457769',\n'772862776',\n'767076355',\n'772713096',\n'770188423',\n'967163406',\n'768037779',\n'763092992',\n'762105926',\n'767158793',\n'763550567',\n'764506634',\n'768539936',\n'760112631',\n'771822924',\n'209030888',\n'771049249',\n'6669240K',\n'775580356',\n'773052565',\n'773786143',\n'774919570',\n'767596383',\n'775117494',\n'769207422',\n'797145505',\n'764370953',\n'770222532',\n'762044048',\n'771578152',\n'766840272',\n'119487870',\n'761079719',\n'771379079',\n'765443040',\n'769531319',\n'771101348',\n'766880223',\n'773525668',\n'760441651',\n'775176032',\n'771551645',\n'762560836',\n'768253455',\n'771557716',\n'768005613',\n'770430585',\n'774535934',\n'76153596K',\n'764231546',\n'77607554K',\n'765513715',\n'771012094',\n'765651301',\n'762836416',\n'776506206',\n'779575101',\n'76698259K',\n'766295827',\n'764555295',\n'770963443',\n'765553695',\n'770448972',\n'16565241K',\n'769196099',\n'765464595',\n'774887989',\n'769961976',\n'775691778',\n'768417466',\n'762335751',\n'768666393',\n'769051996',\n'766163718',\n'763893294',\n'766932894',\n'787634206',\n'650627563',\n'157125052',\n'763779912',\n'768317372',\n'771401570',\n'766999530',\n'765413230',\n'773029865',\n'765799171',\n'770964873',\n'77182238K',\n'773019436',\n'771725686',\n'76238969K',\n'767143362',\n'76561404K',\n'776662402',\n'77573924K',\n'766794491',\n'770349958',\n'764482220',\n'768833346',\n'769339655',\n'77546514K',\n'775431318',\n'760502367',\n'772132220',\n'776857645',\n'763213935',\n'770945925',\n'768202729',\n'76794361K',\n'765430976',\n'772877560',\n'763946479',\n'774939172',\n'76811286K',\n'766559077',\n'776268259',\n'764498623',\n'777455664',\n'775815213',\n'776764140',\n'772196083',\n'772590695',\n'773345678',\n'760123617',\n'769092684',\n'766830684',\n'771089992',\n'770307155',\n'770442044',\n'768228515',\n'767631421',\n'770679184',\n'777614134',\n'771942296',\n'765868203',\n'772863357',\n'767279515',\n'76836222K',\n'777404253',\n'76344578K',\n'11980132K',\n'774923810',\n'774189645',\n'777616935',\n'771798128',\n'770889723',\n'766412580',\n'771060919',\n'774912851',\n'776291447',\n'777924745',\n'77298863K',\n'775696052',\n'778099136',\n'768222010',\n'771402119',\n'774026061',\n'765351472',\n'764279263',\n'773673373',\n'765154642',\n'765359139',\n'775302852',\n'773442878',\n'767820461',\n'766296017',\n'774812121',\n'772256663',\n'762608073',\n'770292026',\n'13002338K',\n'767550545',\n'77138255K',\n'777836595',\n'775523190',\n'775743182',\n'774435336',\n'776708194',\n'772937075',\n'77218588K',\n'77283201K',\n'775704942',\n'762292696',\n'777746464',\n'768228256',\n'774350675',\n'77699796K',\n'775013419',\n'767401272',\n'773439516',\n'767779283',\n'776390887',\n'76529066K',\n'775738677',\n'766813836',\n'76756323K',\n'777620959',\n'775646314',\n'778391716',\n'77559523K',\n'775651954',\n'764819268',\n'107576711',\n'156486310',\n'762790386',\n'155137894',\n'777109286',\n'771714765',\n'766824676',\n'772357664',\n'173840357',\n'764982096',\n'776741833',\n'776593125',\n'774315268',\n'772465874',\n'77698776K',\n'768402086',\n'775545917',\n'777963384',\n'777737716',\n'768530718',\n'778497964',\n'777829246',\n'777547097',\n'198205273',\n'77714894K',\n'778538482',\n'126465386',\n'766762034',\n'179511460',\n'162197223');","options":{}},"id":"ca2722d7-2859-4ad6-865b-c655b4514798","name":"Postgres","type":"n8n-nodes-base.postgres","typeVersion":2.2,"position":[240,-140],"credentials":{"postgres":{"id":"lfpZXUz0qzLZHTuC","name":"ada-extractor-prod"}}},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"identificador","value":"={{ $json.identificador }}"}]},"options":{}},"id":"327403c1-6ec0-4903-9b33-f798dd5fd0fc","name":"Set","type":"n8n-nodes-base.set","typeVersion":2,"position":[480,-140]},{"parameters":{"batchSize":1,"options":{}},"id":"49672df9-9d59-44cb-9aad-0809caee75da","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[700,-240]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.cookie.CSESSIONID }}","operation":"isNotEmpty"}]}},"id":"80f4521e-eec9-45da-a5df-25c40f2a55b3","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[1120,-460]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"Rut","value":"={{ $('Split In Batches').item.json.identificador }}"},{"value":"={{ $('HTTP Request').item.json.cookie }}"}]},"options":{}},"id":"ca660138-4f76-4013-979b-f1ba87300ee6","name":"Set1","type":"n8n-nodes-base.set","typeVersion":2,"position":[1860,-440]},{"parameters":{"url":"=https://suvjibemry.us-west-2.awsapprunner.com/api/empresas/updateEmpresaInactivo/{{ $('Set1').item.json.Rut }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 4c453a9475b6a6ff528893626c7b6e732770171e8cdb16bf7d699ce77d3ac34abaf110fc20f6e02eb2a79984dfa58b15eddc0722046940c324731fb373eb4143bba777974cc71e3d91628e7e53a9b7ba121719e8c7361085a9f2078a1d91d17c5c97686d511885398f5d701a1aaba039da573f73c03237e75c394f2602f06b2c"}]},"options":{}},"id":"38441920-6050-4b59-a6dd-9cf3862e5d0c","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2980,-700]},{"parameters":{"authentication":"appToken","resource":"company","operation":"get","companyId":"={{ $json.results[0].id }}","additionalFields":{}},"id":"ec8629fb-ab88-423f-b731-f679e8ecee05","name":"GetCompanyHubspot","type":"n8n-nodes-base.hubspot","position":[1580,-620],"typeVersion":1,"credentials":{"hubspotAppToken":{"id":"e8QkvMGzjnAa7Q0k","name":"TokenHubspot(n8n_test)"}}},{"parameters":{"authentication":"appToken","resource":"company","operation":"update","companyId":"={{ $json.companyId }}","updateFields":{"customPropertiesUi":{"customPropertiesValues":[{"property":"estado_enroladmiento_fapro","value":"Activo"}]}}},"id":"a7152283-d83f-4a3f-b59d-c593ba1252a6","name":"HubSpot","type":"n8n-nodes-base.hubspot","position":[1740,-140],"typeVersion":1,"credentials":{"hubspotAppToken":{"id":"e8QkvMGzjnAa7Q0k","name":"TokenHubspot(n8n_test)"}}},{"parameters":{"method":"POST","url":"=https://api.hubapi.com/crm/v3/objects/companies/search/","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendBody":true,"specifyBody":"json","jsonBody":"={\"filterGroups\":[{\"filters\":[{\"value\":\"{{ $node['Split In Batches'].json.identificador }}\",\"propertyName\":\"documento_tributario\",\"operator\":\"EQ\"}]}],\"sorts\":[\"string\"],\"properties\":[\"rut\"],\"limit\":1,\"after\":0}   ","options":{}},"id":"29dd8c91-cffe-4eec-ba5a-2bff3847760f","name":"Search Hubspot Company","type":"n8n-nodes-base.httpRequest","position":[1300,-620],"typeVersion":3,"credentials":{"hubspotAppToken":{"id":"e8QkvMGzjnAa7Q0k","name":"TokenHubspot(n8n_test)"}}},{"parameters":{"authentication":"appToken","resource":"company","operation":"get","companyId":"={{ $json.results[0].id }}","additionalFields":{}},"id":"cb610fcd-1a0b-4990-8e9c-75121f127724","name":"GetCompanyHubspot1","type":"n8n-nodes-base.hubspot","position":[3620,-460],"typeVersion":1,"credentials":{"hubspotAppToken":{"id":"e8QkvMGzjnAa7Q0k","name":"TokenHubspot(n8n_test)"}}},{"parameters":{"authentication":"appToken","resource":"company","operation":"update","companyId":"={{ $json.companyId }}","updateFields":{"customPropertiesUi":{"customPropertiesValues":[{"property":"estado_enroladmiento_fapro","value":"Credencial Incorrecta"}]}}},"id":"f417221a-72c6-42ec-80c6-dcafd3c02fc6","name":"HubSpot1","type":"n8n-nodes-base.hubspot","position":[3780,-460],"typeVersion":1,"credentials":{"hubspotAppToken":{"id":"e8QkvMGzjnAa7Q0k","name":"TokenHubspot(n8n_test)"}}},{"parameters":{"method":"POST","url":"=https://api.hubapi.com/crm/v3/objects/companies/search/","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendBody":true,"specifyBody":"json","jsonBody":"={\"filterGroups\":[{\"filters\":[{\"value\":\"{{ $node['Split In Batches'].json.identificador }}\",\"propertyName\":\"documento_tributario\",\"operator\":\"EQ\"}]}],\"sorts\":[\"string\"],\"properties\":[\"rut\"],\"limit\":1,\"after\":0}   ","options":{}},"id":"0bf23d8b-20ce-4efa-84e0-8de3862835d6","name":"Search Hubspot Company1","type":"n8n-nodes-base.httpRequest","position":[3280,-700],"typeVersion":3,"credentials":{"hubspotAppToken":{"id":"e8QkvMGzjnAa7Q0k","name":"TokenHubspot(n8n_test)"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"id":"98a76c11-febf-4a45-8eef-5fa702cdeeb5","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-20,-120]},{"parameters":{"keepOnlySet":true,"options":{}},"id":"357f5d05-7488-4e54-ad0a-3ca507dec385","name":"Set2","type":"n8n-nodes-base.set","typeVersion":2,"position":[4020,-460],"executeOnce":true},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"empresas","mode":"list","cachedResultName":"empresas"},"columns":{"mappingMode":"defineBelow","value":{"activo":true,"credenciales_vigentes":true},"matchingColumns":["identificador"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"nombre","displayName":"nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"identificador","displayName":"identificador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"activo","displayName":"activo","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"created_by_id","displayName":"created_by_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"updated_by_id","displayName":"updated_by_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"fecha_inicio_actividades","displayName":"fecha_inicio_actividades","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"credenciales_vigentes","displayName":"credenciales_vigentes","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true}]},"options":{}},"id":"749abbb2-1a77-4b9a-bfb8-cf5c36732d22","name":"Postgres1","type":"n8n-nodes-base.postgres","typeVersion":2.2,"position":[1960,-140],"credentials":{"postgres":{"id":"lfpZXUz0qzLZHTuC","name":"ada-extractor-prod"}}}],"connections":{"Postgres":{"main":[[{"node":"Set","type":"main","index":0}]]},"Set":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Split In Batches":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"IF","type":"main","index":0}]]},"IF":{"main":[[{"node":"Search Hubspot Company","type":"main","index":0}],[{"node":"Set1","type":"main","index":0}]]},"Set1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Search Hubspot Company1","type":"main","index":0}]]},"GetCompanyHubspot":{"main":[[{"node":"HubSpot","type":"main","index":0}]]},"HubSpot":{"main":[[{"node":"Postgres1","type":"main","index":0}]]},"Search Hubspot Company":{"main":[[{"node":"GetCompanyHubspot","type":"main","index":0}]]},"GetCompanyHubspot1":{"main":[[{"node":"HubSpot1","type":"main","index":0}]]},"Search Hubspot Company1":{"main":[[{"node":"GetCompanyHubspot1","type":"main","index":0}]]},"HubSpot1":{"main":[[{"node":"Set2","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Postgres","type":"main","index":0}]]},"Set2":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Postgres1":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"pinData":{},"versionId":"04ecc961-5b8e-4693-9b87-71affca6c2d9","triggerCount":0,"tags":[]}