my-workflow-9-Uti3UfsBfiPvt8uE.json
{"id":"Uti3UfsBfiPvt8uE","createdAt":"2024-05-09T22:52:17.320Z","updatedAt":"2024-05-09T22:52:17.320Z","name":"My workflow 9","active":false,"nodes":[{"parameters":{},"id":"981baca4-3538-4366-a156-796845327faa","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[580,280]},{"parameters":{"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1oUY7CzWFoz7tVvUFu_qo1inrYxsx8TwQ15uhz5uH2C0","mode":"url","__regex":"https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oUY7CzWFoz7tVvUFu_qo1inrYxsx8TwQ15uhz5uH2C0/edit#gid=0"},"options":{}},"id":"e85b3dff-7795-47ee-a6f0-bd31b94a0e37","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[800,280],"credentials":{"googleSheetsOAuth2Api":{"id":"8bGWJfHbu4vrInd0","name":"Google Sheets account"}}},{"parameters":{"operation":"select","table":{"__rl":true,"value":"core_enterprise","mode":"list","cachedResultName":"core_enterprise"},"returnAll":true,"where":{"values":[{"column":"document_number","value":"={{ $json.rut }}"}]},"options":{}},"id":"e08e5e59-19ed-4d98-bf79-ca5775c814a7","name":"MySQL","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[1020,280],"credentials":{"mySql":{"id":"ZOk8Jv4CnQ8P1wLe","name":"Kimchi production financing"}}},{"parameters":{"operation":"select","table":{"__rl":true,"value":"internal_requests_internalrequest","mode":"list","cachedResultName":"internal_requests_internalrequest"},"returnAll":true,"where":{"values":[{"column":"requester_id","value":"={{ $json.id }}"}]},"options":{}},"id":"8f32e208-1b1a-48a6-a65d-a3993dceb7be","name":"MySQL1","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[1240,280],"credentials":{"mySql":{"id":"ZOk8Jv4CnQ8P1wLe","name":"Kimchi production financing"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1oUY7CzWFoz7tVvUFu_qo1inrYxsx8TwQ15uhz5uH2C0","mode":"url","__regex":"https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"},"sheetName":{"__rl":true,"value":1320415880,"mode":"list","cachedResultName":"Hoja 2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1oUY7CzWFoz7tVvUFu_qo1inrYxsx8TwQ15uhz5uH2C0/edit#gid=1320415880"},"columns":{"mappingMode":"defineBelow","value":{"op_id":"={{ $json.id }}","created":"={{ $json.created_at }}"},"matchingColumns":["op_id"],"schema":[{"id":"op_id","displayName":"op_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"created","displayName":"created","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{}},"id":"03da117d-8289-472c-ad96-b3ff0df4d5a1","name":"Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1460,280],"credentials":{"googleSheetsOAuth2Api":{"id":"8bGWJfHbu4vrInd0","name":"Google Sheets account"}}}],"connections":{"When clicking \"Execute Workflow\"":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"MySQL","type":"main","index":0}]]},"MySQL":{"main":[[{"node":"MySQL1","type":"main","index":0}]]},"MySQL1":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"pinData":{},"versionId":"17063624-1f0f-4ecb-a0b7-cdd3ceff5ae4","triggerCount":0,"tags":[]}