my-workflow-5-hPXCrss0dFOUkCbb.json
{"id":"hPXCrss0dFOUkCbb","createdAt":"2023-12-19T19:29:20.402Z","updatedAt":"2024-02-01T15:55:50.559Z","name":"My workflow 5","active":false,"nodes":[{"parameters":{"url":"=https://thecage.production.cumplo.com/login_sii/{{ $json.identificador }}","sendQuery":true,"queryParameters":{"parameters":[{}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"8V0ZZJGPDb3ylzzdbSgPK7vYAOL9q2nT5arDt2JX"}]},"options":{}},"id":"bbd889a3-da3c-4cce-a1c8-d4be95738d66","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[840,-460],"alwaysOutputData":true,"executeOnce":true,"retryOnFail":true,"continueOnFail":true},{"parameters":{"operation":"executeQuery","query":"select * from empresas where activo = activo;","options":{}},"id":"ca2722d7-2859-4ad6-865b-c655b4514798","name":"Postgres","type":"n8n-nodes-base.postgres","typeVersion":2.2,"position":[240,-140],"credentials":{"postgres":{"id":"lfpZXUz0qzLZHTuC","name":"ada-extractor-prod"}}},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"identificador","value":"={{ $json.identificador }}"}]},"options":{}},"id":"327403c1-6ec0-4903-9b33-f798dd5fd0fc","name":"Set","type":"n8n-nodes-base.set","typeVersion":2,"position":[480,-140]},{"parameters":{"batchSize":1,"options":{}},"id":"49672df9-9d59-44cb-9aad-0809caee75da","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[700,-240]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.cookie.CSESSIONID }}","operation":"isNotEmpty"}]}},"id":"80f4521e-eec9-45da-a5df-25c40f2a55b3","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[1120,-460]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"Rut","value":"={{ $('Split In Batches').item.json.identificador }}"},{"value":"={{ $('HTTP Request').item.json.cookie }}"}]},"options":{}},"id":"ca660138-4f76-4013-979b-f1ba87300ee6","name":"Set1","type":"n8n-nodes-base.set","typeVersion":2,"position":[1860,-440]},{"parameters":{"url":"=https://suvjibemry.us-west-2.awsapprunner.com/api/empresas/updateEmpresaInactivo/{{ $('Set1').item.json.Rut }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 4c453a9475b6a6ff528893626c7b6e732770171e8cdb16bf7d699ce77d3ac34abaf110fc20f6e02eb2a79984dfa58b15eddc0722046940c324731fb373eb4143bba777974cc71e3d91628e7e53a9b7ba121719e8c7361085a9f2078a1d91d17c5c97686d511885398f5d701a1aaba039da573f73c03237e75c394f2602f06b2c"}]},"options":{}},"id":"38441920-6050-4b59-a6dd-9cf3862e5d0c","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2980,-700]},{"parameters":{"authentication":"appToken","resource":"company","operation":"get","companyId":"={{ $json.results[0].id }}","additionalFields":{}},"id":"ec8629fb-ab88-423f-b731-f679e8ecee05","name":"GetCompanyHubspot","type":"n8n-nodes-base.hubspot","position":[1580,-620],"typeVersion":1,"credentials":{"hubspotAppToken":{"id":"e8QkvMGzjnAa7Q0k","name":"TokenHubspot(n8n_test)"}}},{"parameters":{"authentication":"appToken","resource":"company","operation":"update","companyId":"={{ $json.companyId }}","updateFields":{"customPropertiesUi":{"customPropertiesValues":[{"property":"estado_enroladmiento_fapro","value":"Activo"}]}}},"id":"a7152283-d83f-4a3f-b59d-c593ba1252a6","name":"HubSpot","type":"n8n-nodes-base.hubspot","position":[1740,-140],"typeVersion":1,"credentials":{"hubspotAppToken":{"id":"e8QkvMGzjnAa7Q0k","name":"TokenHubspot(n8n_test)"}}},{"parameters":{"method":"POST","url":"=https://api.hubapi.com/crm/v3/objects/companies/search/","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendBody":true,"specifyBody":"json","jsonBody":"={\"filterGroups\":[{\"filters\":[{\"value\":\"{{ $node['Split In Batches'].json.identificador }}\",\"propertyName\":\"documento_tributario\",\"operator\":\"EQ\"}]}],\"sorts\":[\"string\"],\"properties\":[\"rut\"],\"limit\":1,\"after\":0}   ","options":{}},"id":"29dd8c91-cffe-4eec-ba5a-2bff3847760f","name":"Search Hubspot Company","type":"n8n-nodes-base.httpRequest","position":[1300,-620],"typeVersion":3,"credentials":{"hubspotAppToken":{"id":"e8QkvMGzjnAa7Q0k","name":"TokenHubspot(n8n_test)"}}},{"parameters":{"authentication":"appToken","resource":"company","operation":"get","companyId":"={{ $json.results[0].id }}","additionalFields":{}},"id":"cb610fcd-1a0b-4990-8e9c-75121f127724","name":"GetCompanyHubspot1","type":"n8n-nodes-base.hubspot","position":[3620,-460],"typeVersion":1,"credentials":{"hubspotAppToken":{"id":"e8QkvMGzjnAa7Q0k","name":"TokenHubspot(n8n_test)"}}},{"parameters":{"authentication":"appToken","resource":"company","operation":"update","companyId":"={{ $json.companyId }}","updateFields":{"customPropertiesUi":{"customPropertiesValues":[{"property":"estado_enroladmiento_fapro","value":"Credencial Incorrecta"}]}}},"id":"f417221a-72c6-42ec-80c6-dcafd3c02fc6","name":"HubSpot1","type":"n8n-nodes-base.hubspot","position":[3780,-460],"typeVersion":1,"credentials":{"hubspotAppToken":{"id":"e8QkvMGzjnAa7Q0k","name":"TokenHubspot(n8n_test)"}}},{"parameters":{"method":"POST","url":"=https://api.hubapi.com/crm/v3/objects/companies/search/","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendBody":true,"specifyBody":"json","jsonBody":"={\"filterGroups\":[{\"filters\":[{\"value\":\"{{ $node['Split In Batches'].json.identificador }}\",\"propertyName\":\"documento_tributario\",\"operator\":\"EQ\"}]}],\"sorts\":[\"string\"],\"properties\":[\"rut\"],\"limit\":1,\"after\":0}   ","options":{}},"id":"0bf23d8b-20ce-4efa-84e0-8de3862835d6","name":"Search Hubspot Company1","type":"n8n-nodes-base.httpRequest","position":[3280,-700],"typeVersion":3,"credentials":{"hubspotAppToken":{"id":"e8QkvMGzjnAa7Q0k","name":"TokenHubspot(n8n_test)"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"id":"98a76c11-febf-4a45-8eef-5fa702cdeeb5","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-20,-120]},{"parameters":{"keepOnlySet":true,"options":{}},"id":"357f5d05-7488-4e54-ad0a-3ca507dec385","name":"Set2","type":"n8n-nodes-base.set","typeVersion":2,"position":[4020,-460],"executeOnce":true},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"empresas","mode":"list","cachedResultName":"empresas"},"columns":{"mappingMode":"defineBelow","value":{"activo":true,"credenciales_vigentes":true,"identificador":"={{ $('Set').item.json.identificador }}"},"matchingColumns":["identificador"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"nombre","displayName":"nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"identificador","displayName":"identificador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"activo","displayName":"activo","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"created_by_id","displayName":"created_by_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"updated_by_id","displayName":"updated_by_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"fecha_inicio_actividades","displayName":"fecha_inicio_actividades","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"credenciales_vigentes","displayName":"credenciales_vigentes","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true}]},"options":{}},"id":"749abbb2-1a77-4b9a-bfb8-cf5c36732d22","name":"Postgres1","type":"n8n-nodes-base.postgres","typeVersion":2.2,"position":[1960,-140],"credentials":{"postgres":{"id":"lfpZXUz0qzLZHTuC","name":"ada-extractor-prod"}}}],"connections":{"Postgres":{"main":[[{"node":"Set","type":"main","index":0}]]},"Set":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Split In Batches":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"IF","type":"main","index":0}]]},"IF":{"main":[[{"node":"Search Hubspot Company","type":"main","index":0}],[{"node":"Set1","type":"main","index":0}]]},"Set1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Search Hubspot Company1","type":"main","index":0}]]},"GetCompanyHubspot":{"main":[[{"node":"HubSpot","type":"main","index":0}]]},"HubSpot":{"main":[[{"node":"Postgres1","type":"main","index":0}]]},"Search Hubspot Company":{"main":[[{"node":"GetCompanyHubspot","type":"main","index":0}]]},"GetCompanyHubspot1":{"main":[[{"node":"HubSpot1","type":"main","index":0}]]},"Search Hubspot Company1":{"main":[[{"node":"GetCompanyHubspot1","type":"main","index":0}]]},"HubSpot1":{"main":[[{"node":"Set2","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Postgres","type":"main","index":0}]]},"Set2":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Postgres1":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"pinData":{},"versionId":"f5bfbcd3-8464-4ac0-bfbb-a70cd7fee141","triggerCount":0,"tags":[]}