my-workflow-14-JHhDY8h1OPNJSG3l.json
{"id":"JHhDY8h1OPNJSG3l","createdAt":"2024-11-28T16:41:18.035Z","updatedAt":"2024-11-28T16:41:18.035Z","name":"My workflow 14","active":false,"nodes":[{"parameters":{"path":"edb39e00-59a9-47f1-8973-ee6bf3bcbc22","options":{}},"id":"2ce2e9d2-a058-4345-bfd0-49afc0bc19ad","name":"Webhook","type":"n8n-nodes-base.webhook","position":[740,180],"webhookId":"1306cb77-91f8-4700-b4b2-5ba5a8814b51","typeVersion":1},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"numero_telefono","value":"={{ $json.query.phone }}"},{"name":"email","value":"={{ $json.query.email }}"}]},"options":{}},"id":"ae015c06-65e9-41c1-9b5c-ec627d6d6165","name":"Parsear","type":"n8n-nodes-base.set","position":[1020,180],"typeVersion":2},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"CompanyId","value":"={{ $json.companyId }}"}]},"options":{}},"id":"2977f5bd-78c0-4766-bfc4-702eb041aadc","name":"SetCompanyId","type":"n8n-nodes-base.set","position":[2360,240],"typeVersion":2},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"CompanyId","value":"={{ $json.results[0].id }}"}]},"options":{}},"id":"a4345f7a-c17a-495b-88c7-338d9b375ef1","name":"Set","type":"n8n-nodes-base.set","position":[2220,620],"typeVersion":2},{"parameters":{"jsCode":"const documentoTributario = $input.first().json.numero_telefono;\nconst hsObjectId = $input.first().json.email;\n\nconst numero = documentoTributario.replace(/\\./g, '').replace(/-/g, '').replace(/\\(/g, '').replace(/\\)/g, '').replace(/ /g, '');\n\nconsole.log(numero);\nreturn {\n  \"phone\": numero,\n  \"email\": hsObjectId\n\n  \n};\n"},"id":"f129a16f-d057-45ea-b067-130d46e0ece8","name":"Code","type":"n8n-nodes-base.code","position":[1260,180],"typeVersion":1},{"parameters":{"method":"PUT","url":"=https://api.hubapi.com/crm/v3/objects/contact/{{ $node.Parsear.json.hs_object_id }}/associations/company/{{ $node.SetCompanyId.json.CompanyId}}/contact_to_company  ","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","options":{"response":{"response":{}}}},"id":"9f012f84-3140-4579-9198-29171304e449","name":"Link contact to company","type":"n8n-nodes-base.httpRequest","position":[2640,240],"typeVersion":3,"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}},{"parameters":{"method":"PUT","url":"=https://api.hubapi.com/crm/v3/objects/contact/{{ $node.Parsear.json.hs_object_id }}/associations/company/{{ $node.IF.json.results[0].id }}/contact_to_company  ","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","options":{"response":{"response":{}}}},"id":"27c6e3d9-1959-41ed-99d1-fe7611ec2a57","name":"Link contact to company1","type":"n8n-nodes-base.httpRequest","position":[2500,620],"typeVersion":3,"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}},{"parameters":{"authentication":"appToken","additionalFields":{},"options":{}},"id":"dcdf51ee-2ef9-4d27-95e4-7f416b72e86a","name":"HubSpot1","type":"n8n-nodes-base.hubspot","position":[2800,640],"typeVersion":2,"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}},{"parameters":{"authentication":"appToken","resource":"company","name":"={{ $node.Code.json.document_number }}","additionalFields":{"customPropertiesUi":{"customPropertiesValues":[{"property":"documento_tributario","value":"={{ $node.Code.json.document_number }}"},{"property":"origen_de_cliente","value":"Always On"},{"property":"registro_always_on","value":"[CL] Always On"},{"property":"estado_empresa","value":"Disponible"}]}}},"id":"a81b05fa-329b-46e9-a4eb-0733e30fe9bc","name":"HubSpot","type":"n8n-nodes-base.hubspot","position":[2140,240],"typeVersion":1,"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.total }}","operation":"equal"}]}},"id":"010be239-7b0d-46dd-8d9d-3b282ce6e630","name":"IF","type":"n8n-nodes-base.if","position":[1960,420],"typeVersion":1},{"parameters":{"authentication":"appToken","email":"={{ $json.email }}","additionalFields":{"phoneNumber":"={{ $json.phone }}"},"options":{}},"id":"633445fe-4085-4744-8fd7-b88273cd8746","name":"HubSpot2","type":"n8n-nodes-base.hubspot","typeVersion":2,"position":[1480,180],"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}}],"connections":{"Set":{"main":[[{"node":"Link contact to company1","type":"main","index":0}]]},"Code":{"main":[[{"node":"HubSpot2","type":"main","index":0}]]},"Parsear":{"main":[[{"node":"Code","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Parsear","type":"main","index":0}]]},"SetCompanyId":{"main":[[{"node":"Link contact to company","type":"main","index":0}]]},"Link contact to company1":{"main":[[{"node":"HubSpot1","type":"main","index":0}]]},"HubSpot":{"main":[[{"node":"SetCompanyId","type":"main","index":0}]]},"IF":{"main":[[{"node":"HubSpot","type":"main","index":0}],[{"node":"Set","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"pinData":{},"versionId":"0f6cc0be-a1a7-4818-93d3-390936798c49","triggerCount":0,"tags":[]}