my-workflow-10-eoYk9O2hS67cYtrE.json
{"id":"eoYk9O2hS67cYtrE","createdAt":"2024-06-17T21:18:39.160Z","updatedAt":"2024-06-18T03:14:14.641Z","name":"My workflow 10","active":false,"nodes":[{"parameters":{},"id":"dbafca5d-7759-4128-a21c-e7a545ff5fa6","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[760,400]},{"parameters":{"url":"https://thecage.production.cumplo.com/claves_sii/","options":{}},"id":"309edc45-d9ba-4ea0-a689-d4e485e0ad85","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[980,340]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"document_numbers","value":"={{ $json.document_numbers }}"},{"name":"nombre","value":"={{ $json.nombre }}"}]},"options":{}},"id":"e74e9c41-f850-4a6a-8bad-ae09483a03b1","name":"Set","type":"n8n-nodes-base.set","typeVersion":2,"position":[1260,340]},{"parameters":{"operation":"executeQuery","query":"select identificador,nombre from empresas;","options":{}},"id":"b845cee1-664f-4f2d-a791-b5920b126a41","name":"Postgres","type":"n8n-nodes-base.postgres","typeVersion":2.2,"position":[1260,580],"credentials":{"postgres":{"id":"lfpZXUz0qzLZHTuC","name":"ada-extractor-prod"}}},{"parameters":{"mergeByFields":{"values":[{"field1":"document_numbers","field2":"identificador"}]},"resolve":"preferInput1","options":{}},"id":"a403210b-f521-4186-bdb0-ce962fdf47a9","name":"Compare Datasets","type":"n8n-nodes-base.compareDatasets","typeVersion":2.3,"position":[1760,440]},{"parameters":{"method":"POST","url":"=https://suvjibemry.us-west-2.awsapprunner.com/api/empresas/createEmpresaCustom/{{ $json.document_numbers }}/`{{ $json.nombre }}`","sendHeaders":true,"headerParameters":{"parameters":[{"name":"authorization","value":"Bearer 2f6f6698973243b308274dbc673693b4243cb38845a2e86e4448af81155db63d1f348f2105279e9befc82223f295de38b1d1ccc5fc8fa0fdb4d0ede00a230a96a6f51658610962f230fc77b1c070085da3be3df587f90c48cbd190520842027d7fbb5df44ff1192c7edf67045c34550fd67aec9dfaef6b3d4359c1dbdcaa024b"}]},"options":{}},"id":"3164bfb2-4f34-4151-b0ac-b56889b2faa5","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2880,600]},{"parameters":{"batchSize":1,"options":{}},"id":"ff66cd09-bbaf-46d5-8b19-57164c6c5cee","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[2060,380]},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.document_numbers.length() }}","operation":"smallerEqual","value2":9}]}},"id":"8ce17e98-497d-4b1b-904a-951a9580d581","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[2300,620]},{"parameters":{"keepOnlySet":true,"options":{}},"id":"354c4252-55f6-451f-9c5d-2ed5da4f4b6e","name":"Set1","type":"n8n-nodes-base.set","typeVersion":2,"position":[2720,300]},{"parameters":{"options":{}},"id":"22e6eb5f-0410-4b6a-9a28-828f3b7f2c4a","name":"Set2","type":"n8n-nodes-base.set","typeVersion":2,"position":[2640,700]}],"connections":{"When clicking \"Execute Workflow\"":{"main":[[{"node":"HTTP Request","type":"main","index":0},{"node":"Postgres","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Set","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"Compare Datasets","type":"main","index":1}]]},"Set":{"main":[[{"node":"Compare Datasets","type":"main","index":0}]]},"Compare Datasets":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Split In Batches":{"main":[[{"node":"IF","type":"main","index":0}]]},"IF":{"main":[[{"node":"Set2","type":"main","index":0}],[{"node":"Set1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Set1":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Set2":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"pinData":{},"versionId":"639ee4a8-f724-42e4-8466-ba08e0db313f","triggerCount":0,"tags":[]}