my-workflow-6-1VHOBymSl75CW686.json
{"id":"1VHOBymSl75CW686","createdAt":"2024-01-16T13:40:19.311Z","updatedAt":"2024-01-16T13:40:19.311Z","name":"My workflow 6","active":false,"nodes":[{"parameters":{},"id":"b9a021bb-4f9d-4c9e-8dbb-ffb4f5447d6d","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[460,140]},{"parameters":{"operation":"select","table":{"__rl":true,"value":"SII_BUSINESS","mode":"list","cachedResultName":"SII_BUSINESS"},"where":{"values":[{"column":"RutDv","value":"={{ $json.identificador }}"}]},"options":{}},"id":"0714b049-38e9-4a13-bbf8-1ad2caacb434","name":"MySQL","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[1260,120],"credentials":{"mySql":{"id":"NcTcERDfKkrFRZfc","name":"DAC Jaula "}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"empresas_nombres","mode":"list","cachedResultName":"empresas_nombres"},"limit":12,"options":{}},"id":"c9471610-4ac7-40a5-91fc-279540564345","name":"Postgres","type":"n8n-nodes-base.postgres","typeVersion":2.2,"position":[680,140],"credentials":{"postgres":{"id":"lfpZXUz0qzLZHTuC","name":"ada-extractor-prod"}}},{"parameters":{"batchSize":1,"options":{}},"id":"1c3ea53c-654b-4305-84a3-8f07551de8e5","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[900,140]},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"empresas_nombres","mode":"list","cachedResultName":"empresas_nombres"},"columns":{"mappingMode":"defineBelow","value":{"identificador":"={{ $json.RutDv }}","nombre":"={{ $json.RazonSocial }}","pais":"\"CL\"","created_at":"2024-01-16T03:00:00.000Z","updated_at":"2024-01-16T03:00:00.000Z"},"matchingColumns":["identificador"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"identificador","displayName":"identificador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nombre","displayName":"nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"pais","displayName":"pais","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"created_by_id","displayName":"created_by_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"updated_by_id","displayName":"updated_by_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true}]},"options":{}},"id":"4abcaafa-0d5d-4211-bcd0-24053138a1fa","name":"Postgres1","type":"n8n-nodes-base.postgres","typeVersion":2.2,"position":[1760,140],"credentials":{"postgres":{"id":"lfpZXUz0qzLZHTuC","name":"ada-extractor-prod"}}},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.success }}","value2":"={{ true }}"}]}},"id":"7bc355ab-a8d3-4be9-8840-786e14ca63af","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[1480,120]}],"connections":{"When clicking \"Execute Workflow\"":{"main":[[{"node":"Postgres","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Split In Batches":{"main":[[{"node":"MySQL","type":"main","index":0}]]},"MySQL":{"main":[[{"node":"IF","type":"main","index":0}]]},"Postgres1":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"IF":{"main":[[{"node":"Split In Batches","type":"main","index":0}],[{"node":"Postgres1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"pinData":{},"versionId":"c71b6168-6af9-428a-bdb1-dad4edbfe5c3","triggerCount":0,"tags":[]}