my-workflow-8-S0SnJfj4vBSkMB49.json
{"id":"S0SnJfj4vBSkMB49","createdAt":"2024-01-18T18:31:27.127Z","updatedAt":"2024-01-18T19:47:28.887Z","name":"My workflow 8","active":false,"nodes":[{"parameters":{},"id":"3c6ede55-ec5e-45fd-8aa1-c4e5db7dc7e7","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[120,480]},{"parameters":{"operation":"executeQuery","query":"select sb.RutDv, sb.RazonSocial ,null as Ranking, 0 as GranPagador, \nCASE\n\tWHEN sb.RubroEconomico = \"CONSTRUCCION\" THEN 1     \n\tWHEN sb.RubroEconomico = \"ACTIVIDADES INMOBILIARIAS\" THEN 1     ELSE 0 END as Blocked, 0 as PagadorProntoPago, now() as createdAt , \nCASE     \n\tWHEN sb.RUT  BETWEEN 60000000 and 61999999 THEN \"A+\"     \n\tWHEN sb.RubroEconomico = \"CONSTRUCCION\" THEN \"C\"     \n\tWHEN sb.RubroEconomico = \"ACTIVIDADES INMOBILIARIAS\" THEN \"C\"     \t\n\tWHEN sb.TramoSegunVentas BETWEEN 12 and 13 then \"A+\"     \n\tWHEN sb.TramoSegunVentas BETWEEN 10 and 11 then \"A\"     \n\tWHEN sb.TramoSegunVentas BETWEEN 8 and 9 then \"B+\"     \n\tWHEN sb.TramoSegunVentas BETWEEN 5 and 7 then \"B\"     ELSE \"C\" END    as newRanking\nfrom SII_BUSINESS sb\nleft join CUMPLO_PAYERS cp on cp.RutDv = sb.RutDv  \nwhere cp.RUT is null and  sb.RUT is not null  and sb.RutDv = '{{ $json.rutdv }}'\norder by 1 asc;","options":{}},"id":"d5f43357-bf5f-4669-9efa-43e18b5ff9e1","name":"MySQL","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[1420,640],"credentials":{"mySql":{"id":"NcTcERDfKkrFRZfc","name":"DAC Jaula "}}},{"parameters":{"operation":"executeQuery","query":"SELECT UPPER(det_rut_doc) as rutDv, MAX(det_rzn_soc) as det_rzn_soc\nFROM dtes\nGROUP BY det_rut_doc\nlimit 100;","options":{}},"id":"335b8e4d-0171-480a-8ebc-175bed1ef9a7","name":"Postgres","type":"n8n-nodes-base.postgres","typeVersion":2.2,"position":[480,560],"credentials":{"postgres":{"id":"lfpZXUz0qzLZHTuC","name":"ada-extractor-prod"}}},{"parameters":{"mergeByFields":{"values":[{"field1":"RutDv","field2":"rutdv"}]},"options":{}},"id":"50ce855f-e229-4054-8d88-616b29d1fbc6","name":"Compare Datasets","type":"n8n-nodes-base.compareDatasets","typeVersion":2.2,"position":[740,460]},{"parameters":{"operation":"executeQuery","query":"SELECT UPPER(RutDv) as RutDv,RazonSocial FROM CUMPLO_PAYERS;","options":{}},"id":"799fcb89-431b-443f-a330-9c2eecffff20","name":"MySQL1","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[480,360],"credentials":{"mySql":{"id":"NcTcERDfKkrFRZfc","name":"DAC Jaula "}}},{"parameters":{"table":{"__rl":true,"value":"CUMPLO_PAYERS","mode":"list","cachedResultName":"CUMPLO_PAYERS"},"options":{}},"id":"b9b87616-714f-4b95-b0a2-c965f53b1322","name":"MySQL2","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[1700,640],"credentials":{"mySql":{"id":"NcTcERDfKkrFRZfc","name":"DAC Jaula "}}},{"parameters":{"batchSize":1,"options":{}},"id":"2e2870f8-4dc7-44e6-a483-29ff86bc3964","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[820,660]},{"parameters":{"options":{}},"id":"1edc3f93-74f2-400d-a222-0eea0469aa6a","name":"Set","type":"n8n-nodes-base.set","typeVersion":2,"position":[1040,560]}],"connections":{"When clicking \"Execute Workflow\"":{"main":[[{"node":"Postgres","type":"main","index":0},{"node":"MySQL1","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"Compare Datasets","type":"main","index":1}]]},"Compare Datasets":{"main":[[],[],[],[{"node":"Split In Batches","type":"main","index":0}]]},"MySQL1":{"main":[[{"node":"Compare Datasets","type":"main","index":0}]]},"MySQL":{"main":[[{"node":"MySQL2","type":"main","index":0}]]},"Split In Batches":{"main":[[{"node":"Set","type":"main","index":0}]]},"MySQL2":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Set":{"main":[[{"node":"MySQL","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"none","saveDataSuccessExecution":"none","saveManualExecutions":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"pinData":{},"versionId":"57b0dc88-f8a3-4ba9-bdfd-21aa1561b871","triggerCount":0,"tags":[]}