my-workflow-5-copy-4w017QJSx19fm8ue.json
{"id":"4w017QJSx19fm8ue","createdAt":"2023-12-20T22:49:46.155Z","updatedAt":"2023-12-20T22:51:56.795Z","name":"My workflow 5 copy","active":false,"nodes":[{"parameters":{},"id":"fde3636f-33e1-4ebb-af12-6cb32ac66a80","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-120,-140]},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"empresas","mode":"list","cachedResultName":"empresas"},"returnAll":true,"options":{}},"id":"46286b50-56bf-4d15-bf0d-1a5c3203a081","name":"Postgres","type":"n8n-nodes-base.postgres","typeVersion":2.2,"position":[280,-140],"credentials":{"postgres":{"id":"lfpZXUz0qzLZHTuC","name":"ada-extractor-prod"}}},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"identificador","value":"={{ $json.identificador }}"}]},"options":{}},"id":"ae610177-18a0-4323-9e27-31195cc72661","name":"Set","type":"n8n-nodes-base.set","typeVersion":2,"position":[480,-140]},{"parameters":{"batchSize":1,"options":{}},"id":"040fbbae-6206-4922-967d-4e1ab4ed91a9","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[700,-240]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.cookie.CSESSIONID }}","operation":"isNotEmpty"}]}},"id":"4f3c29f3-5353-4eae-8e30-ce67112e9c14","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[1400,-280]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1v94Qc1n1wTXyiTAksm0I0LNPNJkLCMLJ2iPrkvibtQI","mode":"list","cachedResultName":"MVP DAC JAULA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1v94Qc1n1wTXyiTAksm0I0LNPNJkLCMLJ2iPrkvibtQI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1715668749,"mode":"list","cachedResultName":"bien enrolados","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1v94Qc1n1wTXyiTAksm0I0LNPNJkLCMLJ2iPrkvibtQI/edit#gid=1715668749"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[{"id":"Rut","displayName":"Rut","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"propertyName","displayName":"propertyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}]},"options":{}},"id":"40487801-1ef9-4d1e-ad38-2f81edbd69b7","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[2280,-180],"credentials":{"googleSheetsOAuth2Api":{"id":"8bGWJfHbu4vrInd0","name":"Google Sheets account"}}},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"Rut","value":"={{ $('Split In Batches').item.json.identificador }}"},{"value":"={{ $('HTTP Request').item.json.cookie }}"}]},"options":{}},"id":"91d5f7d2-2ded-4657-a378-c1db9d974104","name":"Set1","type":"n8n-nodes-base.set","typeVersion":2,"position":[1740,-180]},{"parameters":{"amount":5,"unit":"seconds"},"id":"1b7933c9-8b2e-4ff5-b98d-319b8f440367","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1,"position":[1960,-180],"webhookId":"2ff0fd82-c2d8-4f4b-89dd-49333adc8526"},{"parameters":{"method":"POST","url":"https://cumplo.fapro.app/api/v1.0/login","sendQuery":true,"queryParameters":{"parameters":[{"name":"email","value":"api@cumplo.com"},{"name":"password","value":"TKB6Thdmt2WacP3B8z9h"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Accept","value":"application/json"}]},"options":{}},"id":"b4f9cd99-c17a-4dcf-b5cd-68a2363e28a6","name":"LogginFapro","type":"n8n-nodes-base.httpRequest","position":[80,-140],"typeVersion":3},{"parameters":{"url":"https://cumplo.fapro.app/api/v1.0/company/share-of-wallet","sendHeaders":true,"headerParameters":{"parameters":[{"name":"authorization","value":"=Bearer {{ $json[\"data\"][\"accessToken\"] }}"},{"name":"Content-Type","value":"application/json"},{"name":"Accept","value":"application/json"},{"name":"rut","value":"="},{"name":"fecha_inicial","value":"2023-01-01"},{"name":"fecha_final","value":"2023-12-31"}]},"options":{}},"id":"4abc1d8e-4f05-4d28-86ad-3194d71da3cd","name":"GetBusinessLogged","type":"n8n-nodes-base.httpRequest","position":[1040,-380],"typeVersion":3}],"connections":{"When clicking \"Execute Workflow\"":{"main":[[{"node":"LogginFapro","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"Set","type":"main","index":0}]]},"Set":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Split In Batches":{"main":[[{"node":"GetBusinessLogged","type":"main","index":0}]]},"IF":{"main":[[{"node":"Split In Batches","type":"main","index":0}],[{"node":"Set1","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Set1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"LogginFapro":{"main":[[{"node":"Postgres","type":"main","index":0}]]},"GetBusinessLogged":{"main":[[{"node":"IF","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"pinData":{},"versionId":"cd75adea-cb7c-45ec-99a8-e97f2ae92e42","triggerCount":0,"tags":[]}