prospectos-conectadas-3OBcJExIKFDBTyuj.json
{"id":"3OBcJExIKFDBTyuj","createdAt":"2024-12-17T16:01:08.047Z","updatedAt":"2024-12-19T18:17:48.326Z","name":"Prospectos conectadas","active":true,"nodes":[{"parameters":{"path":"e0f7d715-12ad-489f-ac64-64ead99a091f","options":{}},"id":"3ee0fa97-dc1b-42df-a10a-3264dd544b22","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[700,280],"webhookId":"e0f7d715-12ad-489f-ac64-64ead99a091f"},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"1VuKUcy9UEpPqXCenHVLBUIvQQDjAdP-GAVG1u-XJVm0","mode":"list","cachedResultName":"Prospectos Conectados","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VuKUcy9UEpPqXCenHVLBUIvQQDjAdP-GAVG1u-XJVm0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VuKUcy9UEpPqXCenHVLBUIvQQDjAdP-GAVG1u-XJVm0/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Documento tributario":"={{ $('Set').item.json.documento_tributario }}","Nombre Solicitante":"={{ $('Set').item.json.Nombre_solicitante }}","fecha conectado":"={{ $json.formattedDate }}"},"matchingColumns":[],"schema":[{"id":"Documento tributario","displayName":"Documento tributario","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nombre Solicitante","displayName":"Nombre Solicitante","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fecha conectado","displayName":"fecha conectado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{}},"id":"9ea0d106-90a0-48eb-9650-8336f70390d9","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1360,280],"credentials":{"googleApi":{"id":"W6zGdJ4A2Pv7SxQl","name":"GSheets Cumplo"}}},{"parameters":{"jsCode":"const timestamp = $input.first().json.fecha_conectado_v2; // Obtener el timestamp del input JSON\nconst date = new Date(timestamp);\n\n// Formatear la fecha (por ejemplo, dd-mm-yyyy)\nconst formattedDate = `${date.getDate().toString().padStart(2, '0')}-${(date.getMonth() + 1).toString().padStart(2, '0')}-${date.getFullYear()}`;\n\nreturn [\n  {\n    formattedDate: formattedDate, // Enviar la fecha formateada 'dd-mm-yyyy'\n  },\n];\n\n\n"},"id":"4152904f-cd3c-425f-aa01-4fc893bb6940","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[1140,280]},{"parameters":{"values":{"number":[{"name":"fecha_conectado_v2","value":"={{ $json.query.fecha_conectado }}"}],"string":[{"name":"documento_tributario","value":"={{ $json.query.documento_tributario }}"},{"name":"Nombre_solicitante","value":"={{ $json.query.nombre_solicitante }}"}]},"options":{}},"id":"b04ac53d-82bf-4698-b3da-83a76a5c0617","name":"Set","type":"n8n-nodes-base.set","typeVersion":2,"position":[920,280]}],"connections":{"Webhook":{"main":[[{"node":"Set","type":"main","index":0}]]},"Code":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Set":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"pinData":{},"versionId":"11c38137-5827-4286-9ceb-63e4de05134d","triggerCount":1,"tags":[]}