recaudación-chile-09-RVRDOcZG2Cd7Zwah.json
{"id":"RVRDOcZG2Cd7Zwah","createdAt":"2024-06-25T17:59:44.395Z","updatedAt":"2024-06-25T19:57:12.338Z","name":"Recaudación Chile 09","active":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"*/5 8-18 * * 1-5"}]}},"id":"ca622585-cd8a-49c3-b230-ddde0828527d","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[180,240],"typeVersion":1},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1u_lk1qu4BI1t9QCkI4iTBV_WWFz8SzO0fUXDfd6HQ60","mode":"list","cachedResultName":"Recaudación Chile 09","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u_lk1qu4BI1t9QCkI4iTBV_WWFz8SzO0fUXDfd6HQ60/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u_lk1qu4BI1t9QCkI4iTBV_WWFz8SzO0fUXDfd6HQ60/edit#gid=0"},"options":{}},"id":"d8d8053d-d966-40d7-87f7-bce54af37ad8","name":"read","type":"n8n-nodes-base.googleSheets","position":[480,240],"typeVersion":4,"credentials":{"googleApi":{"id":"W6zGdJ4A2Pv7SxQl","name":"GSheets Cumplo"}}},{"parameters":{"operation":"upsert","table":{"__rl":true,"value":"recaudacion_chile09","mode":"list","cachedResultName":"recaudacion_chile09"},"columnToMatchOn":"id_pago","options":{}},"id":"e3755381-9351-4ba7-b39b-1f0d3440e768","name":"MySQL","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[1020,240],"credentials":{"mySql":{"id":"UiW1IbcrksB9QCYW","name":"Kimchi production loans"}}},{"parameters":{"keepOnlySet":true,"values":{"number":[{"name":"id_pago","value":"={{ $json.id_pago }}"},{"name":"row_number","value":"={{ $json.row_number }}"}]},"options":{}},"id":"6f82f97f-0851-4943-bfdf-3b08bd6b8362","name":"Set","type":"n8n-nodes-base.set","typeVersion":2,"position":[760,240]}],"connections":{"Schedule Trigger":{"main":[[{"node":"read","type":"main","index":0}]]},"read":{"main":[[{"node":"Set","type":"main","index":0}]]},"Set":{"main":[[{"node":"MySQL","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]}},"pinData":{},"versionId":"03b96148-b6e7-4f75-ae67-f7be0d75d02a","triggerCount":1,"tags":[]}