revisión_23-08-z8CreOjZOrukXYPl.json
{"id":"z8CreOjZOrukXYPl","createdAt":"2023-08-22T21:12:42.383Z","updatedAt":"2023-08-23T20:59:59.199Z","name":"revisión_23-08","active":false,"nodes":[{"parameters":{"path":"edb39e00-59a9-47f1-8973-ee6bf3bcbc26","options":{}},"id":"fa9aa9e8-7c0d-4f22-adfc-627722a0eb39","name":"Webhook","type":"n8n-nodes-base.webhook","position":[200,480],"webhookId":"c8da7a46-61f4-458e-8c2e-0c73b0bd0fdd","typeVersion":1},{"parameters":{"method":"POST","url":"=https://api.hubapi.com/crm/v3/objects/contacts/search/","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendBody":true,"specifyBody":"json","jsonBody":"={\"filterGroups\":[{\"filters\":[{\"value\":\"{{ $json.company_id}}\",\"propertyName\":\"associations.company\",\"operator\":\"EQ\"}]}],\"sorts\":[\"string\"],\"properties\":[\"rut\"],\"limit\":1,\"after\":0}  ","options":{}},"id":"cf0f1aba-4ded-4be6-a4c3-fdfa5ebde86d","name":"Search Hubspot Company","type":"n8n-nodes-base.httpRequest","position":[600,480],"typeVersion":3,"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"rut_empresa","value":"={{ $json.query.documento_tributario }}"},{"name":"hs_object_id","value":"={{ $json.query.hs_object_id }}"}]},"options":{}},"id":"7acc15aa-4519-4b88-95eb-25b7c984e102","name":"Parsear","type":"n8n-nodes-base.set","position":[400,480],"typeVersion":2},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.total }}","operation":"equal"}]}},"id":"370c37c2-6f7e-4783-b160-ca3e062d74a1","name":"IF","type":"n8n-nodes-base.if","position":[1420,760],"typeVersion":1},{"parameters":{"authentication":"appToken","resource":"company","name":"={{ $node.Code.json.document_number }}","additionalFields":{"customPropertiesUi":{"customPropertiesValues":[{"property":"documento_tributario","value":"={{ $node.Code.json.document_number }}"},{"property":"origen_de_cliente","value":"Always On"},{"property":"registro_always_on","value":"[CL] Always On"},{"property":"estado_empresa","value":"Disponible"}]}}},"id":"6eaa216d-3710-492f-9111-ff3076695081","name":"HubSpot","type":"n8n-nodes-base.hubspot","position":[1480,500],"typeVersion":1,"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"CompanyId","value":"={{ $json.companyId }}"}]},"options":{}},"id":"1f9045ce-2eb8-479d-aab7-340f1c225c56","name":"SetCompanyId","type":"n8n-nodes-base.set","position":[1760,520],"typeVersion":2},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"CompanyId","value":"={{ $json.results[0].id }}"}]},"options":{}},"id":"5c414803-cee7-4d67-af1e-f8f41f753bfa","name":"Set","type":"n8n-nodes-base.set","position":[1580,900],"typeVersion":2},{"parameters":{"method":"PUT","url":"=https://api.hubapi.com/crm/v3/objects/contact/{{ $node.Parsear.json.hs_object_id }}/associations/company/{{ $node.SetCompanyId.json.CompanyId}}/contact_to_company  ","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","options":{"response":{"response":{}}}},"id":"da618e3c-80c3-4b22-809a-01f291f09719","name":"Link contact to company","type":"n8n-nodes-base.httpRequest","position":[1980,500],"typeVersion":3,"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}},{"parameters":{"method":"PUT","url":"=https://api.hubapi.com/crm/v3/objects/contact/{{ $node.Parsear.json.hs_object_id }}/associations/company/{{ $node.IF.json.results[0].id }}/contact_to_company  ","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","options":{"response":{"response":{}}}},"id":"42874a5a-5535-4a40-b8b8-2ba12ec4ef7a","name":"Link contact to company1","type":"n8n-nodes-base.httpRequest","position":[1820,900],"typeVersion":3,"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}},{"parameters":{"authentication":"appToken","resource":"company","operation":"update","companyId":{"__rl":true,"mode":"id","value":"={{ $node.Set.json.CompanyId }}"},"updateFields":{"customPropertiesUi":{"customPropertiesValues":[{"property":"registro_always_on","value":"[CL] Always On"}]}}},"id":"0917ef88-955a-4729-92fb-c37650b1cad4","name":"HubSpot1","type":"n8n-nodes-base.hubspot","position":[2060,900],"typeVersion":2,"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"company_id","value":"={{ $json.results[0].id }}"}]},"options":{}},"id":"37d06d11-2ab1-487a-89d3-64203b7dd029","name":"Set company id","type":"n8n-nodes-base.set","position":[820,460],"typeVersion":2},{"parameters":{"method":"POST","url":"=https://api.hubapi.com/crm/v3/objects/contacts/search/","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendBody":true,"specifyBody":"json","jsonBody":"={\"filterGroups\":[{\"filters\":[{\"value\":\"{{ $json.deal_id}}\",\"propertyName\":\"associations.deal\",\"operator\":\"EQ\"}]}],\"sorts\":[\"string\"],\"properties\":[\"rut\"],\"limit\":2,\"after\":0}  ","options":{}},"id":"05b2d799-51ee-4177-a52a-d1e4ac744884","name":"Search associates contacts","type":"n8n-nodes-base.httpRequest","position":[1060,460],"typeVersion":3,"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}}],"connections":{"IF":{"main":[[{"node":"HubSpot","type":"main","index":0}],[{"node":"Set","type":"main","index":0}]]},"Set":{"main":[[{"node":"Link contact to company1","type":"main","index":0}]]},"HubSpot":{"main":[[{"node":"SetCompanyId","type":"main","index":0}]]},"Parsear":{"main":[[{"node":"Search Hubspot Company","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Parsear","type":"main","index":0}]]},"SetCompanyId":{"main":[[{"node":"Link contact to company","type":"main","index":0}]]},"Search Hubspot Company":{"main":[[{"node":"Set company id","type":"main","index":0}]]},"Link contact to company1":{"main":[[{"node":"HubSpot1","type":"main","index":0}]]},"Set company id":{"main":[[{"node":"Search associates contacts","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"729c1c7d-b8e2-47c1-943c-70e7723317b1","triggerCount":1,"tags":[]}