rotación-ejecutivos-hs-jdigzZejv0CsoCa1.json
{"id":"jdigzZejv0CsoCa1","createdAt":"2024-01-10T18:00:59.580Z","updatedAt":"2024-01-11T14:59:11.254Z","name":"Rotación ejecutivos hs","active":true,"nodes":[{"parameters":{"path":"b049b19f-957d-4696-8904-998758878fe5","options":{}},"id":"6c814090-0aa0-4c5b-b8ad-972258ea8e26","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[700,280],"webhookId":"b049b19f-957d-4696-8904-998758878fe5"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1iEQXi-q6zfJ1HRc3kw1SKFBRxeEmjnz7foFpdwfcemg/edit#gid=0","mode":"url","__regex":"https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1iEQXi-q6zfJ1HRc3kw1SKFBRxeEmjnz7foFpdwfcemg/edit#gid=0"},"options":{}},"id":"c817f581-9e37-4c0b-ba9b-553f36f0dccf","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1140,280],"credentials":{"googleApi":{"id":"W6zGdJ4A2Pv7SxQl","name":"GSheets Cumplo"}}},{"parameters":{"values":{"string":[{"name":"id_ejecutivo","value":"={{ $json.id_hubspot }}"},{"name":"correo_ejecutivo","value":"={{ $json.Ejecutivo }}"}]},"options":{}},"id":"d4ea397c-3293-4696-955c-ac731c0df777","name":"Set","type":"n8n-nodes-base.set","typeVersion":2,"position":[1800,280]},{"parameters":{"operation":"limit"},"id":"928c02f0-6edc-4038-8f3d-39e94516acd4","name":"Seleccionar un ejecutivo","type":"n8n-nodes-base.itemLists","typeVersion":2.2,"position":[1580,280]},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1iEQXi-q6zfJ1HRc3kw1SKFBRxeEmjnz7foFpdwfcemg/edit#gid=0","mode":"url","__regex":"https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1iEQXi-q6zfJ1HRc3kw1SKFBRxeEmjnz7foFpdwfcemg/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Contador":"={{ $('Set').item.json.Contador +1  }}","Ejecutivo":"={{ $('Set').item.json.correo_ejecutivo }}"},"matchingColumns":["Ejecutivo"],"schema":[{"id":"Ejecutivo","displayName":"Ejecutivo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"id_hubspot","displayName":"id_hubspot","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Contador","displayName":"Contador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"portalId","displayName":"portalId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"companyId","displayName":"companyId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"isDeleted","displayName":"isDeleted","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"properties","displayName":"properties","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"additionalDomains","displayName":"additionalDomains","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"stateChanges","displayName":"stateChanges","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"mergeAudits","displayName":"mergeAudits","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}]},"options":{}},"id":"c6f8caff-86fc-4cfc-8870-2abacb4be22f","name":"Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[2340,280],"credentials":{"googleApi":{"id":"W6zGdJ4A2Pv7SxQl","name":"GSheets Cumplo"}}},{"parameters":{"authentication":"appToken","resource":"company","operation":"update","companyId":{"__rl":true,"value":"={{ $('Set_company_id').item.json.company_id }}","mode":"id"},"updateFields":{"companyOwner":"={{ $json.id_ejecutivo }}"}},"id":"a58ae33c-d3ba-4f81-8a1b-d7fa591c0d37","name":"HubSpot","type":"n8n-nodes-base.hubspot","typeVersion":2,"position":[2060,280],"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}},{"parameters":{"values":{"number":[{"name":"company_id","value":"={{ $json.query.hs_object_id }}"}]},"options":{}},"id":"5b274245-4cf8-49f2-a789-d2a9aadbbe1e","name":"Set_company_id","type":"n8n-nodes-base.set","typeVersion":2,"position":[920,280]},{"parameters":{"operation":"sort","sortFieldsUi":{"sortField":[{"fieldName":"Contador"}]},"options":{}},"id":"d2c143d3-1a75-4f2e-b716-24f7bdaba24f","name":"Ordenar lista","type":"n8n-nodes-base.itemLists","typeVersion":2.2,"position":[1360,280]}],"connections":{"Webhook":{"main":[[{"node":"Set_company_id","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Ordenar lista","type":"main","index":0}]]},"Seleccionar un ejecutivo":{"main":[[{"node":"Set","type":"main","index":0}]]},"Set":{"main":[[{"node":"HubSpot","type":"main","index":0}]]},"HubSpot":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Set_company_id":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Ordenar lista":{"main":[[{"node":"Seleccionar un ejecutivo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"pinData":{},"versionId":"b911bf93-3d5f-4ee4-9422-901e489b6790","triggerCount":1,"tags":[]}