test-gRJToVt5ZSQDIRis.json
{"id":"gRJToVt5ZSQDIRis","createdAt":"2024-12-10T19:51:40.041Z","updatedAt":"2024-12-10T19:51:40.041Z","name":"test","active":false,"nodes":[{"parameters":{"path":"edb39e00-59a9-47f1-8973-ee6bf3bcbc224962","options":{}},"id":"f389475f-26fe-47c6-a531-9195f61545b4","name":"Webhook","type":"n8n-nodes-base.webhook","position":[260,180],"webhookId":"3dd61429-414c-43e7-b680-59c752929cc0","typeVersion":1},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"numero_telefono","value":"={{ $json.query.phone }}"},{"name":"email","value":"={{ $json.query.email }}"},{}]},"options":{}},"id":"e82349b9-2542-46ee-a7f8-f163f69b6e5c","name":"Parsear","type":"n8n-nodes-base.set","position":[540,180],"typeVersion":2},{"parameters":{"authentication":"appToken","email":"={{ $json.email }}","additionalFields":{"phoneNumber":"={{ $json.phone }}"},"options":{"resolveData":false}},"id":"5bf1ff46-d8d0-4c60-a263-2f80a7e8ecc9","name":"HubSpot2","type":"n8n-nodes-base.hubspot","typeVersion":2,"position":[1000,180],"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}},{"parameters":{"jsCode":"const documentoTributario = $input.first().json.numero_telefono;\nconst hsObjectId = $input.first().json.email;\n\n// Limpieza inicial del número\nconst numeroLimpio = documentoTributario\n  .replace(/\\./g, '')\n  .replace(/-/g, '')\n  .replace(/\\(/g, '')\n  .replace(/\\)/g, '')\n  .replace(/ /g, '');\n\n// Normalización: si el número tiene 9 dígitos o más, toma los últimos 9; de lo contrario, asigna \"0\".\nconst numero = numeroLimpio.length >= 9 \n  ? numeroLimpio.slice(-9)  // Toma los últimos 9 caracteres\n  : \"0\";\n\n// Agregar el prefijo +56 al número\nconst numeroConCodigoPais = numero !== \"0\" \n  ? `+56${numero}` \n  : \"0\";\n\n// Imprime el número con el código del país\nconsole.log(numeroConCodigoPais);\n\n// Retorna el objeto con los datos procesados\nreturn {\n  \"phone\": numeroConCodigoPais,\n  \"email\": hsObjectId\n};"},"id":"a4be40e7-ccbe-4dc1-a78f-5b5b10f03736","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[760,180]}],"connections":{"Parsear":{"main":[[{"node":"Code","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Parsear","type":"main","index":0}]]},"Code":{"main":[[{"node":"HubSpot2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"pinData":{},"versionId":"2b81ed9b-c530-4e51-98ca-38e514c1449f","triggerCount":1,"tags":[]}