to_complete_ids-GCSMObohu3q2Q6ny.json
{"id":"GCSMObohu3q2Q6ny","createdAt":"2024-04-16T13:35:17.261Z","updatedAt":"2024-04-16T13:35:17.261Z","name":"To_Complete_Ids","active":false,"nodes":[{"parameters":{"mode":"combine","mergeByFields":{"values":[{"field1":"loan_id","field2":"id"}]},"options":{}},"id":"69b43aae-6215-4d47-a3c6-8b31b60d99de","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1400,-80]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1tH820rUc8ol2nf4UD5zJYfKQdvUFIFyRwiYkkoJzD0Q","mode":"url","__regex":"https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tH820rUc8ol2nf4UD5zJYfKQdvUFIFyRwiYkkoJzD0Q/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"LOAN_ID":"={{ $json.loan_id }}","OPERATION_ID":"={{ $json.operation_id }}","REAL_PAYMENT_DAY":"={{ $json.pay_date }}","UPDATE_DAY":"={{ $now.toISO() }}"},"matchingColumns":["LOAN_ID"],"schema":[{"id":"LOAN_ID","displayName":"LOAN_ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"OPERATION_ID","displayName":"OPERATION_ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"REAL_PAYMENT_DAY","displayName":"REAL_PAYMENT_DAY","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UPDATE_DAY","displayName":"UPDATE_DAY","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{}},"id":"19c5d3c2-4853-4676-b67a-377ffae16451","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1680,60],"credentials":{"googleSheetsOAuth2Api":{"id":"8bGWJfHbu4vrInd0","name":"Google Sheets account"}}},{"parameters":{"operation":"update","table":{"__rl":true,"value":"srm_invoices","mode":"list","cachedResultName":"srm_invoices"},"dataMode":"defineBelow","columnToMatchOn":"operation_id","valueToMatchOn":"={{ $json.operation_id }}","valuesToSend":{"values":[{"column":"fecha_pago_real","value":"={{ $json.pay_date }}"}]},"options":{}},"id":"1fc60ed0-777b-48c5-baf5-efa6a8d2bf63","name":"MySQL3","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[1680,-160],"credentials":{"mySql":{"id":"iO0TJHhdOEyQJN7H","name":"Admin CL Write"}}},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 16 * * *"}]}},"id":"e8355cca-4983-4ecf-983f-53c47de51488","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[340,-60]},{"parameters":{"operation":"executeQuery","query":"SELECT id, operation_id FROM api_loan_common.loans_loan where operation_id = {{ $json.operation_id }} and state in ('paid','delayed')","options":{}},"id":"fc24352a-b616-437f-b9e5-fc3c78c24568","name":"MySQL4","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[1000,-60],"credentials":{"mySql":{"id":"UiW1IbcrksB9QCYW","name":"Kimchi production loans"}}},{"parameters":{"operation":"executeQuery","query":"SELECT loan_id, pay_date FROM api_loan_common.loans_payment lp where loan_id = {{ $json.id }} and pay_date is not null","options":{}},"id":"49f73813-757b-4290-806e-b23a7f6b1427","name":"MySQL","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[1180,-240],"credentials":{"mySql":{"id":"UiW1IbcrksB9QCYW","name":"Kimchi production loans"}}},{"parameters":{"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1MMnEcsWmvpJVDys8WID0CvrM-0ty2vvnqpgLm1NGiRo/edit#gid=0","mode":"url","__regex":"https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MMnEcsWmvpJVDys8WID0CvrM-0ty2vvnqpgLm1NGiRo/edit#gid=0"},"options":{}},"id":"1f1a2bd1-b651-4329-adaf-a46b657a4aa0","name":"Google Sheets1","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[480,-60],"credentials":{"googleSheetsOAuth2Api":{"id":"8bGWJfHbu4vrInd0","name":"Google Sheets account"}}},{"parameters":{"operation":"summarize","fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"NO_MARCABLE_ID"}]},"options":{}},"id":"03af948a-4865-47f3-b371-8f49cbefdb98","name":"Item Lists","type":"n8n-nodes-base.itemLists","typeVersion":2.2,"position":[640,-60]},{"parameters":{"operation":"executeQuery","query":"SELECT operation_id, fecha_pago_real FROM cumplo_db_dwh.srm_invoices si where fecha_pago_real is NULL and operation_id not in ({{ $json.concatenated_NO_MARCABLE_ID }}) and not tipo_producto = 'Grandes Pagadores'","options":{}},"id":"f9f0aa3c-5844-458d-ac87-4efbba5bea7c","name":"MySQL5","type":"n8n-nodes-base.mySql","typeVersion":2.1,"position":[820,-60],"credentials":{"mySql":{"id":"iO0TJHhdOEyQJN7H","name":"Admin CL Write"}}}],"connections":{"Merge":{"main":[[{"node":"Google Sheets","type":"main","index":0},{"node":"MySQL3","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"MySQL4":{"main":[[{"node":"MySQL","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"MySQL":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Item Lists","type":"main","index":0}]]},"Item Lists":{"main":[[{"node":"MySQL5","type":"main","index":0}]]},"MySQL5":{"main":[[{"node":"MySQL4","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveExecutionProgress":false,"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]}},"pinData":{},"versionId":"6c9ff5dc-0cb0-4c33-bb92-122f8f129357","triggerCount":1,"tags":[]}