tracker-perú-WcDLNXbpb0yYIpoE.json
{"id":"WcDLNXbpb0yYIpoE","createdAt":"2023-10-02T17:14:33.900Z","updatedAt":"2023-10-02T17:14:33.900Z","name":"Tracker Perú","active":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"id":"55cba30d-886e-4ea0-8699-43d1f8c7f434","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[460,360],"typeVersion":1},{"parameters":{"operation":"deleteTable","table":{"__rl":true,"value":"investor_classification","mode":"list","cachedResultName":"investor_classification"},"options":{}},"id":"f15c8982-7ed5-4e2a-b2c8-37bceacb228a","name":"truncate","type":"n8n-nodes-base.mySql","position":[700,360],"typeVersion":2.1,"credentials":{"mySql":{"id":"V4bG9Qr3y7I0v2Rf","name":"Datawarehouse"}}},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1a_xPTHh2FtMYiUTrFewvwjpeFwuf1v6_C09YVpM0CsE","mode":"list","cachedResultName":"Fondos y semifondos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1a_xPTHh2FtMYiUTrFewvwjpeFwuf1v6_C09YVpM0CsE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"fondos y semifondos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1a_xPTHh2FtMYiUTrFewvwjpeFwuf1v6_C09YVpM0CsE/edit#gid=0"},"options":{}},"id":"82002518-d8e4-4b91-bdff-e891d2d1c3fe","name":"read","type":"n8n-nodes-base.googleSheets","position":[900,360],"typeVersion":4,"credentials":{"googleApi":{"id":"W6zGdJ4A2Pv7SxQl","name":"GSheets Cumplo"}}},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"document_number","value":"={{ $json.numero_documento }}"},{"name":"category","value":"={{ $json.categoria }}"},{"name":"name","value":"={{ $json.nombre }}"},{"name":"platform","value":"={{ $json.plataforma }}"}]},"options":{}},"id":"d7af7bf1-0a8f-41e8-9ccf-2830ec94bcc6","name":"prepare","type":"n8n-nodes-base.set","position":[1100,360],"typeVersion":2},{"parameters":{"table":{"__rl":true,"value":"investor_classification","mode":"list","cachedResultName":"investor_classification"},"options":{}},"id":"d82449ef-55d9-4cc4-8bba-363cdb47055f","name":"insert","type":"n8n-nodes-base.mySql","position":[1300,360],"typeVersion":2.1,"credentials":{"mySql":{"id":"V4bG9Qr3y7I0v2Rf","name":"Datawarehouse"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"truncate","type":"main","index":0}]]},"truncate":{"main":[[{"node":"read","type":"main","index":0}]]},"read":{"main":[[{"node":"prepare","type":"main","index":0}]]},"prepare":{"main":[[{"node":"insert","type":"main","index":0}]]}},"settings":{"saveDataErrorExecution":"none","saveDataSuccessExecution":"none","saveManualExecutions":false,"callerPolicy":"workflowsFromSameOwner","executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]}},"pinData":{},"versionId":"ed23e72e-9ef7-4a29-bcb8-20b42c0733ca","triggerCount":1,"tags":[{"id":"v25eD48xihLAmSfO","createdAt":"2023-07-14T19:51:55.716Z","updatedAt":"2023-07-14T19:51:55.716Z","name":"bi"}]}