update-hubspot-sii-from-cage-bXZWAqgOzhNG0eFz.json
{"id":"bXZWAqgOzhNG0eFz","createdAt":"2024-03-20T12:12:30.641Z","updatedAt":"2024-03-20T12:35:23.512Z","name":"UPDATE HUBSPOT SII FROM CAGE","active":false,"nodes":[{"parameters":{"conditions":{"string":[{"value1":"={{ $json.is_valid }}","operation":"contains","value2":"false"}]}},"id":"8254cf42-726a-4a02-81ca-838d8dc1b667","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[740,-140]},{"parameters":{"url":"=https://suvjibemry.us-west-2.awsapprunner.com/api/empresas/updateEmpresaInactivo/{{ $json.document_numbers }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 4c453a9475b6a6ff528893626c7b6e732770171e8cdb16bf7d699ce77d3ac34abaf110fc20f6e02eb2a79984dfa58b15eddc0722046940c324731fb373eb4143bba777974cc71e3d91628e7e53a9b7ba121719e8c7361085a9f2078a1d91d17c5c97686d511885398f5d701a1aaba039da573f73c03237e75c394f2602f06b2c"}]},"options":{}},"id":"9e22b90d-7ad2-4049-a10e-b9eb834038c7","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1060,60]},{"parameters":{"authentication":"appToken","resource":"company","operation":"get","companyId":"={{ $json.results[0].id }}","additionalFields":{}},"id":"babcc64b-fe2e-49ad-aec4-5779b9aef7bd","name":"GetCompanyHubspot","type":"n8n-nodes-base.hubspot","position":[1340,-280],"typeVersion":1,"credentials":{"hubspotAppToken":{"id":"e8QkvMGzjnAa7Q0k","name":"TokenHubspot(n8n_test)"}}},{"parameters":{"authentication":"appToken","resource":"company","operation":"update","companyId":"={{ $json.companyId }}","updateFields":{"customPropertiesUi":{"customPropertiesValues":[{"property":"estado_enroladmiento_fapro","value":"Activo"}]}}},"id":"83acc8b4-3db4-43ee-b1b5-97ab8999f367","name":"HubSpot","type":"n8n-nodes-base.hubspot","position":[1540,-280],"typeVersion":1,"credentials":{"hubspotAppToken":{"id":"e8QkvMGzjnAa7Q0k","name":"TokenHubspot(n8n_test)"}}},{"parameters":{"method":"POST","url":"=https://api.hubapi.com/crm/v3/objects/companies/search/","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendBody":true,"specifyBody":"json","jsonBody":"={\"filterGroups\":[{\"filters\":[{\"value\":\"{{ $node['Split In Batches'].json.identificador }}\",\"propertyName\":\"documento_tributario\",\"operator\":\"EQ\"}]}],\"sorts\":[\"string\"],\"properties\":[\"rut\"],\"limit\":1,\"after\":0}   ","options":{}},"id":"583c2c4b-3227-4d61-9eb4-0a285b828520","name":"Search Hubspot Company","type":"n8n-nodes-base.httpRequest","position":[1060,-280],"typeVersion":3,"credentials":{"hubspotAppToken":{"id":"e8QkvMGzjnAa7Q0k","name":"TokenHubspot(n8n_test)"}}},{"parameters":{"authentication":"appToken","resource":"company","operation":"get","companyId":"={{ $json.results[0].id }}","additionalFields":{}},"id":"54ba2ae5-7a7f-4410-9dc9-59515058a1d2","name":"GetCompanyHubspot1","type":"n8n-nodes-base.hubspot","position":[1560,60],"typeVersion":1,"credentials":{"hubspotAppToken":{"id":"e8QkvMGzjnAa7Q0k","name":"TokenHubspot(n8n_test)"}}},{"parameters":{"authentication":"appToken","resource":"company","operation":"update","companyId":"={{ $json.companyId }}","updateFields":{"customPropertiesUi":{"customPropertiesValues":[{"property":"estado_enroladmiento_fapro","value":"Credencial Incorrecta"}]}}},"id":"76e7e37f-c52e-451c-806a-d604e433b8bc","name":"HubSpot1","type":"n8n-nodes-base.hubspot","position":[1780,60],"typeVersion":1,"credentials":{"hubspotAppToken":{"id":"e8QkvMGzjnAa7Q0k","name":"TokenHubspot(n8n_test)"}}},{"parameters":{"method":"POST","url":"=https://api.hubapi.com/crm/v3/objects/companies/search/","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendBody":true,"specifyBody":"json","jsonBody":"={\"filterGroups\":[{\"filters\":[{\"value\":\"{{ $node['Split In Batches'].json.document_numbers }}\",\"propertyName\":\"documento_tributario\",\"operator\":\"EQ\"}]}],\"sorts\":[\"string\"],\"properties\":[\"rut\"],\"limit\":1,\"after\":0}   ","options":{}},"id":"685b5373-8395-43ee-8717-fb9c58deb497","name":"Search Hubspot Company1","type":"n8n-nodes-base.httpRequest","position":[1360,60],"typeVersion":3,"credentials":{"hubspotAppToken":{"id":"e8QkvMGzjnAa7Q0k","name":"TokenHubspot(n8n_test)"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"id":"2165c478-24dd-4c00-8e31-c3af512d3b54","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-20,-120]},{"parameters":{"url":"https://thecage.production.cumplo.com/claves_sii/","options":{}},"id":"71d10b3b-2140-44c3-b971-4e4703e29c14","name":"HTTP Request2","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[200,-120]},{"parameters":{"batchSize":1,"options":{}},"id":"8ff70407-8ff0-442b-8ae1-896c227888fe","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[420,-120]}],"connections":{"IF":{"main":[[{"node":"Search Hubspot Company","type":"main","index":0}],[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Search Hubspot Company1","type":"main","index":0}]]},"GetCompanyHubspot":{"main":[[{"node":"HubSpot","type":"main","index":0}]]},"HubSpot":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Search Hubspot Company":{"main":[[{"node":"GetCompanyHubspot","type":"main","index":0}]]},"GetCompanyHubspot1":{"main":[[{"node":"HubSpot1","type":"main","index":0}]]},"Search Hubspot Company1":{"main":[[{"node":"GetCompanyHubspot1","type":"main","index":0}]]},"HubSpot1":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Split In Batches":{"main":[[{"node":"IF","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"pinData":{},"versionId":"72096d1d-d087-4b13-99c2-b0ec535e8e71","triggerCount":0,"tags":[]}