workflow-asociación-bog-empresa--contacto-copy-SMGFGtMZ4wugcNad.json
{"id":"SMGFGtMZ4wugcNad","createdAt":"2024-11-26T20:39:38.860Z","updatedAt":"2024-11-26T20:39:38.860Z","name":"Workflow Asociación BOG empresa -contacto copy","active":false,"nodes":[{"parameters":{"path":"edb39e00-59a9-47f1-8973-ee6bf3bcbc77","options":{}},"id":"5d0c2a86-772a-4ef9-9dd1-224049042f3e","name":"Webhook","type":"n8n-nodes-base.webhook","position":[340,560],"webhookId":"92662f63-71de-4ca7-8437-fe3cedf0ea6a","typeVersion":1},{"parameters":{"method":"POST","url":"=https://api.hubapi.com/crm/v3/objects/companies/search/","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendBody":true,"specifyBody":"json","jsonBody":"={\"filterGroups\":[{\"filters\":[{\"value\":\"{{ $json.deal_id }}\",\"propertyName\":\"associations.deal\",\"operator\":\"EQ\"}]}],\"sorts\":[\"string\"],\"properties\":[\"rut\"],\"limit\":1,\"after\":0}  ","options":{}},"id":"8b3f5c42-0643-4417-b834-4480ab9cd8aa","name":"Search Hubspot Company","type":"n8n-nodes-base.httpRequest","position":[980,520],"typeVersion":3,"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"contact_id","value":"={{ $json.results[0].properties.hs_object_id }}"}]},"options":{"dotNotation":true}},"id":"8b927399-03da-4031-8336-ae9395b241aa","name":"Set_Contact_id","type":"n8n-nodes-base.set","position":[1220,700],"typeVersion":2},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"rut_negocio","value":"={{ $json.query.documento_tributario }}"},{"name":"deal_id","value":"={{ $json.query.hs_object_id }}"}]},"options":{}},"id":"d7546a39-adb5-45ff-a981-a3baab0ec96d","name":"Set_rut_negocio","type":"n8n-nodes-base.set","position":[540,560],"typeVersion":2},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"company_id","value":"={{ $json.results[0].id }}"},{"name":"hs_owner_id","value":"={{ $json.query.hubspot_owner_id }}"}]},"options":{}},"id":"a02304cd-77d8-4f19-9811-69b41a577312","name":"Set_company_id","type":"n8n-nodes-base.set","position":[1220,540],"typeVersion":2},{"parameters":{"method":"POST","url":"=https://api.hubapi.com/crm/v3/objects/contacts/search/","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendBody":true,"specifyBody":"json","jsonBody":"={\"filterGroups\":[{\"filters\":[{\"value\":\"{{ $json.deal_id }}\",\"propertyName\":\"associations.deal\",\"operator\":\"EQ\"}]}],\"sorts\":[\"string\"],\"properties\":[\"rut\"],\"limit\":1,\"after\":0}  ","options":{}},"id":"3bc8f3df-053e-4c87-9ec2-a7215e6852cc","name":"Search Hubspot Company1","type":"n8n-nodes-base.httpRequest","position":[980,700],"typeVersion":3,"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}},{"parameters":{"mode":"combine","combinationMode":"mergeByPosition","options":{}},"id":"eb442cfe-2b98-4fa8-9ba6-874757931a24","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1500,580]},{"parameters":{"method":"PUT","url":"=https://api.hubapi.com/crm/v3/objects/contact/{{ $json[\"contact_id\"] }}/associations/company/{{$json[\"company_id\"] }}/contact_to_company","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","options":{}},"id":"d5d97421-78ef-42f4-8825-4bcdf6f95a33","name":"Link Contact to company","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1780,560],"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}},{"parameters":{"unit":"minutes"},"id":"7008bb49-4e3a-4090-8c00-dd08c7667462","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1,"position":[720,560],"webhookId":"900d8bb4-6a9d-472d-8441-5617c6378756"}],"connections":{"Webhook":{"main":[[{"node":"Set_rut_negocio","type":"main","index":0}]]},"Search Hubspot Company":{"main":[[{"node":"Set_company_id","type":"main","index":0}]]},"Set_Contact_id":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Set_rut_negocio":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Set_company_id":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Search Hubspot Company1":{"main":[[{"node":"Set_Contact_id","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Link Contact to company","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Search Hubspot Company","type":"main","index":0},{"node":"Search Hubspot Company1","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"a0d9a9a6-7d2d-4b43-acd3-94d74583d67b","triggerCount":1,"tags":[]}