workflow-negocio-pp-asociación-XQWCxhFXI9hGIMz3.json
{"id":"XQWCxhFXI9hGIMz3","createdAt":"2023-08-03T20:18:43.524Z","updatedAt":"2024-02-20T15:28:54.470Z","name":"Workflow Negocio PP Asociación","active":true,"nodes":[{"parameters":{"path":"edb39e00-59a9-47f1-8973-ee6bf3bcbc27","options":{}},"id":"39fb532a-0037-4247-baed-8f2021e8de89","name":"Webhook","type":"n8n-nodes-base.webhook","position":[340,560],"webhookId":"60eb4171-3781-4d80-a200-58537e581ad7","typeVersion":1},{"parameters":{"method":"POST","url":"=https://api.hubapi.com/crm/v3/objects/companies/search/","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendBody":true,"specifyBody":"json","jsonBody":"={\"filterGroups\":[{\"filters\":[{\"value\":\"{{ $json.deal_id }}\",\"propertyName\":\"associations.deal\",\"operator\":\"EQ\"}]}],\"sorts\":[\"string\"],\"properties\":[\"rut\"],\"limit\":1,\"after\":0}  ","options":{}},"id":"018458bd-b2cb-4232-972f-c19563d5a51a","name":"Search Hubspot Company","type":"n8n-nodes-base.httpRequest","position":[760,560],"typeVersion":3,"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}},{"parameters":{"method":"PUT","url":"=https://api.hubapi.com/crm/v3/objects/contact/{{ $node.Set_Contact_id.json.contact_id_0}}/associations/deal/{{ $node[\"Set_rut_negocio\"].json.deal_id}}/contact_to_deal ","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","options":{}},"id":"b81b9dfb-e2ea-488f-91e6-a0bbfe25d6f5","name":"Link Contact to deal","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2180,600],"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"contact_id_0","value":"={{ $json.results[0].id }}"}],"number":[{"name":"contact_id_1","value":"={{ $json.results[1].id }}"},{"name":"contact_id_2","value":"={{ $json.results[2].id }}"},{"name":"contact_id_3","value":"={{ $json.results[3].id }}"},{"name":"contact_id_4","value":"={{ $json.results[4].id }}"}]},"options":{"dotNotation":true}},"id":"4f2334cd-2215-482c-b4aa-651e8f2a0892","name":"Set_Contact_id","type":"n8n-nodes-base.set","position":[1940,600],"typeVersion":2},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"rut_negocio","value":"={{ $json.query.documento_tributario }}"},{"name":"deal_id","value":"={{ $json.query.hs_object_id }}"}]},"options":{}},"id":"180ea17d-73d9-4d75-bea1-c86a567f3a57","name":"Set_rut_negocio","type":"n8n-nodes-base.set","position":[540,560],"typeVersion":2},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.total }}","operation":"equal"}]}},"id":"96f9540c-224d-4f09-b4b3-42d915fa1453","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[960,560]},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.total }}","operation":"equal"}]}},"id":"1425b195-f5be-4bfc-b695-bdb381b16de7","name":"IF1","type":"n8n-nodes-base.if","typeVersion":1,"position":[1700,580]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"company_id","value":"={{ $json.results[0].id }}"},{"name":"hs_owner_id","value":"={{ $json.query.hubspot_owner_id }}"}]},"options":{}},"id":"39d1db6f-d12c-490e-8bc7-96da4f59aa3b","name":"Set_company_id","type":"n8n-nodes-base.set","position":[1220,580],"typeVersion":2},{"parameters":{"method":"POST","url":"=https://api.hubapi.com/crm/v3/objects/contacts/search/","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendBody":true,"specifyBody":"json","jsonBody":"={\"filterGroups\":[{\"filters\":[{\"value\":\"{{ $json.company_id}}\",\"propertyName\":\"associations.company\",\"operator\":\"EQ\"}]}],\"sorts\":[\"string\"],\"properties\":[\"rut\"],\"limit\":5,\"after\":0}  ","options":{}},"id":"ebe419ad-a210-43ae-a912-ea52cda56307","name":"Search_associates_Contacts","type":"n8n-nodes-base.httpRequest","position":[1460,580],"typeVersion":3,"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}},{"parameters":{"method":"PUT","url":"=https://api.hubapi.com/crm/v3/objects/contact/{{ $node.Set_Contact_id.json.contact_id_1}}/associations/deal/{{ $node[\"Set_rut_negocio\"].json.deal_id}}/contact_to_deal ","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","options":{}},"id":"9b49b1b3-d8fd-4076-88a9-e3acf2430c31","name":"Link Contact to deal1","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2420,600],"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}},{"parameters":{"method":"PUT","url":"=https://api.hubapi.com/crm/v3/objects/contact/{{ $node.Set_Contact_id.json.contact_id_2}}/associations/deal/{{ $node[\"Set_rut_negocio\"].json.deal_id}}/contact_to_deal ","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","options":{}},"id":"2214036c-f71b-4a4f-bd11-4a22f6f82826","name":"Link Contact to deal2","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2660,600],"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}},{"parameters":{"method":"PUT","url":"=https://api.hubapi.com/crm/v3/objects/contact/{{ $node.Set_Contact_id.json.contact_id_3}}/associations/deal/{{ $node[\"Set_rut_negocio\"].json.deal_id}}/contact_to_deal ","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","options":{}},"id":"286591dc-968c-4273-94bb-7a2561d00032","name":"Link Contact to deal3","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2900,600],"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}},{"parameters":{"method":"PUT","url":"=https://api.hubapi.com/crm/v3/objects/contact/{{ $node.Set_Contact_id.json.contact_id_4}}/associations/deal/{{ $node[\"Set_rut_negocio\"].json.deal_id}}/contact_to_deal ","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","options":{}},"id":"65a0a369-32d6-4483-b3d5-87589fc3523f","name":"Link Contact to deal4","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[3160,600],"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}}],"connections":{"Webhook":{"main":[[{"node":"Set_rut_negocio","type":"main","index":0}]]},"Search Hubspot Company":{"main":[[{"node":"IF","type":"main","index":0}]]},"Set_Contact_id":{"main":[[{"node":"Link Contact to deal","type":"main","index":0}]]},"Set_rut_negocio":{"main":[[{"node":"Search Hubspot Company","type":"main","index":0}]]},"IF":{"main":[[],[{"node":"Set_company_id","type":"main","index":0}]]},"IF1":{"main":[[],[{"node":"Set_Contact_id","type":"main","index":0}]]},"Link Contact to deal":{"main":[[{"node":"Link Contact to deal1","type":"main","index":0}]]},"Set_company_id":{"main":[[{"node":"Search_associates_Contacts","type":"main","index":0}]]},"Search_associates_Contacts":{"main":[[{"node":"IF1","type":"main","index":0}]]},"Link Contact to deal1":{"main":[[{"node":"Link Contact to deal2","type":"main","index":0}]]},"Link Contact to deal2":{"main":[[{"node":"Link Contact to deal3","type":"main","index":0}]]},"Link Contact to deal3":{"main":[[{"node":"Link Contact to deal4","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"560e90ae-9b78-4b4d-9ae0-2550d0092e3e","triggerCount":1,"tags":[]}