workflow-asociación-bog-empresa--contacto-WEqnZlbdiN0jJywu.json
{"id":"WEqnZlbdiN0jJywu","createdAt":"2024-11-22T18:33:19.439Z","updatedAt":"2024-11-22T19:48:44.825Z","name":"Workflow Asociación BOG empresa -contacto","active":true,"nodes":[{"parameters":{"path":"edb39e00-59a9-47f1-8973-ee6bf3bcbc77","options":{}},"id":"ff832aec-59d5-4650-b447-24c72eb06403","name":"Webhook","type":"n8n-nodes-base.webhook","position":[340,560],"webhookId":"b7e9269a-c728-444b-aafb-a34dbe3a5e38","typeVersion":1},{"parameters":{"method":"POST","url":"=https://api.hubapi.com/crm/v3/objects/companies/search/","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendBody":true,"specifyBody":"json","jsonBody":"={\"filterGroups\":[{\"filters\":[{\"value\":\"{{ $json.deal_id }}\",\"propertyName\":\"associations.deal\",\"operator\":\"EQ\"}]}],\"sorts\":[\"string\"],\"properties\":[\"rut\"],\"limit\":1,\"after\":0}  ","options":{}},"id":"c1620fcf-b84e-4577-9c5f-310eed0f7dcf","name":"Search Hubspot Company","type":"n8n-nodes-base.httpRequest","position":[760,520],"typeVersion":3,"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"contact_id","value":"={{ $json.results[0].properties.hs_object_id }}"}]},"options":{"dotNotation":true}},"id":"4a2e59b9-e022-4c77-bf85-02d2050ae879","name":"Set_Contact_id","type":"n8n-nodes-base.set","position":[1000,700],"typeVersion":2},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"rut_negocio","value":"={{ $json.query.documento_tributario }}"},{"name":"deal_id","value":"={{ $json.query.hs_object_id }}"}]},"options":{}},"id":"66f407e5-2a05-4fd2-b5ba-1d09c269650f","name":"Set_rut_negocio","type":"n8n-nodes-base.set","position":[540,560],"typeVersion":2},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"company_id","value":"={{ $json.results[0].id }}"},{"name":"hs_owner_id","value":"={{ $json.query.hubspot_owner_id }}"}]},"options":{}},"id":"64763adf-a0dc-417e-acf7-e07d4fdfa9fe","name":"Set_company_id","type":"n8n-nodes-base.set","position":[1000,540],"typeVersion":2},{"parameters":{"method":"POST","url":"=https://api.hubapi.com/crm/v3/objects/contacts/search/","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","sendBody":true,"specifyBody":"json","jsonBody":"={\"filterGroups\":[{\"filters\":[{\"value\":\"{{ $json.deal_id }}\",\"propertyName\":\"associations.deal\",\"operator\":\"EQ\"}]}],\"sorts\":[\"string\"],\"properties\":[\"rut\"],\"limit\":1,\"after\":0}  ","options":{}},"id":"a1f336ce-f431-4b4e-99ee-3d9b1761bf39","name":"Search Hubspot Company1","type":"n8n-nodes-base.httpRequest","position":[760,700],"typeVersion":3,"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}},{"parameters":{"mode":"combine","combinationMode":"mergeByPosition","options":{}},"id":"9c0d5b49-db28-4f3d-a49b-5a66c37d75c7","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1280,580]},{"parameters":{"method":"PUT","url":"=https://api.hubapi.com/crm/v3/objects/contact/{{ $json[\"contact_id\"] }}/associations/company/{{$json[\"company_id\"] }}/contact_to_company","authentication":"predefinedCredentialType","nodeCredentialType":"hubspotAppToken","options":{}},"id":"ace5200a-fc1e-45dd-964f-0df187eb3b9e","name":"Link Contact to company","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1560,560],"credentials":{"hubspotAppToken":{"id":"Vu8F5k5I6MouVG5V","name":"Instancia nodemation Hubspot app token"}}}],"connections":{"Webhook":{"main":[[{"node":"Set_rut_negocio","type":"main","index":0}]]},"Search Hubspot Company":{"main":[[{"node":"Set_company_id","type":"main","index":0}]]},"Set_Contact_id":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Set_rut_negocio":{"main":[[{"node":"Search Hubspot Company1","type":"main","index":0},{"node":"Search Hubspot Company","type":"main","index":0}]]},"Set_company_id":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Search Hubspot Company1":{"main":[[{"node":"Set_Contact_id","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Link Contact to company","type":"main","index":0}]]}},"settings":{},"staticData":null,"pinData":{},"versionId":"800ee92c-f973-4465-a3f8-4c8cdb4795e3","triggerCount":1,"tags":[]}